In [123]:
from bs4 import BeautifulSoup
from datetime import time
from datetime import datetime
from datetime import timedelta
from collections import Counter
import json
import requests
import csv
import pandas as pd
import numpy as np
import aiohttp
import asyncio
import concurrent.futures
import io
import re

In [124]:
# def pull_all_data(division):
#     base_url = 'https://c3po.crossfit.com/api/competitions/v2/competitions/open/2024/leaderboards'
#     main_query = f'view=0&division={division}&region=0&scaled=0&sort=0'
#     r = requests.get(f'{base_url}?{main_query}')
#     data = r.json()
#     page_count = data['pagination']['totalPages']
#     with open('NewMaleOpenLeaderboard.csv', 'w', newline='') as csvfile:
#         csv_writer = csv.writer(csvfile)
#         csv_writer.writerow(['CompetitorID', 'CompetitorName', 'CountryName', 'RegionName', 'AffiliateName', 'Gender', 'Height', 'Age', 'Weight', 'Overall Rank', '24.1 Rank', '24.2 Rank', '24.3 Rank'])
#         for i in range(1, page_count+1):
#             full_url = f'{base_url}?{main_query}&page={i}'
#             r = requests.get(full_url)
#             data = r.json()
#             for row in data['leaderboardRows']:
#                 row_out = [
#                     row['entrant']['competitorId'],
#                     row['entrant']['competitorName'],
#                     row['entrant']['countryOfOriginName'],
#                     row['entrant']['regionName'],
#                     row['entrant']['affiliateName'],
#                     row['entrant']['gender'],
#                     row['entrant']['height'],
#                     row['entrant']['age'],
#                     row['entrant']['weight'],
#                     row['overallRank'],
#                     row['scores'][0]['rank'],
#                     row['scores'][1]['rank'],
#                     row['scores'][2]['rank'],
#                 ]
#                 csv_writer.writerow(row_out)

# if __name__ == '__main__':
#     pull_all_data(1)

In [125]:
# def pull_all_data(division):
#     base_url = 'https://c3po.crossfit.com/api/competitions/v2/competitions/open/2024/leaderboards'
#     main_query = f'view=0&division={division}&region=0&scaled=0&sort=0'
#     r = requests.get(f'{base_url}?{main_query}')
#     data = r.json()
#     page_count = data['pagination']['totalPages']
#     with open('NewFemaleOpenLeaderboard.csv', 'w', newline='') as csvfile:
#         csv_writer = csv.writer(csvfile)
#         csv_writer.writerow(['CompetitorID', 'CompetitorName', 'CountryName', 'RegionName', 'AffiliateName', 'Gender', 'Height', 'Age', 'Weight', 'Overall Rank', '24.1 Rank', '24.2 Rank', '24.3 Rank'])
#         for i in range(1, page_count+1):
#             full_url = f'{base_url}?{main_query}&page={i}'
#             r = requests.get(full_url)
#             data = r.json()
#             for row in data['leaderboardRows']:
#                 row_out = [
#                     row['entrant']['competitorId'],
#                     row['entrant']['competitorName'],
#                     row['entrant']['countryOfOriginName'],
#                     row['entrant']['regionName'],
#                     row['entrant']['affiliateName'],
#                     row['entrant']['gender'],
#                     row['entrant']['height'],
#                     row['entrant']['age'],
#                     row['entrant']['weight'],
#                     row['overallRank'],
#                     row['scores'][0]['rank'],
#                     row['scores'][1]['rank'],
#                     row['scores'][2]['rank'],
#                 ]
#                 csv_writer.writerow(row_out)

# if __name__ == '__main__':
#     pull_all_data(2)

In [126]:
Men_Leaderboard = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenOpenLeaderboard.csv')
Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,172 cm,29,190 lb,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69 in,28,185 lb,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,175 cm,25,88 kg,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,173 cm,24,85 kg,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67 in,33,190 lb,5,17,55,10

In [127]:
Women_Leaderboard = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/WomenOpenLeaderboard.csv')
Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,164 cm,23,70 kg,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,154 cm,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63 in,30,150 lb,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63 in,34,145 lb,5,15,59,17

In [128]:
# # Function to scrape Benchmark tables from Women athlete page
# def scrape_tables(athlete_id):
#     url = f"https://games.crossfit.com/athlete/{athlete_id}"
#     try:
#         response = requests.get(url)
#         response.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
#         soup = BeautifulSoup(response.content, 'html.parser')
#         tables = soup.find_all('table')
#         if tables:
#             last_four_tables = tables[-4:]
#             athlete_data = {}
#             for table in last_four_tables:
#                 table_data = {}
#                 for row in table.find_all('tr'):
#                     cells = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
#                     table_data[cells[0]] = cells[1]
#                 athlete_data.update(table_data)
#             return athlete_data
#         else:
#             print(f"No tables found for athlete ID {athlete_id}")
#             return None
#     except Exception as e:
#         print(f"Failed to retrieve webpage for athlete ID {athlete_id}: {e}")
#         return None

# # Load the DataFrame with athlete IDs
# athlete_ids = Women['CompetitorID'].tolist()

# # Sort athlete IDs numerically
# athlete_ids.sort(key=int)

# # Open a CSV file in write mode
# with open('WomenBenchmarks.csv', 'w', newline='') as csvfile:
#     # Create a CSV writer object
#     csv_writer = csv.writer(csvfile)
    
#     # Write headers
#     headers = ["Athlete ID", "Back Squat", "Chad1000x", "Clean and Jerk", "Deadlift", 
#                "Fight Gone Bad", "Filthy 50", "Fran", "Grace", "Helen", 
#                "L1 Benchmark", "Max Pull-Ups", "Run 5k", "Snatch", "Sprint 400m"]
#     csv_writer.writerow(headers)
    
#     # Set maximum number of concurrent workers
#     max_workers = 5  # Adjusted for Macbook Air
    
#     # Define a function to process each athlete ID
#     def process_athlete(athlete_id):
#         athlete_data = scrape_tables(athlete_id)
#         if athlete_data:
#             row_data = [athlete_id]
#             for header in headers[1:]:
#                 row_data.append(athlete_data.get(header, "--"))
#             csv_writer.writerow(row_data)
    
#     # Use ThreadPoolExecutor to execute scraping function concurrently
#     with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
#         executor.map(process_athlete, athlete_ids)

# print("Data has been written to WomenBenchmarks.csv successfully.")

In [129]:
# # Function to scrape Benchmark tables from Men athlete page
# def scrape_tables(athlete_id):
#     url = f"https://games.crossfit.com/athlete/{athlete_id}"
#     try:
#         response = requests.get(url)
#         response.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
#         soup = BeautifulSoup(response.content, 'html.parser')
#         tables = soup.find_all('table')
#         if tables:
#             last_four_tables = tables[-4:]
#             athlete_data = {}
#             for table in last_four_tables:
#                 table_data = {}
#                 for row in table.find_all('tr'):
#                     cells = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
#                     table_data[cells[0]] = cells[1]
#                 athlete_data.update(table_data)
#             return athlete_data
#         else:
#             print(f"No tables found for athlete ID {athlete_id}")
#             return None
#     except Exception as e:
#         print(f"Failed to retrieve webpage for athlete ID {athlete_id}: {e}")
#         return None

# # Load the DataFrame with athlete IDs
# athlete_ids = Men_Leaderboard['CompetitorID'].tolist()

# # Sort athlete IDs numerically
# athlete_ids.sort(key=int)

# # Open a CSV file in write mode
# with open('MenBenchmarks.csv', 'w', newline='') as csvfile:
#     # Create a CSV writer object
#     csv_writer = csv.writer(csvfile)
    
#     # Write headers
#     headers = ["Athlete ID", "Back Squat", "Chad1000x", "Clean and Jerk", "Deadlift", 
#                "Fight Gone Bad", "Filthy 50", "Fran", "Grace", "Helen", 
#                "L1 Benchmark", "Max Pull-Ups", "Run 5k", "Snatch", "Sprint 400m"]
#     csv_writer.writerow(headers)
    
#     # Set maximum number of concurrent workers
#     max_workers = 5  # Adjusted for Macbook Air
    
#     # Define a function to process each athlete ID
#     def process_athlete(athlete_id):
#         athlete_data = scrape_tables(athlete_id)
#         if athlete_data:
#             row_data = [athlete_id]
#             for header in headers[1:]:
#                 row_data.append(athlete_data.get(header, "--"))
#             csv_writer.writerow(row_data)
    
#     # Use ThreadPoolExecutor to execute scraping function concurrently
#     with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
#         executor.map(process_athlete, athlete_ids)

# print("Data has been written to MenBenchmarks.csv successfully.")

In [130]:
# # Function to Scrape Men's Profiles for past Open Results 
# def scrape_first_table(athlete_id):
#     url = f"https://games.crossfit.com/athlete/{athlete_id}"
#     try:
#         response = requests.get(url)
#         response.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
#         soup = BeautifulSoup(response.content, 'html.parser')
#         table = soup.find('table')
#         if table:
#             table_data = {}
#             for row in table.find_all('tr'):
#                 cells = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
#                 if len(cells) >= 2:
#                     year = cells[0]
#                     rank = cells[1]
#                     # Ensure year is between 2024 and 2011
#                     if year.isdigit() and 2024 >= int(year) >= 2011:
#                         table_data[year] = rank
#             return table_data
#         else:
#             print(f"No table found for athlete ID {athlete_id}")
#             return None
#     except Exception as e:
#         print(f"Failed to retrieve webpage for athlete ID {athlete_id}: {e}")
#         return None

In [131]:
# # Define max_workers globally
# max_workers = 5

# # Function to scrape the first table on the page
# def scrape_first_table(athlete_id):
#     url = f"https://games.crossfit.com/athlete/{athlete_id}"
#     try:
#         response = requests.get(url)
#         response.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
#         soup = BeautifulSoup(response.content, 'html.parser')
#         table = soup.find('table')
#         if table:
#             table_data = {}
#             for row in table.find_all('tr'):
#                 cells = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
#                 if len(cells) >= 2:
#                     year = cells[0]
#                     rank = cells[1]
#                     # Ensure year is between 2024 and 2011
#                     if year.isdigit() and 2024 >= int(year) >= 2011:
#                         table_data[year] = rank
#             return table_data
#         else:
#             print(f"No table found for athlete ID {athlete_id}")
#             return None
#     except Exception as e:
#         print(f"Failed to retrieve webpage for athlete ID {athlete_id}: {e}")
#         return None

# # Load the DataFrame with athlete IDs
# # Assuming you have a DataFrame named Men_Leaderboard and a column 'CompetitorID'
# # Replace this part with your actual data source
# athlete_ids = Men_Leaderboard['CompetitorID'].tolist()

# # Sort athlete IDs numerically
# athlete_ids.sort(key=int)

# # Open a CSV file in write mode for the first table
# with open('MenPastOpen.csv', 'w', newline='') as csvfile:
#     # Create a CSV writer object
#     csv_writer_first_table = csv.writer(csvfile)
    
#     # Write headers
#     headers_first_table = ["Athlete ID"] + [str(year) for year in range(2024, 2010, -1)]
#     csv_writer_first_table.writerow(headers_first_table)
    
#     # Define a function to process each athlete ID for the first table
#     def process_first_table(athlete_id):
#         athlete_data = scrape_first_table(athlete_id)
#         if athlete_data:
#             row_data = [athlete_id]
#             for year in range(2024, 2010, -1):
#                 row_data.append(athlete_data.get(str(year), "--"))
#             csv_writer_first_table.writerow(row_data)
    
#     # Use ThreadPoolExecutor to execute scraping function concurrently for the first table
#     with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
#         executor.map(process_first_table, athlete_ids)

# print("Data from the first table has been written to MenFirstTable.csv successfully.")

In [132]:
# # Define max_workers globally
# max_workers = 5

# # Function to scrape the first table on the page
# def scrape_first_table(athlete_id):
#     url = f"https://games.crossfit.com/athlete/{athlete_id}"
#     try:
#         response = requests.get(url)
#         response.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
#         soup = BeautifulSoup(response.content, 'html.parser')
#         table = soup.find('table')
#         if table:
#             table_data = {}
#             for row in table.find_all('tr'):
#                 cells = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
#                 if len(cells) >= 2:
#                     year = cells[0]
#                     rank = cells[1]
#                     # Ensure year is between 2024 and 2011
#                     if year.isdigit() and 2024 >= int(year) >= 2011:
#                         table_data[year] = rank
#             return table_data
#         else:
#             print(f"No table found for athlete ID {athlete_id}")
#             return None
#     except Exception as e:
#         print(f"Failed to retrieve webpage for athlete ID {athlete_id}: {e}")
#         return None

# # Load the DataFrame with athlete IDs
# # Assuming you have a DataFrame named Men_Leaderboard and a column 'CompetitorID'
# # Replace this part with your actual data source
# athlete_ids = Women_Leaderboard['CompetitorID'].tolist()

# # Sort athlete IDs numerically
# athlete_ids.sort(key=int)

# # Open a CSV file in write mode for the first table
# with open('WomenPastOpen.csv', 'w', newline='') as csvfile:
#     # Create a CSV writer object
#     csv_writer_first_table = csv.writer(csvfile)
    
#     # Write headers
#     headers_first_table = ["Athlete ID"] + [str(year) for year in range(2024, 2010, -1)]
#     csv_writer_first_table.writerow(headers_first_table)
    
#     # Define a function to process each athlete ID for the first table
#     def process_first_table(athlete_id):
#         athlete_data = scrape_first_table(athlete_id)
#         if athlete_data:
#             row_data = [athlete_id]
#             for year in range(2024, 2010, -1):
#                 row_data.append(athlete_data.get(str(year), "--"))
#             csv_writer_first_table.writerow(row_data)
    
#     # Use ThreadPoolExecutor to execute scraping function concurrently for the first table
#     with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
#         executor.map(process_first_table, athlete_ids)

# print("Data from the first table has been written to WomenFirstTable.csv successfully.")

In [133]:
# Specify the correct encoding
encoding = 'latin1'  # or 'ISO-8859-1', etc. - choose the one that works for your file

# Function to remove specific lines from a file
def remove_lines(file_path, lines_to_remove):
    with open(file_path, 'r', encoding=encoding) as file:
        lines = file.readlines()
    
    # Remove the specified lines
    for line_number in sorted(lines_to_remove, reverse=True):
        del lines[line_number]

    with open(file_path, 'w', encoding=encoding) as file:
        file.writelines(lines)

# List of line numbers to remove
lines_to_remove = [6335, 19690, 96172, 97074, 102157, 119426]  # Adjust line numbers as needed

# Remove specified lines from the CSV file
remove_lines('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/WomenBenchmarks.csv', lines_to_remove)

# Read the modified CSV file into a DataFrame
Women_Benchmarks = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/WomenBenchmarks.csv', encoding=encoding)

# Set pandas display options to show all columns without truncation
pd.set_option('display.max_columns', None)

# Display the DataFrame
Women_Benchmarks.head()

,Athlete ID,Back Squat,Chad1000x,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Max Pull-Ups,Run 5k,Snatch,Sprint 400m
0,1755,245 lb,--,165 lb,265 lb,293,--,4:29,2:25,11:09,--,--,25:08,120 lb,1:20
1,1775,303 lb,--,231 lb,345 lb,--,--,2:37,1:54,10:22,--,--,--,190 lb,--
2,1659,300 lb,--,235 lb,350 lb,--,--,2:15,--,--,--,--,23:51,190 lb,1:00
3,1802,250 lb,--,200 lb,330 lb,320,--,3:30,--,--,--,--,--,160 lb,1:23
4,1751,120 kg,--,97 kg,166 kg,--,22:54,3:39,1:52,9:11,--,--,--,73 kg,--

In [134]:
Men_Leaderboard = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenOpenLeaderboard.csv')
Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,172 cm,29,190 lb,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69 in,28,185 lb,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,175 cm,25,88 kg,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,173 cm,24,85 kg,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67 in,33,190 lb,5,17,55,10

In [135]:
# Function to convert kilograms to pounds and round to the nearest pound
def kg_to_lb(weight):
    if isinstance(weight, str):
        if 'kg' in weight:
            return round(float(weight.split()[0]) * 2.20462)
        else:
            return round(float(weight.split()[0]))
    elif isinstance(weight, float) and np.isnan(weight):
        return np.nan  # Return NaN if the weight is NaN
    else:
        return round(weight * 2.20462)  # If the weight is already in lbs, just return it

# Apply the conversion function to the Weight column
Men_Leaderboard['Weight'] = Men_Leaderboard['Weight'].apply(kg_to_lb)

# Print the updated DataFrame
Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,172 cm,29,190.0,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69 in,28,185.0,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,175 cm,25,194.0,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,173 cm,24,187.0,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67 in,33,190.0,5,17,55,10

In [136]:
# Rename the 'Weight' column to 'Weight (lbs)'
Men_Leaderboard.rename(columns={'Weight': 'Weight (lbs)'}, inplace=True)

Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,172 cm,29,190.0,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69 in,28,185.0,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,175 cm,25,194.0,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,173 cm,24,187.0,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67 in,33,190.0,5,17,55,10

In [137]:
# Function to convert centimeters to inches
def cm_to_inches(height):
    if isinstance(height, str):
        if 'cm' in height:
            return round(float(height.split()[0]) * 0.393701)
        else:
            return int(height.split()[0])
    elif isinstance(height, float) and np.isnan(height):
        return np.nan  # Return NaN if the height is NaN
    else:
        return height  # If the height is already in inches, just return it

# Apply the conversion function to the Height column
Men_Leaderboard['Height'] = Men_Leaderboard['Height'].apply(cm_to_inches)

# Print the updated DataFrame
Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,68.0,29,190.0,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69.0,28,185.0,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,69.0,25,194.0,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,68.0,24,187.0,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67.0,33,190.0,5,17,55,10

In [138]:
# Rename the 'Height' column to 'Height (in))'
Men_Leaderboard.rename(columns={'Height': 'Height (in)'}, inplace=True)
Men_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,173837,Jonne Koski,Finland,Europe,CrossFit 10K,M,68.0,29,190.0,1,27,2,1
1,310970,Saxon Panchik,United States,North America East,CrossFit Nolensville,M,69.0,28,185.0,2,25,6,8
2,156156,Jay Crouch,Australia,Oceania,NaN,M,69.0,25,194.0,3,13,26,25
3,1408660,Luka Vunjak,Serbia,Europe,CrossFit Minus,M,68.0,24,187.0,4,22,55,4
4,2725,Noah Ohlsen,United States,North America East,Peak 360 CrossFit,M,67.0,33,190.0,5,17,55,10

In [139]:
# Get unique values and sort them from highest to lowest
New_Height_sorted_Men = sorted(Men_Leaderboard['Height (in)'].unique(), reverse=True)
print(New_Height_sorted_Men)

[nan, 25801.0, 7087.0, 2756.0, 2124.0, 2112.0, 2040.0, 1189.0, 1071.0, 1000.0, 840.0, 780.0, 756.0, 752.0, 738.0, 728.0, 724.0, 713.0, 709.0, 708.0, 705.0, 701.0, 697.0, 693.0, 689.0, 685.0, 681.0, 677.0, 669.0, 665.0, 654.0, 601.0, 511.0, 510.0, 509.0, 508.0, 506.0, 492.0, 466.0, 444.0, 420.0, 393.0, 324.0, 310.0, 201.0, 194.0, 192.0, 191.0, 190.0, 188.0, 187.0, 186.0, 185.0, 184.0, 183.0, 182.0, 181.0, 180.0, 179.0, 178.0, 177.0, 176.0, 175.0, 174.0, 173.0, 172.0, 171.0, 170.0, 169.0, 168.0, 167.0, 166.0, 165.0, 162.0, 161.0, 118.0, 117.0, 110.0, 102.0, 99.0, 98.0, 97.0, 94.0, 93.0, 92.0, 90.0, 87.0, 86.0, 85.0, 84.0, 83.0, 82.0, 81.0, 80.0, 79.0, 78.0, 77.0, 76.0, 75.0, 74.0, 73.0, 72.0, 71.0, 70.0, 69.0, 68.0, 67.0, 66.0, 65.0, 64.0, 63.0, 62.0, 61.0, 60.0, 59.0, 58.0, 57.0, 56.0, 55.0, 54.0, 53.0, 50.0, 49.0, 47.0, 45.0, 43.0, 40.0, 37.0, 35.0, 33.0, 32.0, 31.0, 30.0, 29.0, 28.0, 27.0, 26.0, 25.0, 22.0, 18.0, 17.0, 12.0, 9.0, 7.0, 6.0, 5.0, 4.0, 2.0, 1.0, 0.0]

In [140]:
# Specify the correct encoding
encoding = 'latin1'  # or 'ISO-8859-1', etc. - choose the one that works for your file

# Function to remove lines with more than 15 fields from a file
def remove_lines_with_extra_fields(file_path):
    with open(file_path, 'r', encoding=encoding) as file:
        lines = file.readlines()

    # Identify lines with more than 15 fields and remove them
    new_lines = [line for line in lines if len(line.split(',')) <= 15]

    with open(file_path, 'w', encoding=encoding) as file:
        file.writelines(new_lines)

# Remove lines with more than 15 fields from the CSV file
remove_lines_with_extra_fields('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenPastOpen.csv')

# Read the modified CSV file into a DataFrame
Men_Past = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenPastOpen.csv', encoding=encoding)

# Display the DataFrame
Men_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,10942,68985thMen,62537thMen,66thMen Lower Extremity,--,126461stMen,64200thMen,19449thMen,20303rdMen,8704thMen,4733rdMen,3491stMen,1372ndMen,3243rdMen,5051stMen
1,10926,35977thMen,30964thMen,29723rdMen,21170thMen,18926thMen,19944thMen,16438thMen,12456thMen,11723rdMen,10968thMen,9164thMen,4686thMen,3880thMen,--
2,10976,164180thMen,143566thMen,119744thMen,--,--,--,--,--,--,--,--,--,14806thMen,--
3,10977,165637thMen,157742ndMen,87420thMen,56772ndMen,50805thMen,43038thMen,24249thMen,84288thMen,Men,Men,48836thMen,407thMen,661stMen,--
4,10966,60027thMen,49886thMen,55120thMen,37826thMen,22196thMen,34774thMen,45660thMen,55386thMen,46349thMen,29146thMen,19472ndMen,12970thMen,5729thMen,1996thMen

In [141]:
# Replace '--' with NaN
Men_Past.replace('--', np.nan, inplace=True)

# Print the updated DataFrame
Men_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,10942,68985thMen,62537thMen,66thMen Lower Extremity,NaN,126461stMen,64200thMen,19449thMen,20303rdMen,8704thMen,4733rdMen,3491stMen,1372ndMen,3243rdMen,5051stMen
1,10926,35977thMen,30964thMen,29723rdMen,21170thMen,18926thMen,19944thMen,16438thMen,12456thMen,11723rdMen,10968thMen,9164thMen,4686thMen,3880thMen,NaN
2,10976,164180thMen,143566thMen,119744thMen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806thMen,NaN
3,10977,165637thMen,157742ndMen,87420thMen,56772ndMen,50805thMen,43038thMen,24249thMen,84288thMen,Men,Men,48836thMen,407thMen,661stMen,NaN
4,10966,60027thMen,49886thMen,55120thMen,37826thMen,22196thMen,34774thMen,45660thMen,55386thMen,46349thMen,29146thMen,19472ndMen,12970thMen,5729thMen,1996thMen

In [142]:
#This gets rid of all the letters 
def extract_numbers(string):
    if pd.isnull(string):  # If the value is NaN, return NaN
        return np.nan
    elif isinstance(string, float):  # If the value is float, return NaN
        return np.nan
    else:
        numbers = re.findall(r'\d+', string)  # Extract numbers using regex
        if numbers:  # If numbers are found
            return int(numbers[0])  # Convert the first number found to an integer
        else:  # If no numbers found
            return np.nan  # Return NaN

# Apply the function to all columns except 'Athlete ID'
Men_Past[Men_Past.columns.difference(['Athlete ID'])] = Men_Past[Men_Past.columns.difference(['Athlete ID'])].applymap(extract_numbers)

# Print the updated DataFrame
Men_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,10942,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0
1,10926,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN
2,10976,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN
3,10977,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN
4,10966,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0

In [143]:
# Define a function to add the word "Rank" after all the years in the columns
def add_rank_suffix(col):
    if col.isdigit():
        return col + ' Rank'
    else:
        return col

# Rename the columns except 'Athlete ID'
Men_Past.rename(columns={col: add_rank_suffix(col) for col in Men_Past.columns if col != 'Athlete ID'}, inplace=True)

Men_Past.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank
0,10942,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0
1,10926,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN
2,10976,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN
3,10977,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN
4,10966,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0

In [144]:
# Function to remove lines with more than 15 fields from a CSV file
def remove_lines_with_extra_fields(file_path):
    with open(file_path, 'r', encoding='latin1') as file:
        reader = csv.reader(file)
        lines = [line for line in reader if len(line) <= 15]

    with open(file_path, 'w', encoding='latin1') as file:
        writer = csv.writer(file)
        writer.writerows(lines)

# Remove lines with more than 15 fields from the CSV file
remove_lines_with_extra_fields('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenBenchmarks.csv')

# Read the modified CSV file into a DataFrame
Men_Benchmarks = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenBenchmarks.csv')

# Display the DataFrame
Men_Benchmarks.head()

,Athlete ID,Back Squat,Chad1000x,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Max Pull-Ups,Run 5k,Snatch,Sprint 400m
0,88,455 lb,--,315 lb,518 lb,407,18:23,2:20,1:49,7:28,--,--,21:34,265 lb,0:54
1,1624,135 kg,--,113 kg,160 kg,398,22:16,4:00,2:16,9:22,--,--,23:32,77 kg,--
2,1618,325 lb,--,245 lb,415 lb,--,--,3:46,2:57,--,--,--,19:22,165 lb,1:05
3,86,335 lb,--,265 lb,415 lb,393,21:27,3:46,2:54,8:16,--,--,22:05,210 lb,1:04
4,1633,330 lb,--,250 lb,375 lb,314,--,3:57,4:00,--,--,--,20:00,198 lb,1:10

In [145]:
del Men_Benchmarks['Max Pull-Ups']
del Men_Benchmarks['Chad1000x']

In [146]:
# Replace '--' with NaN
Men_Benchmarks.replace('--', np.nan, inplace=True)

# Print the updated DataFrame
Men_Benchmarks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176450 entries, 0 to 176449
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Athlete ID      176418 non-null  object
 1   Back Squat      54704 non-null   object
 2   Clean and Jerk  50119 non-null   object
 3   Deadlift        55998 non-null   object
 4   Fight Gone Bad  9822 non-null    object
 5   Filthy 50       5766 non-null    object
 6   Fran            24313 non-null   object
 7   Grace           18782 non-null   object
 8   Helen           14213 non-null   object
 9   L1 Benchmark    624 non-null     object
 10  Run 5k          23022 non-null   object
 11  Snatch          47019 non-null   object
 12  Sprint 400m     11331 non-null   object
dtypes: object(13)
memory usage: 17.5+ MB

In [147]:
# Define a function to remove 'lb' and convert to pounds
def clean_and_convert(weight):
    try:
        if 'kg' in str(weight):
            return pd.to_numeric(weight.split()[0]) * 2.20462
        elif 'lb' in str(weight):
            return pd.to_numeric(weight.split()[0])
        else:
            return None
    except Exception as e:
        print(f"Error occurred: {e}")
        return None

# Columns to clean and convert
columns_to_clean = ['Back Squat', 'Clean and Jerk', 'Deadlift', 'Snatch']

# Apply the cleaning and conversion function to the specified columns
Men_Benchmarks[columns_to_clean] = Men_Benchmarks[columns_to_clean].applymap(clean_and_convert)

Men_Benchmarks.head()

,Athlete ID,Back Squat,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch,Sprint 400m
0,88,455.0000,315.00000,518.0000,407,18:23,2:20,1:49,7:28,NaN,21:34,265.00000,0:54
1,1624,297.6237,249.12206,352.7392,398,22:16,4:00,2:16,9:22,NaN,23:32,169.75574,NaN
2,1618,325.0000,245.00000,415.0000,NaN,NaN,3:46,2:57,NaN,NaN,19:22,165.00000,1:05
3,86,335.0000,265.00000,415.0000,393,21:27,3:46,2:54,8:16,NaN,22:05,210.00000,1:04
4,1633,330.0000,250.00000,375.0000,314,NaN,3:57,4:00,NaN,NaN,20:00,198.00000,1:10

In [148]:
# Rename the Columns
Men_Benchmarks.rename(columns={'Back Squat': 'Back Squat (lbs)', 'Clean and Jerk':'Clean and Jerk (lbs)', 'Deadlift': 'Deadlift (lbs)', 'Snatch': 'Snatch (lbs)'}, inplace=True)
Men_Benchmarks.head()

,Athlete ID,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m
0,88,455.0000,315.00000,518.0000,407,18:23,2:20,1:49,7:28,NaN,21:34,265.00000,0:54
1,1624,297.6237,249.12206,352.7392,398,22:16,4:00,2:16,9:22,NaN,23:32,169.75574,NaN
2,1618,325.0000,245.00000,415.0000,NaN,NaN,3:46,2:57,NaN,NaN,19:22,165.00000,1:05
3,86,335.0000,265.00000,415.0000,393,21:27,3:46,2:54,8:16,NaN,22:05,210.00000,1:04
4,1633,330.0000,250.00000,375.0000,314,NaN,3:57,4:00,NaN,NaN,20:00,198.00000,1:10

START THE PROCESS TO JOIN HERE

In [149]:
# Remove rows with duplicate Athlete IDs from Men_Past
Men_Past_no_duplicates = Men_Past.drop_duplicates(subset='Athlete ID')

In [150]:
# Remove rows with duplicate Athlete IDs from Men_Benchmarks
Men_Benchmarks_no_duplicates = Men_Benchmarks.drop_duplicates(subset='Athlete ID')

In [151]:
# Rename Column
Men_Leaderboard.rename(columns={'CompetitorID': 'Athlete ID'}, inplace=True)

In [152]:
# Remove rows with duplicate IDs from Men_Benchmarks
Men_Leaderboard_no_duplicates = Men_Leaderboard.drop_duplicates(subset='Athlete ID')

In [153]:
# Merge Men_Past with Men_Benchmarks
merged_df = pd.merge(Men_Past_no_duplicates, Men_Benchmarks_no_duplicates, on='Athlete ID', how='inner')
merged_df.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m
0,10942,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,285.0,585.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,225.0,NaN
1,10926,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,275.0,405.0,429,19:47,3:16,3:13,8:16,NaN,19:38,190.0,1:00
2,10976,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10977,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,300.0,485.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,255.0,NaN
4,10966,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,225.0,400.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,165.0,NaN

In [154]:
# Convert 'Athlete ID' to string (object) in Men_Leaderboard
Men_Leaderboard_no_duplicates['Athlete ID'] = Men_Leaderboard_no_duplicates['Athlete ID'].astype(str)

# Merge merged_df with Men_Leaderboard
PreClean_Crossfit = pd.merge(merged_df, Men_Leaderboard_no_duplicates, on='Athlete ID', how='left')

PreClean_Crossfit.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,10942,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,285.0,585.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,225.0,NaN,Everett Sloan,Canada,North America East,CrossFit Bytown,M,67.0,45.0,200.0,68985.0,51383.0,84516.0,80225.0
1,10926,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,275.0,405.0,429,19:47,3:16,3:13,8:16,NaN,19:38,190.0,1:00,Kevin Wood,Canada,North America East,CrossFit Moncton,M,75.0,43.0,196.0,35977.0,74333.0,17860.0,27790.0
2,10976,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,John Lazaro,United States,North America East,CrossFit Bridgewater,M,69.0,46.0,180.0,164180.0,156669.0,154294.0,142271.0
3,10977,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,300.0,485.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,255.0,NaN,Matthew Haynes,United States,North America West,CrossFit Westwood,M,71.0,31.0,180.0,165637.0,160697.0,154294.0,142271.0
4,10966,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,225.0,400.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,165.0,NaN,Nick DiMatteo,United States,North America East,CrossFit OTG,M,68.0,48.0,165.0,60027.0,47496.0,89266.0,54110.0

In [155]:
# # Output Crossfit to a CSV file
# PreClean_Crossfit.to_csv('Pre-Clean_Men_Crossfit.csv', index=False)

In [156]:
Men_Clean_Me = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Pre-Clean_Men_Crossfit.csv')
Men_Clean_Me.head()

/var/folders/xm/kc32pwjj5fj5xqf43yb4dz340000gn/T/ipykernel_44180/401025724.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Men_Clean_Me = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Pre-Clean_Men_Crossfit.csv')

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,10942,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,285.0,585.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,225.0,NaN,Everett Sloan,Canada,North America East,CrossFit Bytown,M,67.0,45.0,200.0,68985.0,51383.0,84516.0,80225.0
1,10926,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,275.0,405.0,429.0,19:47,3:16,3:13,8:16,NaN,19:38,190.0,1:00,Kevin Wood,Canada,North America East,CrossFit Moncton,M,75.0,43.0,196.0,35977.0,74333.0,17860.0,27790.0
2,10976,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,John Lazaro,United States,North America East,CrossFit Bridgewater,M,69.0,46.0,180.0,164180.0,156669.0,154294.0,142271.0
3,10977,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,300.0,485.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,255.0,NaN,Matthew Haynes,United States,North America West,CrossFit Westwood,M,71.0,31.0,180.0,165637.0,160697.0,154294.0,142271.0
4,10966,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,225.0,400.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,165.0,NaN,Nick DiMatteo,United States,North America East,CrossFit OTG,M,68.0,48.0,165.0,60027.0,47496.0,89266.0,54110.0

In [157]:
# Define the desired order of column names
desired_column_order = [
    'Athlete ID',
    'Gender',
    'CompetitorName',
    'CountryName',
    'RegionName',
    'AffiliateName',
    'Height (in)',
    'Age',
    'Weight (lbs)',
    'Overall Rank',
    '24.1 Rank',
    '24.2 Rank',
    '24.3 Rank',
    '2024 Rank',
    '2023 Rank',
    '2022 Rank',
    '2021 Rank',
    '2020 Rank',
    '2019 Rank',
    '2018 Rank',
    '2017 Rank',
    '2016 Rank',
    '2015 Rank',
    '2014 Rank',
    '2013 Rank',
    '2012 Rank',
    '2011 Rank',
    'Back Squat (lbs)',
    'Deadlift (lbs)',
    'Clean and Jerk (lbs)',
    'Snatch (lbs)',
    'Fight Gone Bad',
    'Filthy 50',
    'Fran',
    'Grace',
    'Helen',
    'L1 Benchmark',
    'Run 5k',
    'Sprint 400m'
 
]
Men_Clean_Me=Men_Clean_Me[desired_column_order]
Men_Clean_Me.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176260 entries, 0 to 176259
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Athlete ID            176259 non-null  object
 1   Gender                176255 non-null  object
 2   CompetitorName        176254 non-null  object
 3   CountryName           175672 non-null  object
 4   RegionName            176255 non-null  object
 5   AffiliateName         155236 non-null  object
 6   Height (in)           90301 non-null   float64
 7   Age                   176255 non-null  float64
 8   Weight (lbs)          89489 non-null   float64
 9   Overall Rank          176255 non-null  float64
 10  24.1 Rank             176255 non-null  float64
 11  24.2 Rank             176255 non-null  float64
 12  24.3 Rank             176255 non-null  float64
 13  2024 Rank             176257 non-null  float64
 14  2023 Rank             96307 non-null   float64
 15  2022 Rank             68845 non-null   float64
 16  2021 Rank             50372 non-null   float64
 17  2020 Rank             38145 non-null   float64
 18  2019 Rank             41144 non-null   float64
 19  2018 Rank             36627 non-null   float64
 20  2017 Rank             28870 non-null   float64
 21  2016 Rank             15935 non-null   float64
 22  2015 Rank             11414 non-null   float64
 23  2014 Rank             8039 non-null    float64
 24  2013 Rank             4608 non-null    float64
 25  2012 Rank             2203 non-null    float64
 26  2011 Rank             1108 non-null    float64
 27  Back Squat (lbs)      54643 non-null   float64
 28  Deadlift (lbs)        55938 non-null   float64
 29  Clean and Jerk (lbs)  50064 non-null   float64
 30  Snatch (lbs)          46966 non-null   float64
 31  Fight Gone Bad        9808 non-null    float64
 32  Filthy 50             5760 non-null    object
 33  Fran                  24287 non-null   object
 34  Grace                 18759 non-null   object
 35  Helen                 14200 non-null   object
 36  L1 Benchmark          624 non-null     object
 37  Run 5k                22997 non-null   object
 38  Sprint 400m           11312 non-null   object
dtypes: float64(26), object(13)
memory usage: 52.4+ MB

In [158]:
# Rename the Column Names
Men_Clean_Me.rename(columns={'CompetitorName':'Competitor Name', 'CountryName':'County Name', 'RegionName':'Region Name', 'AffiliateName': 'Affiliate Name'}, inplace=True)
Men_Clean_Me.head()

,Athlete ID,Gender,Competitor Name,County Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,10942,M,Everett Sloan,Canada,North America East,CrossFit Bytown,67.0,45.0,200.0,68985.0,51383.0,84516.0,80225.0,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,585.0,285.0,225.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,NaN
1,10926,M,Kevin Wood,Canada,North America East,CrossFit Moncton,75.0,43.0,196.0,35977.0,74333.0,17860.0,27790.0,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,405.0,275.0,190.0,429.0,19:47,3:16,3:13,8:16,NaN,19:38,1:00
2,10976,M,John Lazaro,United States,North America East,CrossFit Bridgewater,69.0,46.0,180.0,164180.0,156669.0,154294.0,142271.0,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10977,M,Matthew Haynes,United States,North America West,CrossFit Westwood,71.0,31.0,180.0,165637.0,160697.0,154294.0,142271.0,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,485.0,300.0,255.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,NaN
4,10966,M,Nick DiMatteo,United States,North America East,CrossFit OTG,68.0,48.0,165.0,60027.0,47496.0,89266.0,54110.0,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,400.0,225.0,165.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,NaN

In [159]:
# Convert 'Fight Gone Bad' column to float
Men_Clean_Me['Fight Gone Bad'] = Men_Clean_Me['Fight Gone Bad'].astype(float)

In [160]:
Men_Clean_Me.head()

,Athlete ID,Gender,Competitor Name,County Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,10942,M,Everett Sloan,Canada,North America East,CrossFit Bytown,67.0,45.0,200.0,68985.0,51383.0,84516.0,80225.0,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,585.0,285.0,225.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,NaN
1,10926,M,Kevin Wood,Canada,North America East,CrossFit Moncton,75.0,43.0,196.0,35977.0,74333.0,17860.0,27790.0,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,405.0,275.0,190.0,429.0,19:47,3:16,3:13,8:16,NaN,19:38,1:00
2,10976,M,John Lazaro,United States,North America East,CrossFit Bridgewater,69.0,46.0,180.0,164180.0,156669.0,154294.0,142271.0,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10977,M,Matthew Haynes,United States,North America West,CrossFit Westwood,71.0,31.0,180.0,165637.0,160697.0,154294.0,142271.0,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,485.0,300.0,255.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,NaN
4,10966,M,Nick DiMatteo,United States,North America East,CrossFit OTG,68.0,48.0,165.0,60027.0,47496.0,89266.0,54110.0,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,400.0,225.0,165.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,NaN

Clean Each Column Individually

In [161]:
Men_Clean_Me.columns

Index(['Athlete ID', 'Gender', 'Competitor Name', 'County Name', 'Region Name',
       'Affiliate Name', 'Height (in)', 'Age', 'Weight (lbs)', 'Overall Rank',
       '24.1 Rank', '24.2 Rank', '24.3 Rank', '2024 Rank', '2023 Rank',
       '2022 Rank', '2021 Rank', '2020 Rank', '2019 Rank', '2018 Rank',
       '2017 Rank', '2016 Rank', '2015 Rank', '2014 Rank', '2013 Rank',
       '2012 Rank', '2011 Rank', 'Back Squat (lbs)', 'Deadlift (lbs)',
       'Clean and Jerk (lbs)', 'Snatch (lbs)', 'Fight Gone Bad', 'Filthy 50',
       'Fran', 'Grace', 'Helen', 'L1 Benchmark', 'Run 5k', 'Sprint 400m'],
      dtype='object')

In [162]:
Men_Clean_Me['Athlete ID'].unique()

array(['10942', '10926', '10976', ..., 2729468, 2731196, 2729564],
      dtype=object)

In [163]:
Men_Clean_Me['Gender'].unique()

array(['M', nan, 'F'], dtype=object)

In [164]:
Men_Clean_Me['Competitor Name'].unique()

array(['Everett Sloan', 'Kevin Wood', 'John Lazaro', ..., 'JP Earnest',
       'David Crabb', 'Anthony Guarascio'], dtype=object)

In [165]:
Men_Clean_Me['County Name'].unique()

array(['Canada', 'United States', 'New Zealand', 'United Kingdom',
       'Germany', 'Kenya', 'Brazil', 'Australia', 'South Africa',
       'Denmark', 'Costa Rica', 'Sweden', 'Netherlands', 'Ireland',
       'France', 'Italy', 'Guatemala', 'Argentina', 'Lithuania',
       'Korea, Republic of', 'Philippines', 'Finland', 'India', 'Mexico',
       'Chile', 'Israel', 'Switzerland', 'Ecuador', 'Spain', 'Norway',
       'Hungary', 'Iceland', 'Czech Republic', 'Malaysia',
       'Brunei Darussalam', 'Colombia', 'Laos', 'Cayman Islands',
       'Portugal', 'United Arab Emirates', 'Belgium', 'Latvia', 'Peru',
       'China', 'Malta', 'Puerto Rico', nan, 'Bulgaria', 'Greece',
       'Japan', 'Singapore', 'Austria', 'Poland', 'Dominican Republic',
       'Croatia', 'Saudi Arabia', 'Slovakia', 'Zimbabwe', 'Barbados',
       'Hong Kong, China', 'Turkey', 'Estonia', 'Serbia', 'Bermuda',
       'Ukraine', 'Slovenia', 'Mauritius', 'Sri Lanka', 'Panama',
       'Namibia', 'Venezuela', 'Romania', 'Thailand',
       'Trinidad and Tobago', 'Chinese Taipei', 'Suriname',
       'Bosnia and Herzegovina', 'Fiji', 'Lebanon', 'Bolivia',
       'Afghanistan', 'Paraguay', 'Viet Nam', 'American Samoa',
       'Luxembourg', 'Jamaica', 'Aruba', 'Iran', 'Egypt', 'Honduras',
       'Cyprus', 'Morocco', 'Algeria', 'Montenegro', 'Angola',
       'Macedonia', 'Samoa', 'Kazakhstan', 'Syrian Arab Republic',
       'Nigeria', 'Uruguay', 'Oman', "Cte d'Ivoire", 'Georgia',
       'Indonesia', 'Andorra', 'El Salvador', 'San Marino', 'Nicaragua',
       'Mozambique', 'Jordan', 'Cambodia', 'Papua New Guinea', 'Guam',
       'Saint Lucia', 'Guyana', 'Palestinian Territory', 'Iraq',
       'Uzbekistan', 'Mongolia', 'Antigua and Barbuda', 'Moldova',
       'Bahamas', 'Botswana', 'Somalia', 'Kosovo', 'Vanuatu',
       'Liechtenstein', 'Pakistan', 'Tunisia', 'Virgin Islands, US',
       'Ghana', 'Madagascar', 'Kuwait', 'Kiribati', 'Nepal',
       'Virgin Islands, British', 'Libya', 'Bahrain', 'Tonga',
       'Cape Verde', 'Kyrgyzstan', 'Rwanda', 'Bangladesh', 'Albania',
       'Zambia', 'Grenada', 'Seychelles', 'Maldives', 'Uganda', 'Armenia',
       'Eritrea', 'Azerbaijan', 'Congo, The Democratic Republic of the',
       'Cameroon', 'Tanzania', 'Sudan', 'Benin', 'Sierra Leone', 'Monaco',
       'Qatar', 'Senegal', 'Liberia', 'Malawi', 'Tajikistan', 'Haiti',
       'Belize', 'Saint Kitts and Nevis', 'Swaziland', 'Nauru', 'Comoros',
       'Palau', 'Ethiopia', 'Mauritania', 'Cook Islands'], dtype=object)

In [166]:
Men_Clean_Me.rename(columns={'County Name':'Country Name'}, inplace=True)

In [167]:
Men_Clean_Me['Region Name'].unique()

array(['North America East', 'North America West', 'Oceania', 'Europe',
       'Africa', 'South America', 'Asia', nan], dtype=object)

In [168]:
Men_Clean_Me['Affiliate Name'].unique()

array(['CrossFit Bytown', 'CrossFit Moncton', 'CrossFit Bridgewater', ...,
       'CrossFit ARX South', 'CrossFit Gold Lions', 'CrossFit Kello'],
      dtype=object)

In [169]:
# Get unique values and sort them from highest to lowest
Height_sorted = sorted(Men_Clean_Me['Height (in)'].unique(), reverse=True)
print(Height_sorted)

[nan, 25801.0, 7087.0, 2756.0, 2124.0, 2112.0, 2040.0, 1189.0, 1071.0, 1000.0, 840.0, 780.0, 756.0, 752.0, 738.0, 728.0, 724.0, 713.0, 709.0, 708.0, 705.0, 701.0, 697.0, 693.0, 689.0, 685.0, 681.0, 677.0, 669.0, 665.0, 654.0, 601.0, 511.0, 510.0, 509.0, 508.0, 506.0, 492.0, 466.0, 444.0, 420.0, 393.0, 324.0, 310.0, 201.0, 194.0, 192.0, 191.0, 190.0, 188.0, 187.0, 186.0, 185.0, 184.0, 183.0, 182.0, 181.0, 180.0, 179.0, 178.0, 177.0, 176.0, 175.0, 174.0, 173.0, 172.0, 171.0, 170.0, 169.0, 168.0, 167.0, 166.0, 165.0, 162.0, 161.0, 118.0, 117.0, 110.0, 102.0, 99.0, 98.0, 97.0, 94.0, 93.0, 92.0, 90.0, 87.0, 86.0, 85.0, 84.0, 83.0, 82.0, 81.0, 80.0, 79.0, 78.0, 77.0, 76.0, 75.0, 74.0, 73.0, 72.0, 71.0, 70.0, 69.0, 68.0, 67.0, 66.0, 65.0, 64.0, 63.0, 62.0, 61.0, 60.0, 59.0, 58.0, 57.0, 56.0, 55.0, 54.0, 53.0, 50.0, 47.0, 45.0, 43.0, 40.0, 37.0, 35.0, 33.0, 32.0, 31.0, 30.0, 29.0, 28.0, 27.0, 26.0, 25.0, 22.0, 18.0, 17.0, 12.0, 9.0, 7.0, 6.0, 5.0, 4.0, 2.0, 1.0, 0.0]

In [170]:
# Count the occurrences of each unique value in the 'col1' column
value_counts = Men_Clean_Me['Height (in)'].value_counts()

# Sort the value counts in descending order
sorted_value_counts = value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(sorted_value_counts)

Height (in)
0.0            4
1.0           66
2.0            9
4.0            1
5.0           57
6.0          169
7.0            1
9.0            1
12.0           1
17.0           1
18.0           1
22.0           2
25.0           2
26.0           6
27.0           5
28.0           9
29.0           3
30.0           5
31.0           4
32.0           2
33.0           4
35.0           2
37.0           2
40.0           1
43.0           1
45.0           1
47.0           2
50.0           3
53.0           3
54.0           2
55.0           5
56.0           2
57.0           1
58.0           6
59.0           9
60.0          89
61.0          57
62.0          83
63.0         308
64.0         661
65.0        1807
66.0        3199
67.0        7415
68.0        8064
69.0       12550
70.0       14023
71.0       11530
72.0       12087
73.0        6659
74.0        5458
75.0        2743
76.0        1764
77.0         623
78.0         303
79.0         126
80.0          61
81.0          31
82.0           2
83.0           8
84.0           2
85.0           3
86.0           2
87.0           1
90.0           4
92.0           1
93.0           2
94.0           1
97.0           1
98.0           1
99.0           2
102.0          2
110.0          1
117.0          1
118.0          1
161.0          1
162.0          1
165.0          5
166.0          1
167.0          1
168.0          7
169.0          3
170.0         11
171.0          6
172.0          7
173.0          8
174.0          8
175.0         13
176.0          8
177.0          4
178.0          7
179.0          4
180.0         19
181.0          5
182.0          5
183.0         11
184.0          3
185.0          7
186.0          1
187.0          2
188.0          3
190.0          1
191.0          1
192.0          1
194.0          2
201.0          1
310.0          1
324.0          1
393.0          1
420.0          1
444.0          1
466.0          1
492.0          1
506.0          1
508.0          3
509.0          1
510.0          6
511.0          9
601.0          1
654.0          1
665.0          1
669.0          3
677.0          1
681.0          1
685.0          1
689.0          2
693.0          2
697.0          1
701.0          3
705.0          3
708.0          1
709.0          4
713.0          1
724.0          1
728.0          1
738.0          1
752.0          1
756.0          1
780.0          1
840.0          1
1000.0         1
1071.0         1
1189.0         1
2040.0         2
2112.0         1
2124.0         1
2756.0         1
7087.0         1
25801.0        6
Name: count, dtype: int64

In [171]:
# Replace values less than 48 or greater than 84 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Height (in)'] < 48) | (Men_Clean_Me['Height (in)'] > 84), 'Height (in)'] = pd.NaT

In [172]:
Men_Clean_Me['Age'].unique()

array([45., 43., 46., 31., 48., 50., 40., 42., 39., 36., 38., 37., 53.,
       47., 33., 35., 51., 52., 34., 44., 41., 32., 54., 49., 30., 29.,
       28., 27., nan, 26., 25., 24., 18., 23., 16., 22., 19., 20., 21.,
       17.])

In [173]:
# Replace values less than 50 or greater than 550 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Weight (lbs)'] < 50) | (Men_Clean_Me['Weight (lbs)'] > 550), 'Weight (lbs)'] = pd.NaT

In [174]:
# Count the occurrences of each unique value in the 'col1' column
weight_value_counts = Men_Clean_Me['Weight (lbs)'].value_counts()

# Sort the value counts in descending order
sorted_value_counts = weight_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(sorted_value_counts)

Weight (lbs)
54.0        1
55.0        1
56.0        3
60.0        4
61.0        2
62.0        2
63.0        3
64.0        6
65.0        5
66.0        3
67.0       10
68.0        8
69.0        8
70.0       19
71.0       15
72.0       23
73.0       26
74.0       16
75.0       35
76.0       24
77.0       18
78.0       43
79.0       18
80.0       51
81.0       19
82.0       33
83.0       25
84.0       30
85.0       22
86.0       12
87.0       16
88.0       15
89.0        7
90.0       27
91.0       12
92.0       15
93.0       11
94.0        6
95.0       25
96.0        3
97.0        2
98.0        9
99.0        3
100.0       4
101.0       1
102.0       3
103.0       2
104.0       1
105.0       3
106.0       4
108.0       4
110.0      13
112.0       4
113.0       1
114.0       1
115.0      10
116.0       1
117.0       5
118.0       5
119.0      10
120.0      14
121.0      20
122.0       4
123.0      17
124.0       4
125.0      28
126.0      23
127.0       3
128.0      43
129.0       6
130.0      74
131.0       2
132.0     122
133.0       5
134.0      89
135.0     107
136.0      11
137.0     176
138.0      32
139.0     203
140.0     179
141.0     185
142.0      42
143.0     415
144.0      16
145.0     314
146.0     258
147.0      53
148.0     399
149.0      37
150.0    1072
151.0      35
152.0     510
153.0      83
154.0    1395
155.0     811
156.0      90
157.0     689
158.0     186
159.0    1293
160.0    1137
161.0    1217
162.0     216
163.0    1281
164.0     106
165.0    3697
166.0      81
167.0     207
168.0    1460
169.0     120
170.0    3115
171.0     121
172.0    2251
173.0     262
174.0    1237
175.0    2566
176.0    3496
177.0     219
178.0     503
179.0    1247
180.0    2761
181.0    2210
182.0     397
183.0    2158
184.0     216
185.0    4855
186.0     218
187.0    2933
188.0     390
189.0     208
190.0    4066
191.0     146
192.0    1454
193.0     269
194.0    1610
195.0    2609
196.0    1107
197.0     205
198.0    2638
199.0     112
200.0    2208
201.0     769
202.0     221
203.0    1321
204.0     122
205.0    2934
206.0     128
207.0     858
208.0     225
209.0    1257
210.0    1427
211.0      72
212.0     695
213.0     101
214.0     507
215.0    1382
216.0     562
217.0     106
218.0     425
219.0      46
220.0    1834
221.0      37
222.0      86
223.0     231
224.0      53
225.0    1242
226.0      45
227.0     263
228.0      93
229.0     197
230.0     609
231.0     366
232.0      51
233.0      41
234.0     137
235.0     474
236.0     102
237.0      26
238.0     172
239.0      23
240.0     445
241.0      18
242.0      44
243.0     231
244.0      20
245.0     314
246.0      13
247.0      81
248.0      36
249.0      53
250.0     292
251.0      47
252.0      19
253.0      20
254.0     109
255.0     161
256.0      36
257.0      12
258.0      34
259.0       7
260.0     162
261.0       7
262.0      26
263.0       4
264.0       7
265.0     178
266.0       5
267.0      13
268.0      11
269.0      13
270.0      90
271.0      18
272.0      12
273.0      21
274.0       4
275.0      70
276.0      45
277.0       1
278.0      12
279.0       3
280.0      72
281.0       1
282.0      10
283.0       2
284.0       7
285.0      31
286.0       1
287.0      16
288.0       3
289.0       9
290.0      33
291.0       5
292.0       2
293.0       4
294.0       2
295.0      15
296.0       1
297.0       3
298.0      14
299.0       6
300.0      32
301.0       3
302.0       7
303.0       5
304.0       3
305.0       8
306.0       8
307.0       1
308.0       4
309.0      10
310.0       6
311.0       1
312.0       2
313.0       1
315.0       7
317.0       3
318.0       1
320.0      19
321.0       1
322.0       3
324.0       2
325.0       4
326.0       3
328.0       2
330.0       7
331.0       1
332.0       1
333.0       1
334.0       1
335.0       6
337.0       1
339.0       1
340.0       2
342.0       1
345.0       1
347.0       1
350.0       7
353.0       1
354.0       1
355.0       1
360.0       4
365.0       2
368.0       1
370.0       1
372.0       1
375.0       4
380.0       2
381.0       1
385.0       3
386.0       2
388.0       1
390.0       2
392.0       1
395.0       1
397.0       5
400.0       2
403.0       1
405.0       1
412.0       1
430.0       3
441.0       3
450.0       2
463.0       1
500.0       1
522.0       1
525.0       1
Name: count, dtype: int64

In [175]:
Men_Clean_Me['Overall Rank'].unique()

array([ 68985.,  35977., 164180., ..., 126635., 160643., 163043.])

In [176]:
Men_Clean_Me['24.3 Rank'].unique()

array([ 80225.,  27790., 142271., ..., 130751., 122355., 120224.])

In [177]:
# Replace values less than 45 or greater than 600 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Back Squat (lbs)'] < 45) | (Men_Clean_Me['Back Squat (lbs)'] > 600), 'Back Squat (lbs)'] = pd.NaT

In [178]:
# Count the occurrences of each unique value in the 'col1' column
BS_value_counts = Men_Clean_Me['Back Squat (lbs)'].value_counts()

# Sort the value counts in descending order
BS_sorted_value_counts = BS_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(BS_sorted_value_counts)

Back Squat (lbs)
45.0                     2
50.0                     1
50.70625999999999        1
55.1155                  2
56.0                     1
59.52474                 2
60.0                     1
66.1386                  3
69.0                     2
70.0                     1
75.0                     3
77.0                     1
77.1617                  1
78.0                     1
80.0                     1
83.0                     1
85.0                     1
85.98017999999999        1
87.0                     1
88.1848                  5
90.0                     5
90.38942                 1
93.0                     1
94.79866                 1
95.0                     9
98.0                     1
99.0                     2
99.2079                 10
100.0                    9
101.0                    1
101.41252                1
105.0                    3
105.82175999999998       1
106.0                    1
110.0                    9
110.231                 19
113.0                    1
114.0                    1
115.0                   14
118.0                    2
119.04948                2
120.0                   16
121.2541                11
123.0                    1
124.0                    1
125.0                   16
125.66334                1
127.0                    1
127.86795999999998       1
130.0                   14
131.0                    1
132.0                    2
132.2772                59
134.48182                1
135.0                   39
136.68643999999998       6
138.89105999999998       5
140.0                   18
141.0                    2
141.09568                2
143.3003                24
145.0                   28
145.50492                1
147.70953999999998       3
148.0                    1
149.91415999999998       5
150.0                   21
152.0                    1
152.11878                3
153.0                    2
154.0                    1
154.3234                94
155.0                   26
156.52802                1
158.73263999999998       7
160.0                   20
160.93725999999998       3
163.14188                6
165.0                   46
165.3465                74
167.55112                3
169.75573999999995       8
170.0                   17
171.96035999999998       3
174.0                    1
174.16498                3
175.0                   52
176.0                    4
176.3696               237
177.0                    1
178.0                    1
178.57422                1
180.0                   25
180.77884               29
182.98346                9
185.0                  113
185.18808                9
187.0                    2
187.3927               165
189.0                    1
189.59732                5
190.0                   16
191.0                    1
191.80194               11
192.0                    2
194.00656               14
195.0                   67
196.0                    1
196.21118                6
197.0                    1
198.0                    3
198.4158               393
200.0                  105
200.62042                4
201.0                    1
202.0                    2
202.82504               28
205.0                  199
205.02966               16
206.0                    1
207.0                    1
207.23428               13
208.0                    1
209.0                    2
209.4389               241
210.0                   46
211.0                    1
211.64352               13
212.0                    1
213.0                    2
213.84814               15
215.0                  161
216.0                    1
216.05276               12
217.0                    1
218.0                    1
218.25738                4
219.0                    1
220.0                   73
220.462                952
222.0                    3
222.66662               13
224.0                    2
224.87124               56
225.0                  410
226.0                    1
227.0                    3
227.07586               32
228.0                    4
229.28048               12
230.0                   62
231.0                    5
231.4851               479
233.0                    1
233.68972               14
234.0                    1
235.0                  309
235.89434               34
236.0                    2
237.0                    2
238.0                    2
238.09896               39
239.0                    1
240.0                   87
240.30358                7
241.0                    2
242.0                   19
242.5082              1090
243.0                    5
244.0                    1
244.71282               18
245.0                  465
246.0                    3
246.91744               68
247.0                    6
248.0                    3
249.0                    3
249.12206               28
250.0                  192
251.0                    4
251.32668                8
252.0                    4
253.0                    6
253.5313               625
254.0                    4
255.0                  509
255.73592               27
256.0                    2
257.0                    2
257.94054               63
258.0                    1
259.0                    1
260.0                  129
260.14516               41
261.0                    2
262.0                    5
262.34977999999995       8
263.0                    1
264.0                   15
264.5544              1619
265.0                  575
266.0                    1
266.75902               29
267.0                    6
268.96364               69
269.0                    2
270.0                  132
271.0                    1
271.16826               40
272.0                    5
273.0                    2
273.37287999999995      14
274.0                    2
275.0                  957
275.5775               757
276.0                   12
277.0                    5
277.78212               37
278.0                    1
279.98674               57
280.0                  202
281.0                    4
282.0                    7
282.19136               51
283.0                    2
284.39597999999995       9
285.0                  800
286.0                   30
286.6006              1613
287.0                   15
288.0                    1
288.80522               31
290.0                  181
291.0                    3
291.00984              104
292.0                    2
293.21446               60
294.0                    2
295.0                  628
295.41907999999995      33
296.0                    6
297.0                   13
297.6237               920
298.0                    5
299.82832               39
300.0                  803
301.0                    4
302.0                    5
302.03294               60
303.0                    3
304.0                    2
304.23756               56
305.0                 1045
306.0                   13
306.44217999999995       3
307.0                   10
308.0                   37
308.6468              1947
309.0                    9
310.0                  278
310.85142               53
312.0                    4
313.0                    2
313.05604              114
315.0                 1809
315.26066               76
316.0                   12
317.0                   10
317.46527999999995      28
318.0                    4
319.0                    7
319.6699               883
320.0                  329
321.0                    6
321.87452               38
322.0                    7
323.0                    3
324.0                    2
324.07914               63
325.0                 1152
326.0                    7
326.28376               48
327.0                    9
328.0                    5
328.48837999999995       1
329.0                    1
330.0                  383
330.693               1810
331.0                   10
332.0                    5
332.89762               46
333.0                    2
334.0                    2
335.0                 1332
335.10224               96
336.0                   11
337.0                   12
337.30686               48
338.0                    7
339.0                    2
339.51147999999995      20
340.0                  327
341.0                    8
341.7161               782
342.0                   11
343.0                    2
343.92072               50
344.0                    4
345.0                 1054
346.0                    7
346.12534               49
347.0                    8
348.0                    3
348.32996               37
350.0                  621
350.53457999999995       2
351.0                    2
352.0                   34
352.7392              1562
353.0                   13
354.0                    4
354.94382               47
355.0                  958
356.0                    5
357.0                   12
357.14844               70
358.0                    5
359.0                    3
359.35306               49
360.0                  260
361.55768               12
362.0                    5
363.0                   14
363.7623               686
364.0                    3
365.0                 1605
365.96692               31
366.0                   12
367.0                   22
368.0                    2
368.17154               41
369.0                    1
370.0                  241
370.37616               31
371.0                    3
372.0                    5
372.58078                4
373.0                    1
374.0                   19
374.7854              1072
375.0                  929
376.0                    7
376.99002               34
377.0                   13
378.0                    3
379.0                    2
379.19464               66
380.0                  214
381.0                    2
381.39926               41
382.0                    2
383.0                    3
383.60388               10
384.0                    2
385.0                 1142
385.8085               452
386.0                    6
387.0                   10
388.0                    4
388.01312               26
389.0                    1
390.0                  192
390.21774               28
391.0                    4
392.0                    1
392.42236               19
393.0                    1
394.62698                1
395.0                  427
396.0                   25
396.8316               944
397.0                    6
398.0                    1
399.03622               34
400.0                  538
401.0                   12
401.24084               60
402.0                    8
403.0                    5
403.44546               31
404.0                    1
405.0                 1577
405.65008               19
406.0                    3
407.0                   26
407.8547               345
408.0                   11
409.0                    2
410.0                  233
410.05932               17
411.0                    5
412.0                    7
412.26394               17
413.0                    2
414.0                    1
414.46856                6
415.0                  567
416.0                    7
416.67318                2
417.0                    9
418.0                   15
418.8778               436
419.0                    3
420.0                  215
421.0                    2
421.08242               18
422.0                    5
423.0                    1
423.28703999999993      28
424.0                    3
425.0                  749
425.49166               17
426.0                    7
427.0                   11
427.69628                1
428.0                    4
429.0                    4
429.9009               132
430.0                  154
431.0                    3
432.0                    2
434.0                    1
434.31013999999993       4
435.0                  447
436.0                    6
436.51476                1
437.0                    7
438.0                    1
440.0                  224
440.924                502
441.0                    3
442.0                    6
443.0                    1
443.12862               20
445.0                  264
445.33323999999993      19
446.0                    5
447.0                    4
447.53786                5
448.0                    2
449.74248                3
450.0                  227
451.0                    6
451.9471               113
452.0                    6
453.0                    1
454.15172                8
455.0                  373
456.0                    4
456.35633999999993       8
457.0                    1
458.0                    1
458.56096                3
459.0                    1
460.0                   81
461.0                    2
462.0                    8
462.9702               160
463.0                    3
465.0                  216
465.17482                2
467.0                    3
467.37943999999993       9
468.0                    2
469.58406                1
470.0                   48
471.0                    1
472.0                    2
473.0                    4
473.9933                40
474.0                    1
475.0                  206
476.19792                1
478.40253999999993       5
480.0                   32
481.0                    1
482.0                    1
482.81178                1
484.0                    3
485.0                  140
485.0164                95
487.0                    3
487.22102                3
489.0                    1
489.42563999999993       3
490.0                   15
491.63026                1
493.83488                1
495.0                   54
496.0                    1
496.0395                11
498.0                    1
498.24412                1
500.0                  194
500.44873999999993       3
501.0                    7
502.0                    1
502.65336                1
503.0                    1
505.0                   83
506.0                    2
507.0                    7
507.0626                37
509.0                    1
509.26722                1
510.0                   22
511.47183999999993       1
512.0                    1
515.0                   53
517.0                    2
518.0                    3
518.0857                13
520.0                   16
520.29032                1
521.0                    1
524.0                    1
524.6995599999999        1
525.0                   40
528.0                    1
529.1088                19
530.0                   10
533.0                    1
533.5180399999999        2
535.0                   23
535.7226599999999        1
539.0                    1
540.0                    4
540.1319                 2
545.0                   14
546.7457599999999        1
547.0                    1
550.0                   24
551.0                    2
551.155                 13
555.0                   10
560.0                    1
562.0                    1
562.1781                 2
565.0                   19
570.0                    1
573.2012                 6
575.0                    8
580.0                    2
584.2243                 2
585.0                    4
586.0                    1
595.2474                 1
599.6566399999999        3
600.0                    9
Name: count, dtype: int64

In [179]:
# Replace values less than 44 or greater than 700 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Deadlift (lbs)'] < 44) | (Men_Clean_Me['Deadlift (lbs)'] > 700), 'Deadlift (lbs)'] = pd.NaT

In [180]:
# Count the occurrences of each unique value in the 'col1' column
DL_value_counts = Men_Clean_Me['Deadlift (lbs)'].value_counts()

# Sort the value counts in descending order
DL_sorted_value_counts = DL_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(DL_sorted_value_counts)

Deadlift (lbs)
44.0                     1
44.0924                  6
45.0                     2
46.29702                 1
50.0                     1
65.0                     1
69.0                     1
72.0                     1
75.0                     4
77.1617                  1
79.36631999999999        1
80.0                     2
83.0                     1
83.77556                 1
85.0                     2
88.1848                  1
90.0                     1
94.79866                 2
95.0                     3
99.0                     1
99.2079                  3
100.0                    4
105.0                    3
105.82175999999998       1
108.0                    2
110.0                    2
110.231                  4
112.43562                1
114.64024                1
115.0                    6
119.04948                1
120.0                    6
121.2541                 2
125.0                    6
125.66334                1
126.0                    1
130.0                    8
132.2772                15
134.0                    1
134.48182               17
135.0                   25
136.68643999999998       4
138.89105999999998       4
140.0                   11
141.0                    1
141.09568                1
142.0                    2
143.0                    1
143.3003                 6
145.0                    9
145.50492                2
147.0                    1
149.91415999999998       1
150.0                   13
152.11878                1
154.3234                29
155.0                   10
158.73263999999998       1
160.0                   21
160.93725999999998       2
162.0                    2
165.0                   18
165.3465                 8
168.0                    1
169.75573999999995       2
170.0                   10
171.96035999999998       2
174.16498                2
175.0                   13
176.3696                35
178.57422                1
180.0                   16
180.77884                3
181.0                    2
182.98346               13
183.0                    1
185.0                   38
185.18808                4
186.0                    2
187.3927                13
189.59732                1
190.0                   14
191.80194                1
195.0                   19
196.0                    1
198.0                    1
198.4158                73
200.0                   28
201.0                    1
202.0                    2
202.82504                3
203.0                    1
205.0                   46
205.02966                1
206.0                    1
207.23428                1
208.0                    1
209.4389                33
210.0                   16
211.64352                2
213.84814                2
215.0                   42
216.05276                2
217.0                    1
218.25738                1
220.0                   23
220.462                218
222.66662                5
224.0                    1
224.87124               20
225.0                  114
227.07586                5
229.28048                5
230.0                   12
231.0                    2
231.4851                71
232.0                    1
233.68972                6
235.0                   48
235.89434                7
238.0                    1
238.09896                3
239.0                    1
240.0                   15
240.30358                1
242.0                    2
242.5082               315
244.0                    1
244.71282                6
245.0                  104
246.0                    2
246.91744               11
248.0                    1
249.12206                3
250.0                   45
251.32668                2
252.0                    1
253.0                    1
253.5313               125
254.0                    1
255.0                  107
255.73592                6
256.0                    2
257.94054               12
259.0                    2
260.0                   30
260.14516               11
261.0                    1
262.34977999999995       1
264.0                    7
264.5544               505
265.0                  104
266.75902                1
267.0                    1
268.96364               18
270.0                   22
271.0                    1
271.16826                9
272.0                    1
273.0                    1
273.37287999999995       5
274.0                    1
275.0                  205
275.5775               225
276.0                    2
277.0                    2
277.78212                4
279.98674               22
280.0                   36
282.19136               13
284.39597999999995       2
285.0                  196
286.0                    9
286.6006               704
287.0                    6
288.80522                8
290.0                   37
291.0                    1
291.00984               26
293.0                    2
293.21446               14
295.0                  185
295.41907999999995       9
296.0                    1
297.0                    5
297.6237               347
299.82832               13
300.0                  236
301.0                    2
302.0                    1
302.03294               13
304.0                    3
304.23756               22
305.0                  425
306.0                    1
306.44217999999995       4
307.0                    3
308.0                   13
308.6468              1118
309.0                    4
310.0                   78
310.85142                8
311.0                    3
312.0                    2
313.0                    2
313.05604               55
314.0                    2
315.0                  860
315.26066               40
316.0                    6
317.0                    4
317.46527999999995      14
318.0                    2
319.0                    6
319.6699               506
320.0                  120
321.87452               21
323.0                    1
324.0                    5
324.07914               21
325.0                  565
326.0                    4
326.28376                9
327.0                    1
328.0                    1
328.48837999999995       7
329.0                    2
330.0                  164
330.693               1415
331.0                    8
332.0                    2
332.89762               21
333.0                    4
334.0                    1
335.0                  687
335.10224               63
336.0                    7
337.0                    1
337.30686               26
338.0                    4
339.0                    1
339.51147999999995      11
340.0                  145
341.0                    6
341.7161               590
342.0                    5
343.0                    2
343.92072               33
344.0                    3
345.0                  709
346.0                    5
346.12534               25
347.0                    4
348.0                    3
348.32996               25
350.0                  303
350.53457999999995       7
351.0                    5
352.0                   18
352.7392              1777
353.0                    7
354.0                    1
354.94382               41
355.0                  660
356.0                    8
357.0                    8
357.14844               72
358.0                    1
359.35306               43
360.0                  141
361.0                    1
361.55768               14
362.0                    4
363.0                    3
363.7623               733
364.0                    6
365.0                 1351
365.96692               30
366.0                    8
367.0                   10
368.0                    4
368.17154               52
370.0                  160
370.37616               29
371.0                    1
372.0                    4
372.58078                8
373.0                    1
374.0                   13
374.7854              1691
375.0                  863
376.0                    6
376.99002               32
377.0                   10
378.0                    1
379.0                    5
379.19464               71
380.0                  179
381.0                    4
381.39926               40
382.0                    2
383.0                    3
383.60388               22
384.0                    1
385.0                 1081
385.8085               719
386.0                    8
387.0                    6
388.0                    7
388.01312               25
389.0                    1
390.0                  145
390.21774               34
391.0                    3
392.0                    3
392.42236               29
393.0                    1
394.0                    1
394.62698                5
395.0                  524
396.0                   17
396.8316              2025
397.0                   11
398.0                    4
399.03622               61
400.0                  682
401.0                    8
401.24084               92
402.0                    8
403.0                    5
403.44546               55
404.0                    5
405.0                 2470
405.65008               30
406.0                   16
407.0                   49
407.8547               656
408.0                   12
409.0                    1
410.0                  338
410.05932               42
411.0                    4
412.0                    9
412.26394               44
413.0                    8
414.0                    3
414.46856               36
415.0                 1263
416.0                    9
416.67318                6
417.0                    9
418.0                   27
418.8778              1484
419.0                    8
420.0                  323
421.0                    6
421.08242               33
422.0                    4
423.0                    6
423.28703999999993      71
424.0                    3
425.0                 1608
425.49166               46
426.0                    9
427.0                   16
427.69628                5
428.0                    1
429.0                    7
429.9009               473
430.0                  249
431.0                    3
432.0                    7
432.10552               17
433.0                    4
434.0                    2
434.31013999999993      30
435.0                 1090
436.0                    9
436.51476               17
437.0                   14
438.0                    2
438.71938                4
439.0                    1
440.0                  302
440.924               2188
441.0                   23
442.0                    9
443.0                    4
443.12862              103
444.0                    5
445.0                  675
445.33323999999993     120
446.0                    6
447.0                    9
447.53786               28
448.0                    2
449.0                    2
449.74248               17
450.0                  470
451.0                    7
451.9471               579
452.0                    4
453.0                    4
454.0                    1
454.15172               36
455.0                 1345
456.0                    8
456.35633999999993      41
457.0                   11
458.0                    4
458.56096               25
460.0                  193
460.76558                1
461.0                    2
462.0                   17
462.9702              1111
463.0                   12
464.0                    1
465.0                  798
465.17482               48
466.0                    6
467.0                    7
467.37943999999993      51
468.0                    3
469.0                    5
469.58406               15
470.0                  118
471.0                    4
471.78868                8
472.0                    3
473.0                    7
473.9933               372
474.0                    2
475.0                  904
476.0                    3
476.19792               11
477.0                    7
478.0                    5
478.40253999999993      13
480.0                  121
480.60716               15
481.0                    3
482.0                    2
484.0                   13
485.0                  556
485.0164               822
486.0                    3
487.0                    9
487.22102               24
488.0                    1
489.0                    1
489.42563999999993      39
490.0                   78
491.0                    1
491.63026               19
493.0                    1
493.83488                7
494.0                    1
495.0                  359
496.0                    2
496.0395               201
498.0                    3
498.24412                9
500.0                  981
500.44873999999993      17
501.0                   33
502.0                   14
502.65336                8
503.0                    6
504.0                    2
504.85798                1
505.0                  666
506.0                   14
507.0                   18
507.0626               503
508.0                    9
509.0                    1
509.26722               24
510.0                  175
511.0                    3
511.47183999999993      14
512.0                   14
513.0                    4
513.6764599999999       16
514.0                    1
515.0                  489
515.88108               10
516.0                    6
517.0                    8
518.0                    4
518.0857               117
520.0                  113
520.29032                5
521.0                    1
522.0                    3
522.4949399999999        7
523.0                    2
524.6995599999999        5
525.0                  407
526.0                    1
526.90418                1
527.0                    4
528.0                    6
529.0                    5
529.1088               326
530.0                   88
531.0                    2
531.31342                6
532.0                    2
533.0                    4
533.5180399999999       14
534.0                    3
535.0                  229
535.7226599999999        9
536.0                    1
537.0                    1
537.92728                1
539.0                    3
540.0                   52
540.1319                77
541.0                    4
542.0                    2
542.33652                3
543.0                    1
544.5411399999999        1
545.0                  194
546.0                    1
546.7457599999999        2
547.0                    1
548.95038                1
549.0                    1
550.0                  189
551.0                    7
551.155                212
552.0                    1
553.0                    1
553.35962                6
555.0                  112
555.5642399999999        8
556.0                    3
557.0                    1
557.7688599999999        1
558.0                    1
560.0                   28
561.0                    3
562.0                    4
562.1781                23
564.38272                1
565.0                  106
566.0                    2
566.5873399999999        2
567.0                    3
568.0                    1
569.0                    1
570.0                   28
572.0                    3
573.0                    3
573.2012                83
575.0                   63
575.40582                2
577.0                    1
577.6104399999999        4
578.0                    1
579.8150599999999        3
580.0                    7
581.0                    3
584.0                    2
584.2243                21
585.0                   76
586.0                    2
586.42892                1
587.0                    2
589.0                    1
590.0                    7
592.0                    1
593.04278                1
595.0                   13
595.2474                35
599.6566399999999        2
600.0                   76
601.0                    4
601.8612599999999        3
602.0                    2
603.0                    2
604.0                    1
605.0                   48
606.0                    3
606.2705                 6
610.0                    7
613.0                    1
615.0                   30
616.0                    1
617.0                    1
617.2936                11
619.0                    1
620.0                    8
621.7028399999999        1
623.0                    2
625.0                   13
626.0                    1
628.3167                 4
630.0                    5
635.0                   17
639.3398                 4
640.0                    2
643.7490399999999        1
644.0                    1
645.0                    4
645.9536599999999        1
650.0                    8
650.3629                 2
655.0                    7
660.0                    3
661.0                    1
661.386                  8
663.59062                2
665.0                    4
666.0                    1
669.0                    1
670.0                    2
672.4091                 1
675.0                    4
680.0                    1
683.4322                 2
685.0                    2
685.63682                1
700.0                    4
Name: count, dtype: int64

In [181]:
# Replace values less than 44 or greater than 500 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Clean and Jerk (lbs)'] < 44) | (Men_Clean_Me['Clean and Jerk (lbs)'] > 500), 'Clean and Jerk (lbs)'] = pd.NaT

In [182]:
# Count the occurrences of each unique value in the 'col1' column
CJ_value_counts = Men_Clean_Me['Clean and Jerk (lbs)'].value_counts()

# Sort the value counts in descending order
CJ_sorted_value_counts = CJ_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(CJ_sorted_value_counts)

Clean and Jerk (lbs)
44.0924                  5
45.0                    12
50.0                     2
51.0                     1
52.91087999999999        1
55.0                     4
55.1155                  3
56.0                     1
59.52474                 1
60.0                    10
61.72935999999999        1
62.0                     1
63.0                     1
64.0                     1
65.0                     5
66.1386                 12
67.0                     1
68.0                     2
69.0                     1
70.0                    10
71.0                     1
72.75246                 2
74.0                     1
74.95707999999999        1
75.0                    17
77.0                     2
77.1617                 18
78.0                     1
79.36631999999999        2
80.0                    13
81.57094                 2
83.0                     1
83.77556                 3
85.0                    16
86.0                     1
87.0                     1
88.0                     1
88.1848                 45
89.0                     1
90.0                     5
90.38942                 1
92.59404                 4
93.0                     2
94.0                     1
94.79866                13
95.0                    58
97.00328                 2
98.0                     1
99.0                     1
99.2079                 42
100.0                   24
101.41252                3
102.0                    2
103.61714                3
105.0                   47
105.82175999999998       8
108.02638                1
110.0                   21
110.231                132
112.0                    3
112.43562                4
113.0                    1
114.0                    1
114.64024               10
115.0                   74
116.84485999999998      10
118.0                    1
119.04948                9
120.0                   16
121.2541               108
123.0                    3
123.45872               11
125.0                   76
125.66334               22
126.0                    1
127.0                    1
127.86795999999998      12
130.0                   18
130.07258                5
132.0                    6
132.2772               376
134.0                    1
134.48182               27
135.0                  255
136.0                    1
136.68643999999998      36
137.0                    2
138.89105999999998      22
140.0                   40
141.09568               17
142.0                    3
143.0                    5
143.3003               351
144.0                    1
145.0                  200
145.50492                9
147.0                    1
147.70953999999998      35
148.0                    1
149.0                    2
149.91415999999998      44
150.0                   76
152.11878               10
153.0                    4
154.0                    7
154.3234               731
155.0                  369
156.52802               18
157.0                    5
158.0                    4
158.73263999999998      88
159.0                    1
160.0                   94
160.93725999999998      56
162.0                    2
163.0                    2
163.14188               29
164.0                    2
165.0                  513
165.3465               730
166.0                    1
167.0                    9
167.55112               34
168.0                    1
169.75573999999995      61
170.0                  147
171.96035999999998      83
172.0                    6
173.0                    2
174.0                    1
174.16498               12
175.0                  589
176.0                   18
176.3696              1242
177.0                   12
178.0                    2
178.57422               34
180.0                  132
180.77884              125
181.0                    2
182.0                    6
182.98346              108
183.0                    2
184.0                    2
185.0                 1212
185.18808               59
186.0                   14
187.0                   24
187.3927              1173
188.0                    4
189.0                    4
189.59732               60
190.0                  232
191.0                    4
191.80194              120
192.0                    4
194.0                    2
194.00656              104
195.0                  767
196.0                    8
196.21118               13
197.0                    5
198.0                   21
198.4158              1615
199.0                    1
200.0                  394
200.62042               47
201.0                    5
202.0                   10
202.82504              170
203.0                    2
204.0                    2
205.0                 1582
205.02966              134
206.0                    6
207.0                   19
207.23428               44
208.0                    7
209.0                   15
209.4389              1222
210.0                  288
211.0                    6
211.64352               68
212.0                    5
213.0                    5
213.84814               94
214.0                    3
215.0                 1171
216.0                   16
216.05276              116
217.0                   11
218.0                    4
218.25738                5
219.0                    1
220.0                  277
220.462               1933
221.0                    6
222.0                    6
222.66662               92
223.0                    2
224.0                    2
224.87124              240
225.0                 2226
226.0                   12
227.0                   19
227.07586              141
228.0                    5
229.0                    7
229.28048               36
230.0                  359
231.0                   16
231.4851              1222
232.0                    9
233.0                    3
233.68972               75
234.0                    3
235.0                 1565
235.89434              144
236.0                   19
237.0                   24
238.0                   12
238.09896              114
239.0                    4
240.0                  378
240.30358               16
241.0                    4
242.0                   40
242.5082              1542
243.0                    8
244.0                    5
244.71282               76
245.0                 1789
246.0                   17
246.91744              130
247.0                   30
248.0                   14
249.12206               77
250.0                  471
251.0                    7
251.32668               31
252.0                   11
253.0                   23
253.5313              1148
254.0                   11
255.0                 1401
255.73592               92
256.0                   16
257.0                   22
257.94054              103
258.0                    2
259.0                    2
260.0                  354
260.14516               97
261.0                    1
262.0                    7
262.34977999999995      16
263.0                    3
264.0                   17
264.5544              1295
265.0                 1531
266.0                   17
266.75902               63
267.0                   13
268.0                    5
268.96364               85
269.0                    3
270.0                  232
271.0                    7
271.16826               53
272.0                    7
273.0                    3
273.37287999999995      25
274.0                    1
275.0                 1596
275.5775               808
276.0                   18
277.0                   17
277.78212               53
278.0                    2
279.0                    2
279.98674               67
280.0                  272
281.0                    3
282.0                   13
282.19136               49
283.0                    4
284.0                    4
284.39597999999995       3
285.0                  951
286.0                   34
286.6006               809
287.0                   18
288.0                    5
288.80522               51
289.0                    1
290.0                  222
291.0                    6
291.00984               79
292.0                    9
293.0                    1
293.21446               37
295.0                  593
295.41907999999995      11
296.0                    3
297.0                   25
297.6237               377
298.0                    6
299.0                    1
299.82832               38
300.0                  570
301.0                   18
302.0                   15
302.03294               33
303.0                    5
304.0                    3
304.23756               39
305.0                  621
306.0                   11
306.44217999999995       2
307.0                   14
308.0                   25
308.6468               402
309.0                    3
310.0                  106
310.85142               24
311.0                    5
312.0                    6
313.0                    1
313.05604               41
314.0                    2
315.0                  759
315.26066               40
316.0                    5
317.0                   13
317.46527999999995       7
318.0                    5
319.0                    5
319.6699               184
320.0                  157
321.0                    3
321.87452               12
322.0                    5
323.0                    2
324.0                    1
324.07914               13
325.0                  357
326.0                    9
326.28376               13
327.0                    4
328.0                    4
328.48837999999995       2
330.0                  142
330.693                190
331.0                    3
332.0                    4
332.89762               17
333.0                    1
335.0                  329
335.10224               24
336.0                    7
337.0                    8
337.30686               10
338.0                    2
339.51147999999995       2
340.0                   87
341.0                    4
341.7161                70
342.0                    4
343.0                    1
343.92072                7
345.0                  126
346.12534                5
347.0                    2
348.0                    2
348.32996                5
350.0                   81
351.0                    3
352.0                   12
352.7392                76
353.0                    4
354.0                    2
354.94382                7
355.0                   89
356.0                    2
357.0                    4
357.14844                4
358.0                    1
359.35306                2
360.0                   36
361.0                    1
361.55768                1
362.0                    1
363.0                    2
363.7623                23
364.0                    1
365.0                   79
365.96692                2
366.0                    2
367.0                    4
368.0                    1
368.17154                3
370.0                   21
370.37616                2
371.0                    1
372.0                    1
374.7854                17
375.0                   31
376.0                    1
376.99002                1
377.0                    1
380.0                   10
381.39926                1
382.0                    3
383.60388                1
385.0                   20
385.8085                 4
388.01312                1
390.0                    7
390.21774                1
392.0                    1
393.0                    1
394.62698                1
395.0                    4
396.0                    2
396.8316                 4
397.0                    2
399.03622                2
400.0                    6
405.0                    7
407.0                    1
407.8547                 2
410.0                    3
418.8778                 4
440.0                    1
440.924                  2
485.0                    1
485.0164                 1
500.0                    1
Name: count, dtype: int64

In [183]:
# Replace values less than 44 or greater than 450 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Snatch (lbs)'] < 44) | (Men_Clean_Me['Snatch (lbs)'] > 450), 'Snatch (lbs)'] = pd.NaT

In [184]:
# Count the occurrences of each unique value in the 'col1' column
SN_value_counts = Men_Clean_Me['Snatch (lbs)'].value_counts()

# Sort the value counts in descending order
SN_sorted_value_counts = SN_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(SN_sorted_value_counts)

Snatch (lbs)
44.0924                  8
45.0                    11
47.0                     2
48.0                     1
48.50164                 4
50.0                    18
50.70625999999999        2
52.0                     1
52.91087999999999        1
55.0                    10
55.1155                 10
56.0                     1
57.0                     1
59.52474                 1
60.0                    12
61.72935999999999        3
62.0                     3
63.0                     1
63.93397999999999        4
64.0                     1
65.0                    34
66.0                     1
66.1386                 38
67.0                     2
68.0                     2
68.34321999999999        4
69.0                     1
70.0                    29
70.54784                 5
71.0                     2
72.0                     1
72.75246                 4
73.0                     2
74.0                     1
74.95707999999999        6
75.0                    53
76.0                     2
77.0                     1
77.1617                 69
78.0                     1
79.0                     1
79.36631999999999        4
80.0                    22
81.0                     1
81.57094                11
82.0                     5
83.77556                11
84.0                     1
85.0                    51
85.98017999999999        2
86.0                     1
87.0                     2
88.0                     3
88.1848                233
90.0                    24
90.38942                 7
91.0                     1
92.0                     2
92.59404                39
93.0                     3
94.0                     1
94.79866                54
95.0                   201
96.0                     2
97.0                     2
97.00328                14
99.0                     4
99.2079                258
100.0                   67
101.0                    2
101.41252                7
102.0                    2
103.0                    2
103.61714               48
105.0                  177
105.82175999999998      52
106.0                    4
107.0                    1
108.0                    2
108.02638                9
110.0                   74
110.231                708
111.0                    3
112.0                    3
112.43562               30
113.0                    1
114.0                    3
114.64024              119
115.0                  551
116.0                    1
116.84485999999998      67
117.0                    4
118.0                    2
119.0                    1
119.04948               26
120.0                  143
121.0                   12
121.2541               747
122.0                    8
123.45872               42
124.0                    3
125.0                  555
125.66334              109
126.0                    5
127.0                    8
127.86795999999998     128
128.0                    5
129.0                    2
130.0                  162
130.07258               15
131.0                    2
132.0                   24
132.2772              1462
133.0                    6
134.0                    3
134.48182              110
135.0                 1353
136.0                    5
136.68643999999998     194
137.0                   15
138.0                    5
138.89105999999998     167
139.0                    4
140.0                  329
141.0                   11
141.09568               55
142.0                   12
143.0                   14
143.3003              1218
144.0                    2
145.0                 1065
145.50492               74
146.0                    8
147.0                   12
147.70953999999998     199
148.0                    6
149.91415999999998     201
150.0                  349
151.0                    6
152.0                    8
152.11878               23
154.0                   18
154.3234              1836
155.0                 1605
156.0                   15
156.52802               75
157.0                   22
158.0                    4
158.73263999999998     283
159.0                    3
160.0                  419
160.93725999999998     193
161.0                    1
162.0                   14
163.0                    6
163.14188               57
164.0                    1
165.0                 1637
165.3465              1357
166.0                   10
167.0                   18
167.55112              110
168.0                    8
169.0                    4
169.75573999999995     165
170.0                  523
171.0                   13
171.96035999999998     220
172.0                   14
173.0                    3
174.0                    1
174.16498               23
175.0                 1522
176.0                   45
176.3696              1585
177.0                   19
178.0                    6
178.57422               76
179.0                    4
180.0                  446
180.77884              240
181.0                   11
182.0                   12
182.98346              207
183.0                    4
184.0                    2
185.0                 2123
185.18808              114
186.0                   11
187.0                   69
187.3927              1116
188.0                   10
189.0                    4
189.59732              115
190.0                  561
191.0                   11
191.80194              182
192.0                   29
193.0                    5
194.0                    6
194.00656              160
195.0                 1010
196.0                   12
196.21118               16
197.0                   15
198.0                   34
198.4158              1102
199.0                    6
200.0                  817
200.62042               82
201.0                   17
202.0                   32
202.82504              200
203.0                    8
204.0                    4
205.0                 1539
205.02966              181
206.0                   12
207.0                   37
207.23428               48
208.0                    9
209.0                   17
209.4389               729
210.0                  482
211.0                   10
211.64352               89
212.0                   16
213.0                    7
213.84814               92
214.0                    2
215.0                 1081
216.0                   16
216.05276               80
217.0                   32
218.0                    6
218.25738                7
219.0                    2
220.0                  370
220.462                999
221.0                    4
222.0                   13
222.66662              113
224.0                    3
224.87124              190
225.0                 1420
226.0                   17
227.0                   19
227.07586              106
228.0                    7
229.0                    8
229.28048               34
230.0                  327
231.0                   33
231.4851               461
232.0                   15
233.0                    5
233.68972               61
234.0                    4
235.0                  712
235.89434               83
236.0                    7
237.0                   19
238.0                    5
238.09896               66
239.0                    3
240.0                  279
240.30358                6
241.0                    5
242.0                   45
242.5082               386
243.0                    5
244.0                    2
244.71282               51
245.0                  595
246.0                    9
246.91744               69
247.0                   12
248.0                    2
249.0                    3
249.12206               42
250.0                  264
251.0                    8
251.32668                9
252.0                   11
253.0                   22
253.5313               211
254.0                    2
255.0                  369
255.73592               35
256.0                    6
257.0                    8
257.94054               40
258.0                    2
259.0                    2
260.0                  190
260.14516               23
261.0                    4
262.0                   10
262.34977999999995       2
263.0                    1
264.0                    7
264.5544               215
265.0                  287
266.0                    7
266.75902               19
267.0                   10
268.0                    5
268.96364               28
269.0                    3
270.0                   97
271.0                    4
271.16826               16
272.0                    2
273.0                    1
273.37287999999995       6
274.0                    1
275.0                  257
275.5775                85
276.0                    4
277.0                    4
277.78212               13
278.0                    1
279.0                    2
279.98674                8
280.0                   91
281.0                    1
282.0                    3
282.19136                4
283.0                    2
284.39597999999995       3
285.0                   99
286.0                    9
286.6006                46
287.0                    3
288.80522                2
290.0                   52
291.00984                9
292.0                    3
293.0                    1
293.21446                9
295.0                   32
295.41907999999995       2
296.0                    1
297.0                    1
297.6237                18
299.82832                4
300.0                   56
301.0                    5
302.0                    3
302.03294                2
304.23756                1
305.0                   18
306.0                    3
307.0                    1
308.0                    7
308.6468                11
310.0                    6
310.85142                1
311.0                    1
313.0                    1
313.05604                1
315.0                   20
315.26066                3
317.0                    1
318.0                    1
319.6699                 3
320.0                    1
324.0                    1
324.07914                1
325.0                    1
326.0                    2
330.0                    1
330.693                  2
335.0                    2
335.10224                1
340.0                    1
342.0                    1
352.7392                 1
374.7854                 1
380.0                    1
401.24084                1
405.0                    1
406.0                    1
415.0                    1
423.28703999999993       1
425.0                    1
Name: count, dtype: int64

In [185]:
# Replace values greater than 550 with NaN
Men_Clean_Me.loc[(Men_Clean_Me['Fight Gone Bad'] > 450), 'Fight Gone Bad'] = pd.NaT

In [186]:
# Count the occurrences of each unique value in the 'col1' column
FGB_value_counts = Men_Clean_Me['Fight Gone Bad'].value_counts()

# Sort the value counts in descending order
FGB_sorted_value_counts = FGB_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(FGB_sorted_value_counts)

Fight Gone Bad
1.0       38
2.0        3
3.0        5
4.0        1
5.0        1
6.0        1
7.0        4
8.0        1
10.0       2
11.0       1
12.0       1
15.0       4
20.0       3
21.0       1
25.0       2
28.0       1
30.0       2
38.0       2
40.0       1
41.0       1
42.0       1
45.0       1
50.0       2
55.0       1
87.0       1
92.0       1
98.0       1
100.0      5
101.0      1
104.0      1
105.0      1
116.0      1
120.0      1
121.0      1
123.0      1
124.0      1
125.0      1
133.0      1
134.0      1
136.0      2
139.0      1
141.0      1
146.0      1
148.0      1
150.0      8
153.0      2
154.0      3
155.0      3
156.0      3
157.0      2
158.0      2
160.0      4
161.0      3
163.0      2
164.0      3
165.0      3
166.0      2
167.0      3
168.0      1
169.0      3
170.0      3
171.0      1
173.0      2
174.0      5
175.0      4
176.0      4
177.0      3
178.0      5
179.0      2
180.0      7
181.0      4
182.0      5
183.0      8
184.0      6
185.0      6
186.0      7
187.0     10
188.0     10
189.0     10
190.0      6
191.0      4
192.0      5
193.0      9
194.0     11
195.0      7
196.0      7
197.0      7
198.0     12
199.0      6
200.0     17
201.0      8
202.0     12
203.0      8
204.0     15
205.0     17
206.0     12
207.0     19
208.0     12
209.0     13
210.0     14
211.0     14
212.0     22
213.0     17
214.0     16
215.0     19
216.0     18
217.0     19
218.0     19
219.0     14
220.0     32
221.0     16
222.0     22
223.0     21
224.0     32
225.0     36
226.0     27
227.0     32
228.0     33
229.0     24
230.0     33
231.0     23
232.0     32
233.0     22
234.0     38
235.0     36
236.0     34
237.0     27
238.0     35
239.0     29
240.0     48
241.0     33
242.0     33
243.0     29
244.0     28
245.0     32
246.0     49
247.0     35
248.0     35
249.0     30
250.0     44
251.0     43
252.0     42
253.0     36
254.0     56
255.0     55
256.0     34
257.0     46
258.0     51
259.0     40
260.0     53
261.0     39
262.0     34
263.0     39
264.0     49
265.0     63
266.0     52
267.0     43
268.0     40
269.0     52
270.0     54
271.0     35
272.0     46
273.0     51
274.0     62
275.0     58
276.0     53
277.0     61
278.0     57
279.0     50
280.0     66
281.0     49
282.0     52
283.0     42
284.0     47
285.0     55
286.0     65
287.0     58
288.0     55
289.0     68
290.0     71
291.0     54
292.0     63
293.0     40
294.0     49
295.0     59
296.0     52
297.0     70
298.0     73
299.0     48
300.0    106
301.0     98
302.0     87
303.0     65
304.0     58
305.0     81
306.0     87
307.0     74
308.0     76
309.0     67
310.0     73
311.0     80
312.0     75
313.0     65
314.0     67
315.0    114
316.0     69
317.0     69
318.0     68
319.0     61
320.0     72
321.0     75
322.0     61
323.0     60
324.0     72
325.0     83
326.0     63
327.0     49
328.0     48
329.0     51
330.0     64
331.0     58
332.0     59
333.0     55
334.0     59
335.0     56
336.0     56
337.0     53
338.0     53
339.0     40
340.0     67
341.0     37
342.0     55
343.0     54
344.0     48
345.0     51
346.0     59
347.0     49
348.0     29
349.0     40
350.0     70
351.0     45
352.0     63
353.0     45
354.0     42
355.0     56
356.0     44
357.0     49
358.0     37
359.0     33
360.0     61
361.0     30
362.0     36
363.0     35
364.0     22
365.0     53
366.0     28
367.0     32
368.0     36
369.0     35
370.0     25
371.0     18
372.0     27
373.0     20
374.0     20
375.0     37
376.0     25
377.0     25
378.0     26
379.0     21
380.0     43
381.0     25
382.0     22
383.0     32
384.0     19
385.0     23
386.0     19
387.0     21
388.0     20
389.0     16
390.0     18
391.0     15
392.0     15
393.0     22
394.0     14
395.0     15
396.0     18
397.0     18
398.0     28
399.0     13
400.0     36
401.0     30
402.0     24
403.0     18
404.0     17
405.0     28
406.0     22
407.0     22
408.0     24
409.0     13
410.0     26
411.0     23
412.0     20
413.0     12
414.0     15
415.0     26
416.0     11
417.0     18
418.0     15
419.0     12
420.0     28
421.0     18
422.0     13
423.0      8
424.0     12
425.0     13
426.0     11
427.0     14
428.0      7
429.0     13
430.0      8
431.0      9
432.0     13
433.0      7
434.0     11
435.0     14
436.0      6
437.0      5
438.0      4
439.0      3
440.0     13
441.0      4
442.0      4
443.0      7
444.0      6
445.0      6
446.0      2
447.0      6
448.0      5
449.0      3
450.0     11
Name: count, dtype: int64

In [187]:
# Count the occurrences of each unique value in the 'col1' column
F50_value_counts = Men_Clean_Me['Filthy 50'].value_counts()

# Sort the value counts in descending order
F50_sorted_value_counts = F50_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(F50_sorted_value_counts)

Filthy 50
0:01         5
0:08         1
0:10         2
0:58         1
10000:39     1
1000:00      1
100:09       1
100:39       2
10:10        1
10:15        1
10:41        1
11:01        1
11:36        1
12:00        2
12:04        1
12:31        1
12:45        1
12:56        1
130:19       1
13:12        1
13:15        1
13:31        1
13:33        1
13:34        1
13:35        1
13:38        1
13:39        1
13:40        1
13:58        1
14:00        1
14:04        1
14:05        1
14:11        1
14:21        1
14:23        1
14:25        1
14:30        2
14:35        1
14:40        1
14:41        1
14:42        2
14:44        1
14:45        1
14:48        1
14:50        3
14:51        1
14:52        1
14:54        1
14:55        1
14:56        1
14:57        1
14:58        1
14:59        2
15:00        1
15:05        3
15:07        2
15:08        1
15:13        1
15:17        2
15:18        1
15:19        1
15:20        3
15:22        2
15:23        2
15:25        1
15:26        1
15:27        1
15:28        1
15:29        1
15:30        6
15:31        2
15:34        1
15:35        2
15:36        2
15:42        2
15:45        1
15:47        1
15:48        1
15:50        1
15:52        1
15:53        2
15:54        1
15:57        1
15:58        3
16:00        2
16:01        1
16:03        2
16:05        1
16:06        1
16:07        1
16:08        1
16:12        1
16:14        1
16:15        4
16:16        1
16:17        2
16:18        1
16:19        1
16:20        3
16:21        1
16:22        3
16:25        1
16:26        1
16:28        2
16:30        8
16:31        2
16:32        1
16:34        2
16:35        3
16:36        4
16:37        1
16:38        2
16:39        3
16:40        3
16:41        3
16:42        3
16:44        3
16:45        5
16:46        5
16:47        2
16:48        1
16:49        1
16:50        5
16:52        1
16:53        3
16:55        1
16:56        2
16:57        3
16:58        4
16:59        2
17:00       10
17:01        1
17:02        1
17:03        1
17:05        4
17:06        3
17:07        1
17:08        2
17:09        3
17:10        1
17:11        2
17:12        1
17:15        2
17:16        1
17:17        2
17:18        4
17:19        1
17:20        5
17:23        2
17:24        2
17:25        2
17:27        1
17:28        4
17:29        3
17:30        7
17:31        1
17:32        1
17:33        2
17:34        4
17:35        1
17:36        4
17:37        2
17:38        1
17:39        1
17:40        3
17:41        3
17:42        1
17:43        1
17:44        2
17:45        5
17:46        2
17:47        5
17:48        4
17:50        6
17:51        1
17:52        3
17:53        4
17:54        4
17:55        4
17:57        2
17:58        4
17:59        3
180:00       1
18:00       14
18:01        1
18:02        3
18:03        1
18:04        1
18:05        4
18:06        4
18:07        1
18:09        4
18:11        1
18:12        4
18:13        5
18:14        4
18:15        8
18:16        4
18:17        5
18:18        3
18:19        2
18:20        5
18:21        1
18:22        8
18:23        2
18:24        2
18:25        1
18:26        2
18:27        3
18:28        6
18:29        6
18:30        5
18:31        2
18:32        4
18:33        3
18:34        3
18:35        4
18:36        7
18:37        3
18:38        8
18:39        7
18:40        8
18:41        2
18:42        1
18:43        7
18:44        3
18:45        7
18:46        6
18:47        4
18:48        9
18:49        3
18:50        7
18:51        3
18:52        2
18:53        4
18:54        3
18:55        2
18:56        4
18:57       10
18:58        3
18:59        6
19:00       13
19:01        3
19:02        6
19:03        1
19:04        5
19:05        5
19:06        6
19:07        4
19:08        5
19:09        1
19:10        8
19:11        3
19:12        7
19:13        2
19:14        6
19:15        3
19:16        3
19:17        7
19:18       12
19:19        3
19:20       14
19:21        6
19:22        5
19:23        4
19:24        5
19:25        7
19:26        5
19:27        5
19:28        5
19:29        5
19:30       13
19:31        7
19:32        3
19:33        3
19:34        2
19:35        5
19:36        3
19:37        3
19:38        3
19:39        2
19:40       11
19:41        6
19:42        8
19:43        2
19:44        3
19:45       15
19:46        3
19:47        9
19:48       11
19:49        4
19:50       11
19:51        5
19:52       11
19:53        6
19:54        7
19:55        5
19:56        7
19:57        5
19:58        5
19:59        4
1:00         4
1:01         1
1:06         1
1:22         1
1:25         2
20:00       26
20:01        6
20:02        7
20:03        2
20:04        7
20:05        3
20:06        3
20:07        1
20:08        2
20:09        2
20:10        8
20:11        5
20:12        9
20:13        2
20:14        1
20:15       11
20:16        7
20:17        6
20:18        5
20:19        9
20:20        5
20:21        5
20:22        8
20:23        4
20:24        7
20:25        4
20:26        4
20:27        1
20:28        4
20:29        4
20:30        5
20:31        2
20:32        5
20:33        7
20:34        2
20:35        5
20:36        2
20:37        3
20:38        6
20:39        1
20:40        8
20:41        2
20:42        4
20:43        4
20:44        5
20:45        6
20:46        3
20:47        4
20:48        6
20:49        3
20:50        3
20:51        7
20:52        4
20:53        6
20:54        6
20:55        4
20:56        6
20:57        4
20:58        9
20:59        3
21:00       12
21:01        1
21:02        6
21:03        2
21:04        3
21:05        7
21:06        2
21:07        5
21:08        3
21:09        3
21:10        9
21:11        7
21:12        6
21:13        4
21:14        5
21:15        8
21:16        4
21:17        4
21:18        1
21:19        7
21:20       12
21:21        3
21:22       10
21:23        6
21:24        8
21:25        6
21:26        9
21:27        6
21:28        7
21:29        5
21:30       15
21:31        5
21:32        4
21:33        6
21:34        2
21:35        8
21:36        9
21:37        5
21:38        7
21:39        4
21:40        6
21:41        6
21:42        7
21:43        7
21:44        4
21:45        9
21:46        5
21:47        2
21:48       10
21:49        5
21:50       12
21:51        5
21:52        6
21:53        3
21:54        5
21:55        6
21:56        4
21:57        4
21:58        4
21:59        1
22:00       16
22:01        5
22:02        5
22:03        2
22:04        2
22:05        7
22:06        9
22:07       11
22:08        1
22:09        1
22:10       11
22:11        3
22:12        8
22:13        3
22:14        6
22:15       14
22:16       15
22:17        6
22:18       10
22:19        4
22:20       11
22:21        4
22:22        7
22:23        5
22:24        5
22:25        3
22:26        3
22:27        6
22:28        7
22:29        5
22:30       13
22:31        7
22:32        7
22:33        2
22:34        6
22:35        7
22:36        8
22:37        8
22:38        7
22:39        5
22:40        7
22:42        3
22:43        4
22:44        9
22:45       11
22:46        4
22:47        6
22:48        5
22:49        4
22:50       15
22:51        4
22:52        6
22:53        6
22:54        5
22:55        7
22:56        8
22:57        5
22:58        8
22:59        5
23:00       15
23:01        5
23:02        7
23:03        5
23:04        7
23:05        6
23:06        8
23:07        5
23:08        4
23:09        5
23:10        7
23:11       14
23:12        7
23:13        2
23:14        6
23:15       13
23:16        4
23:17        5
23:18        7
23:19        5
23:20       10
23:21        2
23:22        4
23:23       11
23:24        7
23:25        8
23:26        6
23:27        2
23:28        5
23:29        5
23:30       21
23:31        5
23:32        6
23:33       15
23:34        5
23:35       10
23:36        4
23:37        4
23:38        5
23:39        2
23:40       12
23:41        5
23:42       10
23:43        4
23:44        9
23:45        7
23:46       10
23:47        6
23:48        5
23:49        2
23:50       12
23:51        6
23:52        5
23:53        6
23:54        4
23:55        2
23:56        7
23:57        6
23:58        7
23:59        8
24:00       19
24:01        6
24:02        4
24:03        4
24:04        5
24:05        6
24:06        8
24:07        3
24:08        2
24:09        4
24:10       11
24:11        5
24:12        8
24:13        5
24:14        4
24:15        4
24:16        5
24:17        2
24:18        1
24:19        5
24:20       11
24:21        6
24:22        4
24:23        8
24:24       10
24:25       11
24:26        6
24:27        4
24:28        7
24:29        6
24:30       21
24:31        7
24:32        5
24:33        4
24:34        8
24:35       13
24:36        7
24:37        8
24:38        5
24:39       10
24:40       10
24:41        3
24:42        4
24:43        5
24:44        9
24:45       12
24:46        6
24:47        2
24:48        8
24:49       11
24:50       12
24:51        3
24:52        4
24:53        6
24:54        4
24:55        4
24:56        5
24:57        5
24:58        6
24:59        6
250:00       1
25:00       41
25:01        4
25:02        1
25:03        3
25:04        4
25:05        7
25:06        6
25:07        6
25:08        7
25:09        4
25:10        8
25:11        4
25:12       10
25:13        4
25:14        6
25:15       10
25:16        8
25:17        5
25:18        5
25:19        5
25:20       12
25:21        6
25:22        6
25:23        6
25:24        5
25:25        7
25:26        7
25:27        6
25:28        6
25:29        5
25:30       20
25:31        4
25:32        3
25:34        5
25:35        5
25:36        6
25:37        5
25:38        7
25:39        3
25:40        7
25:41        9
25:42        5
25:43        4
25:44        4
25:45       11
25:46        5
25:47        7
25:48        5
25:49        4
25:50        8
25:51        4
25:52        6
25:53        4
25:54        5
25:55        8
25:56        5
25:57        4
25:58        4
25:59        2
260:21       1
26:00       20
26:01        1
26:02        3
26:03        6
26:04        3
26:05        4
26:06        3
26:07        7
26:08        3
26:09        6
26:10       14
26:11        6
26:12        5
26:13        7
26:14        8
26:15        7
26:16        5
26:17        3
26:18        3
26:19        5
26:20        7
26:21        5
26:22        4
26:23        8
26:24        5
26:25        8
26:26        1
26:27        2
26:28        4
26:29        3
26:30       11
26:31        2
26:32        9
26:33        9
26:34        4
26:35        7
26:36        4
26:37        5
26:38        6
26:39        4
26:40        4
26:41        3
26:42        7
26:43        7
26:44        3
26:45        9
26:46        6
26:47        4
26:48       10
26:49        4
26:50        4
26:51        3
26:52        7
26:53        5
26:54        6
26:55        7
26:56        3
26:57        7
26:58        9
26:59        6
27:00       14
27:01        3
27:02        3
27:03        3
27:04        4
27:05        3
27:06        4
27:07        3
27:08        6
27:09        5
27:10        6
27:11        5
27:12        5
27:13        5
27:14        4
27:15       10
27:16        3
27:17        7
27:18        7
27:19        4
27:20        6
27:21        4
27:22        5
27:23        5
27:24        3
27:25        7
27:26        7
27:27        7
27:28        4
27:29        3
27:30       14
27:31        5
27:32        8
27:33        7
27:34        5
27:35        4
27:36        2
27:37        7
27:38        7
27:39        6
27:40       11
27:41        3
27:42        7
27:43        6
27:44        5
27:45        5
27:46        3
27:47        4
27:48        2
27:49        4
27:50       12
27:51        4
27:52        7
27:53        3
27:54        3
27:55        5
27:56        4
27:57        7
27:58        6
27:59        2
28:00       22
28:01        4
28:02        4
28:03        3
28:04        4
28:05        1
28:06        3
28:07        4
28:08        4
28:09        4
28:10        4
28:11        4
28:12        6
28:13        3
28:14       10
28:15        9
28:16        1
28:17        5
28:18        4
28:19        4
28:20        4
28:21        1
28:22        6
28:23        3
28:24        6
28:25        5
28:26        4
28:27        4
28:28        4
28:29        3
28:30       14
28:31        3
28:32       12
28:33        5
28:34        5
28:35        4
28:36        5
28:37        6
28:38        5
28:39        1
28:40       10
28:41        4
28:42        3
28:43        5
28:44        3
28:45        8
28:46        6
28:47        7
28:48       16
28:49        5
28:50       12
28:51        4
28:52        3
28:53        7
28:54        3
28:55        3
28:56        7
28:57        8
28:58        6
28:59        4
290:00       1
29:00       19
29:01        4
29:02        5
29:03        3
29:04        1
29:05        5
29:06        3
29:07        6
29:08        2
29:09        5
29:10        6
29:11        2
29:12        7
29:13        6
29:14        3
29:15        7
29:16        3
29:17        3
29:18        3
29:19        4
29:20       10
29:22        6
29:23        3
29:24        6
29:25        2
29:26        5
29:27        8
29:28        3
29:29        1
29:30       17
29:31        1
29:32       10
29:33        3
29:34        6
29:35        9
29:36        1
29:37        4
29:38        7
29:39        4
29:40        8
29:41        5
29:42        7
29:43        4
29:44        5
29:45       13
29:46        9
29:47        1
29:48        9
29:49        3
29:50       10
29:51        6
29:52        6
29:53        5
29:54        2
29:55        2
29:56        5
29:57        8
29:58        8
29:59        7
2:54         1
30:00       67
30:01        4
30:02        3
30:03        8
30:04        5
30:05        2
30:06        3
30:07        3
30:08        5
30:09        3
30:10        7
30:11        2
30:12        2
30:13        3
30:14        3
30:15        4
30:16        1
30:17        1
30:19        2
30:20        7
30:21        1
30:22        5
30:23        5
30:24        4
30:25        6
30:26        3
30:27        2
30:28        8
30:29        1
30:30        4
30:32        4
30:33        3
30:34        3
30:35        1
30:36        1
30:37        3
30:38        1
30:40        4
30:41        2
30:42        1
30:43        4
30:44        1
30:45        7
30:46        3
30:47        4
30:49        3
30:50        9
30:51        1
30:52        3
30:53        4
30:54        1
30:55        1
30:56        5
30:57        5
30:58        3
30:59        2
31:00       10
31:01        1
31:02        1
31:03        3
31:04        1
31:05        4
31:06        1
31:07        2
31:08        4
31:09        3
31:10        6
31:11        2
31:12        2
31:13        6
31:15        7
31:16        1
31:17        2
31:18        5
31:19        3
31:20        6
31:21        2
31:22        2
31:23        6
31:24        2
31:25        2
31:26        3
31:27        2
31:28        1
31:30        9
31:31        2
31:32        3
31:33        1
31:34        2
31:35        4
31:36        2
31:37        4
31:38        1
31:39        1
31:40        6
31:42        2
31:43        3
31:44        1
31:45        8
31:46        2
31:47        2
31:48        3
31:49        2
31:50        4
31:51        2
31:52        2
31:53        2
31:54        3
31:56        4
31:58        4
31:59        1
321:00       1
32:00       12
32:03        2
32:04        2
32:05        3
32:06        1
32:07        3
32:08        1
32:09        1
32:10        5
32:11        4
32:13        1
32:14        3
32:15        3
32:17        1
32:18        2
32:19        1
32:20        7
32:22        6
32:23        5
32:24        3
32:25        2
32:26        5
32:27        3
32:28        3
32:29        3
32:30        8
32:31        3
32:32        4
32:33        3
32:34        2
32:35        2
32:36        3
32:37        1
32:38        3
32:39        1
32:40        5
32:41        1
32:42        3
32:43        2
32:44        3
32:45       10
32:46        2
32:47        1
32:48        3
32:50        4
32:52        4
32:53        2
32:54        4
32:56        2
32:57        1
32:58        2
32:59        1
33:00        4
33:01        1
33:03        5
33:04        1
33:05        3
33:06        1
33:07        1
33:08        3
33:10        3
33:11        1
33:12        1
33:13        1
33:14        2
33:15        2
33:16        1
33:17        2
33:18        2
33:20        5
33:21        1
33:22        5
33:23        2
33:24        5
33:25        2
33:27        1
33:28        1
33:29        1
33:30        2
33:31        1
33:32        4
33:33        1
33:34        1
33:35        1
33:36        1
33:37        3
33:38        1
33:39        3
33:40        1
33:41        2
33:42        2
33:43        2
33:44        3
33:45        1
33:47        3
33:49        1
33:50        2
33:51        3
33:52        2
33:54        1
33:55        1
33:56        1
33:57        1
33:58        2
33:59        1
34:00        8
34:01        1
34:02        4
34:04        2
34:05        3
34:06        3
34:07        4
34:08        2
34:09        2
34:10        2
34:11        2
34:12        1
34:14        2
34:15        4
34:17        2
34:20        2
34:21        3
34:22        1
34:23        2
34:24        4
34:25        1
34:27        4
34:28        1
34:30        1
34:31        1
34:32        2
34:34        4
34:35        3
34:36        2
34:37        2
34:38        2
34:39        3
34:40        5
34:41        1
34:42        2
34:43        2
34:45        1
34:46        1
34:47        5
34:48        1
34:49        1
34:50        4
34:51        1
34:53        2
34:55        2
34:56        2
34:57        2
34:58        1
34:59        1
35:00       17
35:01        1
35:02        2
35:03        2
35:05        1
35:08        3
35:10        4
35:12        1
35:14        2
35:15        1
35:16        2
35:17        3
35:18        1
35:20        2
35:21        1
35:23        4
35:24        2
35:25        2
35:26        1
35:27        3
35:29        1
35:30        2
35:31        1
35:32        2
35:33        2
35:35        4
35:36        1
35:39        2
35:40        3
35:41        1
35:43        2
35:44        1
35:45        2
35:47        2
35:48        2
35:49        1
35:50        1
35:51        3
35:53        1
35:54        2
35:59        2
36:00        6
36:02        1
36:04        2
36:06        1
36:07        1
36:08        1
36:10        2
36:13        2
36:14        1
36:16        2
36:18        2
36:20        2
36:21        1
36:22        1
36:23        2
36:28        3
36:30        1
36:32        1
36:33        1
36:36        2
36:37        2
36:38        1
36:39        1
36:40        6
36:45        1
36:46        1
36:47        1
36:48        1
36:49        2
36:50        2
36:51        1
36:52        1
36:55        2
36:57        1
36:58        3
36:59        1
37:00        7
37:02        2
37:04        4
37:05        1
37:06        1
37:07        1
37:08        1
37:09        2
37:10        1
37:14        1
37:16        1
37:19        1
37:20        1
37:26        1
37:33        1
37:35        1
37:36        1
37:38        1
37:39        1
37:40        1
37:41        1
37:45        1
37:47        1
37:49        2
37:50        1
37:51        1
37:53        2
37:55        1
37:56        1
37:58        2
38:00        8
38:03        1
38:04        2
38:05        1
38:08        1
38:09        1
38:10        2
38:12        2
38:14        1
38:15        1
38:20        1
38:26        2
38:28        1
38:29        1
38:30        2
38:33        1
38:39        1
38:44        2
38:45        2
38:46        2
38:56        1
38:57        1
39:00        1
39:01        1
39:03        1
39:04        2
39:07        1
39:08        2
39:10        1
39:12        1
39:13        1
39:23        2
39:25        1
39:29        2
39:30        3
39:34        1
39:35        1
39:36        1
39:37        1
39:45        1
39:47        1
39:48        2
39:50        1
39:51        1
39:55        1
39:57        1
39:58        1
39:59        1
3:15         1
40:00        7
40:01        1
40:02        1

In [188]:
#Output Crossfit to a CSV file
Men_Clean_Me.to_csv('Pre_DT_Crossfit.csv', index=False)

In [197]:
Pre_DT = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Pre_DT_Crossfit.csv')
Pre_DT.head()

/var/folders/xm/kc32pwjj5fj5xqf43yb4dz340000gn/T/ipykernel_44180/3556571759.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Pre_DT = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Pre_DT_Crossfit.csv')

,Athlete ID,Gender,Competitor Name,Country Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,10942,M,Everett Sloan,Canada,North America East,CrossFit Bytown,67.0,45.0,200.0,68985.0,51383.0,84516.0,80225.0,68985.0,62537.0,66.0,NaN,126461.0,64200.0,19449.0,20303.0,8704.0,4733.0,3491.0,1372.0,3243.0,5051.0,425.0,585.0,285.0,225.0,NaN,NaN,2:32,1:47,7:13,NaN,NaN,NaN
1,10926,M,Kevin Wood,Canada,North America East,CrossFit Moncton,75.0,43.0,196.0,35977.0,74333.0,17860.0,27790.0,35977.0,30964.0,29723.0,21170.0,18926.0,19944.0,16438.0,12456.0,11723.0,10968.0,9164.0,4686.0,3880.0,NaN,365.0,405.0,275.0,190.0,429.0,19:47,3:16,3:13,8:16,NaN,19:38,1:00
2,10976,M,John Lazaro,United States,North America East,CrossFit Bridgewater,69.0,46.0,180.0,164180.0,156669.0,154294.0,142271.0,164180.0,143566.0,119744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10977,M,Matthew Haynes,United States,North America West,CrossFit Westwood,71.0,31.0,180.0,165637.0,160697.0,154294.0,142271.0,165637.0,157742.0,87420.0,56772.0,50805.0,43038.0,24249.0,84288.0,NaN,NaN,48836.0,407.0,661.0,NaN,400.0,485.0,300.0,255.0,NaN,NaN,2:00,NaN,NaN,NaN,NaN,NaN
4,10966,M,Nick DiMatteo,United States,North America East,CrossFit OTG,68.0,48.0,165.0,60027.0,47496.0,89266.0,54110.0,60027.0,49886.0,55120.0,37826.0,22196.0,34774.0,45660.0,55386.0,46349.0,29146.0,19472.0,12970.0,5729.0,1996.0,315.0,400.0,225.0,165.0,NaN,NaN,3:41,NaN,9:01,NaN,21:55,NaN