In [160]:
from bs4 import BeautifulSoup
from datetime import time
from datetime import datetime
from datetime import timedelta
from collections import Counter
from tqdm import tqdm
import json
import requests
import csv
import pandas as pd
import numpy as np
import aiohttp
import asyncio
import concurrent.futures
import io
import re
import chardet

In [161]:
Women_Leaderboard = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Scraped_Data/WomenOpenLeaderboard.csv')
Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,164 cm,23,70 kg,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,154 cm,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63 in,30,150 lb,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63 in,34,145 lb,5,15,59,17

In [162]:
# Function to convert kilograms to pounds and round to the nearest pound
def kg_to_lb(weight):
    if isinstance(weight, str):
        if 'kg' in weight:
            return round(float(weight.split()[0]) * 2.20462)
        else:
            return round(float(weight.split()[0]))
    elif isinstance(weight, float) and np.isnan(weight):
        return np.nan  # Return NaN if the weight is NaN
    else:
        return round(weight * 2.20462)  # If the weight is already in lbs, just return it

# Apply the conversion function to the Weight column
Women_Leaderboard['Weight'] = Women_Leaderboard['Weight'].apply(kg_to_lb)

# Print the updated DataFrame
Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight,Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,164 cm,23,154.0,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,154 cm,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63 in,30,150.0,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63 in,34,145.0,5,15,59,17

In [163]:
# Rename the 'Weight' column to 'Weight (lbs)'
Women_Leaderboard.rename(columns={'Weight': 'Weight (lbs)'}, inplace=True)

Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,164 cm,23,154.0,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,154 cm,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63 in,30,150.0,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63 in,34,145.0,5,15,59,17

In [164]:
# Function to convert centimeters to inches
def cm_to_inches(height):
    if isinstance(height, str):
        if 'cm' in height:
            return round(float(height.split()[0]) * 0.393701)
        else:
            return int(height.split()[0])
    elif isinstance(height, float) and np.isnan(height):
        return np.nan  # Return NaN if the height is NaN
    else:
        return height  # If the height is already in inches, just return it

# Apply the conversion function to the Height column
Women_Leaderboard['Height'] = Women_Leaderboard['Height'].apply(cm_to_inches)

# Print the updated DataFrame
Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height,Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,65.0,23,154.0,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,61.0,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63.0,30,150.0,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63.0,34,145.0,5,15,59,17

In [165]:
# Rename the 'Height' column to 'Height (in))'
Women_Leaderboard.rename(columns={'Height': 'Height (in)'}, inplace=True)
Women_Leaderboard.head()

,CompetitorID,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,2080362,Mirjam von Rohr,Switzerland,Europe,CrossFit Ouf,F,NaN,22,NaN,1,1,37,2
1,1976672,Grace Walton,Australia,Oceania,NaN,F,65.0,23,154.0,2,8,3,33
2,1239579,Anikha Greer,Canada,North America East,Peak 360 CrossFit,F,61.0,21,NaN,3,42,27,3
3,132258,Arielle Loewen,United States,North America West,NaN,F,63.0,30,150.0,4,21,4,52
4,239148,Carolyne Prevost,Canada,North America East,CrossFit Colosseum,F,63.0,34,145.0,5,15,59,17

In [166]:
# Get unique values and sort them from highest to lowest
New_Height_sorted_Women = sorted(Women_Leaderboard['Height (in)'].unique(), reverse=True)
print(New_Height_sorted_Women)

[nan, 25801.0, 6181.0, 6024.0, 2040.0, 1956.0, 709.0, 669.0, 665.0, 661.0, 654.0, 650.0, 642.0, 638.0, 630.0, 600.0, 510.0, 504.0, 444.0, 420.0, 415.0, 411.0, 220.0, 214.0, 203.0, 189.0, 180.0, 178.0, 177.0, 175.0, 174.0, 173.0, 172.0, 171.0, 170.0, 169.0, 168.0, 167.0, 166.0, 165.0, 164.0, 163.0, 162.0, 161.0, 160.0, 159.0, 158.0, 157.0, 156.0, 154.0, 153.0, 150.0, 128.0, 118.0, 114.0, 110.0, 96.0, 84.0, 82.0, 81.0, 80.0, 79.0, 77.0, 76.0, 75.0, 74.0, 73.0, 72.0, 71.0, 70.0, 69.0, 68.0, 67.0, 66.0, 65.0, 64.0, 63.0, 62.0, 61.0, 60.0, 59.0, 58.0, 57.0, 56.0, 55.0, 54.0, 53.0, 52.0, 48.0, 47.0, 46.0, 42.0, 40.0, 29.0, 28.0, 27.0, 26.0, 25.0, 24.0, 23.0, 21.0, 18.0, 17.0, 16.0, 14.0, 12.0, 6.0, 5.0, 4.0, 2.0, 1.0, 0.0]

In [167]:
# Specify the correct encoding
encoding = 'latin1'  # or 'ISO-8859-1', etc. - choose the one that works for your file

# Function to remove specific lines from a file
def remove_lines(file_path, lines_to_remove):
    with open(file_path, 'r', encoding=encoding) as file:
        lines = file.readlines()
    
    # Remove the specified lines
    for line_number in sorted(lines_to_remove, reverse=True):
        del lines[line_number]

    with open(file_path, 'w', encoding=encoding) as file:
        file.writelines(lines)

# List of line numbers to remove
lines_to_remove = [14450, 42076, 49668, 84718, 87927, 88153, 92057]  # Adjust line numbers as needed

# Remove specified lines from the CSV file
remove_lines('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Scraped_Data/WomenPastOpen.csv', lines_to_remove)

# Read the modified CSV file into a DataFrame
Women_Past = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Scraped_Data/WomenPastOpen.csv', encoding=encoding)

# Set pandas display options to show all columns without truncation
pd.set_option('display.max_columns', None)

# Display the DataFrame
Women_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,1775,6060thWomen,1556thWomen,1921stWomen,1248thWomen,978thWomen,786thWomen,1203rdWomen,7011thWomen,--,4704thWomen,4074thWomen,--,7217thWomen,--
1,1755,70388thWomen,--,--,--,--,14769thWomen,20353rdWomen,14188thWomen,8850thWomen,7446thWomen,8116thWomen,12165thWomen,9301stWomen,--
2,1802,37421stWomen,14274thWomen,82750thWomen,17629thWomen,--,8785thWomen,5435thWomen,8117thWomen,7161stWomen,1794thWomen,5121stWomen,1126thWomen,1289thWomen,1185thWomen
3,1751,35925thWomen,17813thWomen,--,--,--,32938thWomen,53678thWomen,8417thWomen,12282ndWomen,Women,--,84thWomen,712thWomen,418thWomen
4,1659,3944thWomen,--,1781stWomen,--,--,--,1628thWomen,864thWomen,510thWomen,582ndWomen,5986thWomen,1042ndWomen,2213thWomen,--

In [168]:
# Replace '--' with NaN
Women_Past.replace('--', np.nan, inplace=True)

# Print the updated DataFrame
Women_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,1775,6060thWomen,1556thWomen,1921stWomen,1248thWomen,978thWomen,786thWomen,1203rdWomen,7011thWomen,NaN,4704thWomen,4074thWomen,NaN,7217thWomen,NaN
1,1755,70388thWomen,NaN,NaN,NaN,NaN,14769thWomen,20353rdWomen,14188thWomen,8850thWomen,7446thWomen,8116thWomen,12165thWomen,9301stWomen,NaN
2,1802,37421stWomen,14274thWomen,82750thWomen,17629thWomen,NaN,8785thWomen,5435thWomen,8117thWomen,7161stWomen,1794thWomen,5121stWomen,1126thWomen,1289thWomen,1185thWomen
3,1751,35925thWomen,17813thWomen,NaN,NaN,NaN,32938thWomen,53678thWomen,8417thWomen,12282ndWomen,Women,NaN,84thWomen,712thWomen,418thWomen
4,1659,3944thWomen,NaN,1781stWomen,NaN,NaN,NaN,1628thWomen,864thWomen,510thWomen,582ndWomen,5986thWomen,1042ndWomen,2213thWomen,NaN

In [169]:
#This gets rid of all the letters 
def extract_numbers(string):
    if pd.isnull(string):  # If the value is NaN, return NaN
        return np.nan
    elif isinstance(string, float):  # If the value is float, return NaN
        return np.nan
    else:
        numbers = re.findall(r'\d+', string)  # Extract numbers using regex
        if numbers:  # If numbers are found
            return int(numbers[0])  # Convert the first number found to an integer
        else:  # If no numbers found
            return np.nan  # Return NaN

# Apply the function to all columns except 'Athlete ID'
Women_Past[Women_Past.columns.difference(['Athlete ID'])] = Women_Past[Women_Past.columns.difference(['Athlete ID'])].applymap(extract_numbers)

# Print the updated DataFrame
Women_Past.head()

,Athlete ID,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,1775,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN
1,1755,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN
2,1802,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0
3,1751,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0
4,1659,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN

In [170]:
# Define a function to add the word "Rank" after all the years in the columns
def add_rank_suffix(col):
    if col.isdigit():
        return col + ' Rank'
    else:
        return col

# Rename the columns except 'Athlete ID'
Women_Past.rename(columns={col: add_rank_suffix(col) for col in Women_Past.columns if col != 'Athlete ID'}, inplace=True)

Women_Past.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank
0,1775,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN
1,1755,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN
2,1802,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0
3,1751,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0
4,1659,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN

In [171]:
# Specify the correct encoding
encoding = 'latin1'  # or 'ISO-8859-1', etc. - choose the one that works for your file

# Function to remove specific lines from a file
def remove_lines(file_path, lines_to_remove):
    with open(file_path, 'r', encoding=encoding) as file:
        lines = file.readlines()
    
    # Remove the specified lines
    for line_number in sorted(lines_to_remove, reverse=True):
        del lines[line_number]

    with open(file_path, 'w', encoding=encoding) as file:
        file.writelines(lines)

# List of line numbers to remove
lines_to_remove = [6335, 19690, 96172, 97074, 102157, 119426]  # Adjust line numbers as needed

# Remove specified lines from the CSV file
remove_lines('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Scraped_Data/WomenBenchmarks.csv', lines_to_remove)

# Read the modified CSV file into a DataFrame
Women_Benchmarks = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/Scraped_Data/WomenBenchmarks.csv', encoding=encoding)

# Set pandas display options to show all columns without truncation
pd.set_option('display.max_columns', None)

# Display the DataFrame
Women_Benchmarks.head()

,Athlete ID,Back Squat,Chad1000x,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Max Pull-Ups,Run 5k,Snatch,Sprint 400m
0,1755,245 lb,--,165 lb,265 lb,293,--,4:29,2:25,11:09,--,--,25:08,120 lb,1:20
1,1775,303 lb,--,231 lb,345 lb,--,--,2:37,1:54,10:22,--,--,--,190 lb,--
2,1659,300 lb,--,235 lb,350 lb,--,--,2:15,--,--,--,--,23:51,190 lb,1:00
3,1802,250 lb,--,200 lb,330 lb,320,--,3:30,--,--,--,--,--,160 lb,1:23
4,1751,120 kg,--,97 kg,166 kg,--,22:54,3:39,1:52,9:11,--,--,--,73 kg,--

In [172]:
del Women_Benchmarks['Max Pull-Ups']
del Women_Benchmarks['Chad1000x']

In [173]:
# Replace '--' with NaN
Women_Benchmarks.replace('--', np.nan, inplace=True)

# Print the updated DataFrame
Women_Benchmarks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143517 entries, 0 to 143516
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Athlete ID      143497 non-null  object
 1   Back Squat      27356 non-null   object
 2   Clean and Jerk  24739 non-null   object
 3   Deadlift        28672 non-null   object
 4   Fight Gone Bad  4481 non-null    object
 5   Filthy 50       2315 non-null    object
 6   Fran            8774 non-null    object
 7   Grace           8149 non-null    object
 8   Helen           5920 non-null    object
 9   L1 Benchmark    199 non-null     object
 10  Run 5k          9415 non-null    object
 11  Snatch          22663 non-null   object
 12  Sprint 400m     3578 non-null    object
dtypes: object(13)
memory usage: 14.2+ MB

In [174]:
# Define a function to remove 'lb' and convert to pounds
def clean_and_convert(weight):
    try:
        if 'kg' in str(weight):
            return pd.to_numeric(weight.split()[0]) * 2.20462
        elif 'lb' in str(weight):
            return pd.to_numeric(weight.split()[0])
        else:
            return None
    except Exception as e:
        print(f"Error occurred: {e}")
        return None

# Columns to clean and convert
columns_to_clean = ['Back Squat', 'Clean and Jerk', 'Deadlift', 'Snatch']

# Apply the cleaning and conversion function to the specified columns
Women_Benchmarks[columns_to_clean] = Women_Benchmarks[columns_to_clean].applymap(clean_and_convert)

Women_Benchmarks.head()

,Athlete ID,Back Squat,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch,Sprint 400m
0,1755,245.0000,165.00000,265.00000,293,NaN,4:29,2:25,11:09,NaN,25:08,120.00000,1:20
1,1775,303.0000,231.00000,345.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,190.00000,NaN
2,1659,300.0000,235.00000,350.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,190.00000,1:00
3,1802,250.0000,200.00000,330.00000,320,NaN,3:30,NaN,NaN,NaN,NaN,160.00000,1:23
4,1751,264.5544,213.84814,365.96692,NaN,22:54,3:39,1:52,9:11,NaN,NaN,160.93726,NaN

In [175]:
# Rename the Columns
Women_Benchmarks.rename(columns={'Back Squat': 'Back Squat (lbs)', 'Clean and Jerk':'Clean and Jerk (lbs)', 'Deadlift': 'Deadlift (lbs)', 'Snatch': 'Snatch (lbs)'}, inplace=True)
Women_Benchmarks.head()

,Athlete ID,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m
0,1755,245.0000,165.00000,265.00000,293,NaN,4:29,2:25,11:09,NaN,25:08,120.00000,1:20
1,1775,303.0000,231.00000,345.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,190.00000,NaN
2,1659,300.0000,235.00000,350.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,190.00000,1:00
3,1802,250.0000,200.00000,330.00000,320,NaN,3:30,NaN,NaN,NaN,NaN,160.00000,1:23
4,1751,264.5544,213.84814,365.96692,NaN,22:54,3:39,1:52,9:11,NaN,NaN,160.93726,NaN

START THE PROCESS TO JOIN HERE

In [176]:
# Remove rows with duplicate Athlete IDs from Women_Past
Women_Past_no_duplicates = Women_Past.drop_duplicates(subset='Athlete ID')

In [177]:
# Remove rows with duplicate Athlete IDs from Women_Benchmarks
Women_Benchmarks_no_duplicates = Women_Benchmarks.drop_duplicates(subset='Athlete ID')

In [178]:
# Rename Column
Women_Leaderboard.rename(columns={'CompetitorID': 'Athlete ID'}, inplace=True)

In [179]:
# Remove rows with duplicate IDs from Women_Benchmarks
Women_Leaderboard_no_duplicates = Women_Leaderboard.drop_duplicates(subset='Athlete ID')

In [180]:
# Merge Women_Past with Women_Benchmarks
merged_df = pd.merge(Women_Past_no_duplicates, Women_Benchmarks_no_duplicates, on='Athlete ID', how='inner')
merged_df.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m
0,1775,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,231.00000,345.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,190.00000,NaN
1,1755,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,165.00000,265.00000,293,NaN,4:29,2:25,11:09,NaN,25:08,120.00000,1:20
2,1802,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,200.00000,330.00000,320,NaN,3:30,NaN,NaN,NaN,NaN,160.00000,1:23
3,1751,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,213.84814,365.96692,NaN,22:54,3:39,1:52,9:11,NaN,NaN,160.93726,NaN
4,1659,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,235.00000,350.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,190.00000,1:00

In [181]:
# Convert 'Athlete ID' to string (object) in Women_Leaderboard
Women_Leaderboard_no_duplicates['Athlete ID'] = Women_Leaderboard_no_duplicates['Athlete ID'].astype(str)

# Merge merged_df with Men_Leaderboard
PreClean_Crossfit = pd.merge(merged_df, Women_Leaderboard_no_duplicates, on='Athlete ID', how='left')

PreClean_Crossfit.head()

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,1775,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,231.00000,345.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,190.00000,NaN,Daniella Verhoest,United States,North America East,CrossFit 908,F,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0
1,1755,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,165.00000,265.00000,293,NaN,4:29,2:25,11:09,NaN,25:08,120.00000,1:20,Robin Warnick,United States,North America East,CrossFit Terminus,F,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0
2,1802,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,200.00000,330.00000,320,NaN,3:30,NaN,NaN,NaN,NaN,160.00000,1:23,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,F,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0
3,1751,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,213.84814,365.96692,NaN,22:54,3:39,1:52,9:11,NaN,NaN,160.93726,NaN,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,F,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0
4,1659,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,235.00000,350.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,190.00000,1:00,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,F,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0

In [182]:
# #Output Crossfit to a CSV file
PreClean_Crossfit.to_csv('Pre-Clean_Women_Crossfit.csv', index=False)

In [183]:
Women_Clean_Me = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Pre-Clean_Women_Crossfit.csv')
Women_Clean_Me.head()

/var/folders/xm/kc32pwjj5fj5xqf43yb4dz340000gn/T/ipykernel_2907/1057959074.py:1: DtypeWarning: Columns (0,23) have mixed types. Specify dtype option on import or set low_memory=False.
  Women_Clean_Me = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Pre-Clean_Women_Crossfit.csv')

,Athlete ID,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Clean and Jerk (lbs),Deadlift (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Snatch (lbs),Sprint 400m,CompetitorName,CountryName,RegionName,AffiliateName,Gender,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank
0,1775.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,231.00000,345.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,190.00000,NaN,Daniella Verhoest,United States,North America East,CrossFit 908,F,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0
1,1755.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,165.00000,265.00000,293.0,NaN,4:29,2:25,11:09,NaN,25:08,120.00000,1:20,Robin Warnick,United States,North America East,CrossFit Terminus,F,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0
2,1802.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,200.00000,330.00000,320.0,NaN,3:30,NaN,NaN,NaN,NaN,160.00000,1:23,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,F,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0
3,1751.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,213.84814,365.96692,NaN,22:54,3:39,1:52,9:11,NaN,NaN,160.93726,NaN,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,F,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0
4,1659.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,235.00000,350.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,190.00000,1:00,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,F,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0

In [184]:
# Define the desired order of column names
desired_column_order = [
    'Athlete ID',
    'Gender',
    'CompetitorName',
    'CountryName',
    'RegionName',
    'AffiliateName',
    'Height (in)',
    'Age',
    'Weight (lbs)',
    'Overall Rank',
    '24.1 Rank',
    '24.2 Rank',
    '24.3 Rank',
    '2024 Rank',
    '2023 Rank',
    '2022 Rank',
    '2021 Rank',
    '2020 Rank',
    '2019 Rank',
    '2018 Rank',
    '2017 Rank',
    '2016 Rank',
    '2015 Rank',
    '2014 Rank',
    '2013 Rank',
    '2012 Rank',
    '2011 Rank',
    'Back Squat (lbs)',
    'Deadlift (lbs)',
    'Clean and Jerk (lbs)',
    'Snatch (lbs)',
    'Fight Gone Bad',
    'Filthy 50',
    'Fran',
    'Grace',
    'Helen',
    'L1 Benchmark',
    'Run 5k',
    'Sprint 400m'
 
]
Women_Clean_Me=Women_Clean_Me[desired_column_order]
Women_Clean_Me.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124928 entries, 0 to 124927
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Athlete ID            124927 non-null  object
 1   Gender                124926 non-null  object
 2   CompetitorName        124924 non-null  object
 3   CountryName           124678 non-null  object
 4   RegionName            124926 non-null  object
 5   AffiliateName         113581 non-null  object
 6   Height (in)           47518 non-null   float64
 7   Age                   124926 non-null  float64
 8   Weight (lbs)          42678 non-null   float64
 9   Overall Rank          124926 non-null  float64
 10  24.1 Rank             124926 non-null  float64
 11  24.2 Rank             124926 non-null  float64
 12  24.3 Rank             124926 non-null  float64
 13  2024 Rank             124928 non-null  float64
 14  2023 Rank             66615 non-null   float64
 15  2022 Rank             49990 non-null   float64
 16  2021 Rank             35211 non-null   float64
 17  2020 Rank             23701 non-null   float64
 18  2019 Rank             26323 non-null   float64
 19  2018 Rank             23609 non-null   float64
 20  2017 Rank             18105 non-null   float64
 21  2016 Rank             9810 non-null    float64
 22  2015 Rank             6575 non-null    float64
 23  2014 Rank             4551 non-null    float64
 24  2013 Rank             2494 non-null    float64
 25  2012 Rank             1157 non-null    float64
 26  2011 Rank             422 non-null     float64
 27  Back Squat (lbs)      25186 non-null   float64
 28  Deadlift (lbs)        26290 non-null   float64
 29  Clean and Jerk (lbs)  23124 non-null   float64
 30  Snatch (lbs)          21219 non-null   float64
 31  Fight Gone Bad        4337 non-null    float64
 32  Filthy 50             2263 non-null    object
 33  Fran                  8503 non-null    object
 34  Grace                 7885 non-null    object
 35  Helen                 5711 non-null    object
 36  L1 Benchmark          173 non-null     object
 37  Run 5k                8724 non-null    object
 38  Sprint 400m           3406 non-null    object
dtypes: float64(26), object(13)
memory usage: 37.2+ MB

In [185]:
# Rename the Column Names
Women_Clean_Me.rename(columns={'CompetitorName':'Competitor Name', 'CountryName':'County Name', 'RegionName':'Region Name', 'AffiliateName': 'Affiliate Name'}, inplace=True)
Women_Clean_Me.head()

,Athlete ID,Gender,Competitor Name,County Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,NaN
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaN,4:29,2:25,11:09,NaN,25:08,1:20
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaN,3:30,NaN,NaN,NaN,NaN,1:23
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,3:39,1:52,9:11,NaN,NaN,NaN
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,1:00

In [186]:
# Convert 'Fight Gone Bad' column to float
Women_Clean_Me['Fight Gone Bad'] = Women_Clean_Me['Fight Gone Bad'].astype(float)

In [187]:
Women_Clean_Me.head()

,Athlete ID,Gender,Competitor Name,County Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,NaN
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaN,4:29,2:25,11:09,NaN,25:08,1:20
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaN,3:30,NaN,NaN,NaN,NaN,1:23
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,3:39,1:52,9:11,NaN,NaN,NaN
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,1:00

Clean Each Column Individually

In [188]:
Women_Clean_Me.columns

Index(['Athlete ID', 'Gender', 'Competitor Name', 'County Name', 'Region Name',
       'Affiliate Name', 'Height (in)', 'Age', 'Weight (lbs)', 'Overall Rank',
       '24.1 Rank', '24.2 Rank', '24.3 Rank', '2024 Rank', '2023 Rank',
       '2022 Rank', '2021 Rank', '2020 Rank', '2019 Rank', '2018 Rank',
       '2017 Rank', '2016 Rank', '2015 Rank', '2014 Rank', '2013 Rank',
       '2012 Rank', '2011 Rank', 'Back Squat (lbs)', 'Deadlift (lbs)',
       'Clean and Jerk (lbs)', 'Snatch (lbs)', 'Fight Gone Bad', 'Filthy 50',
       'Fran', 'Grace', 'Helen', 'L1 Benchmark', 'Run 5k', 'Sprint 400m'],
      dtype='object')

In [189]:
Women_Clean_Me['Athlete ID'].unique()

array([1775.0, 1755.0, 1802.0, ..., 2729635, 2730346, 2730442],
      dtype=object)

In [190]:
Women_Clean_Me['Gender'].unique()

array(['F', nan], dtype=object)

In [191]:
Women_Clean_Me['Competitor Name'].unique()

array(['Daniella Verhoest', 'Robin Warnick', 'Melissa Kiel', ...,
       'Meredith McNeil', 'Olivia Tabaka', 'Katrina Hoagland'],
      dtype=object)

In [192]:
Women_Clean_Me['County Name'].unique()

array(['United States', 'Australia', 'Canada', 'Iceland', 'New Zealand',
       'Sweden', 'United Kingdom', 'Denmark', 'Netherlands', 'Peru',
       'Brazil', 'Puerto Rico', 'Cayman Islands', 'Mexico', 'Philippines',
       'South Africa', 'Italy', 'Ecuador', 'Finland', 'Czech Republic',
       'Switzerland', 'Argentina', 'Ireland', 'Norway', 'France',
       'Korea, Republic of', 'Germany', 'Spain', 'Japan', 'Bulgaria',
       'Israel', 'Venezuela', 'Guam', 'Austria', 'Bolivia', 'India',
       'Ukraine', 'Poland', 'Greece', 'Croatia', 'Belgium', 'Namibia',
       'Viet Nam', 'Colombia', nan, 'China', 'Dominican Republic',
       'Costa Rica', 'Hong Kong, China', 'Malta', 'Samoa', 'Guatemala',
       'Barbados', 'Malaysia', 'Lithuania', 'Romania', 'Singapore',
       'Chile', 'Honduras', 'Slovenia', 'Brunei Darussalam', 'Portugal',
       'Thailand', 'United Arab Emirates', 'Virgin Islands, US',
       'Luxembourg', 'Latvia', 'Madagascar', 'Suriname', 'Iran',
       'Morocco', 'Bahrain', 'Estonia', 'Uruguay', 'Nicaragua', 'Turkey',
       'Panama', 'Mauritius', 'Saudi Arabia', 'Zimbabwe', 'Slovakia',
       'Paraguay', 'Andorra', 'Chinese Taipei', 'Aruba', 'Serbia',
       'Indonesia', 'Hungary', 'Bermuda', 'El Salvador', 'Lebanon',
       'Bosnia and Herzegovina', 'Palestinian Territory', 'Fiji',
       'Trinidad and Tobago', 'Kenya', 'Tunisia', 'Sri Lanka', 'Egypt',
       'Virgin Islands, British', 'Cambodia', 'Kazakhstan', 'Mongolia',
       'Grenada', 'Angola', 'Montenegro', 'Saint Lucia', 'Moldova',
       'Jamaica', 'Pakistan', 'Belize', 'Cyprus', 'Macedonia', 'Iraq',
       'Guyana', 'Albania', 'Liechtenstein', 'Azerbaijan', 'Zambia',
       'Tonga', 'Bahamas', 'Algeria', 'Nigeria', 'Senegal', 'Uzbekistan',
       'Kosovo', 'Sudan', 'Mozambique', 'Ghana', 'Jordan', 'Vanuatu',
       'San Marino', 'Botswana', 'Monaco', 'Qatar', 'Haiti',
       'American Samoa', 'Uganda', 'Cameroon', 'Georgia', 'Micronesia',
       'Nepal', 'Timor-Leste', 'Bangladesh', 'Kyrgyzstan', 'Myanmar',
       'Gambia', 'Tajikistan', 'Guinea-Bissau', 'Armenia', 'Cape Verde',
       'Rwanda', 'South Sudan', 'Liberia',
       'Congo, The Democratic Republic of the', 'Dominica', 'Swaziland',
       'Tanzania'], dtype=object)

In [193]:
Women_Clean_Me.rename(columns={'County Name':'Country Name'}, inplace=True)

In [194]:
Women_Clean_Me['Region Name'].unique()

array(['North America East', 'Oceania', 'North America West', 'Europe',
       'South America', 'Asia', 'Africa', nan], dtype=object)

In [195]:
Women_Clean_Me['Affiliate Name'].unique()

array(['CrossFit 908', 'CrossFit Terminus', 'East Ormond Beach CrossFit',
       ..., 'CrossFit Bidart', 'CrossFit 2712 Industrieweg',
       'Canal Fulton CrossFit'], dtype=object)

In [196]:
# Count the occurrences of each unique value in the 'col1' column
value_counts = Women_Clean_Me['Height (in)'].value_counts()

# Sort the value counts in descending order
sorted_value_counts = value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(sorted_value_counts)

Height (in)
0.0           8
1.0          46
2.0          16
4.0           4
5.0         139
6.0          50
12.0          2
14.0          1
16.0          2
17.0          1
18.0          1
21.0          1
23.0          1
24.0         13
25.0          7
26.0         11
27.0          2
28.0          2
29.0          1
40.0          1
46.0          1
47.0          1
48.0          6
52.0          2
53.0          2
54.0          7
55.0          3
56.0          8
57.0         52
58.0        131
59.0        596
60.0       1686
61.0       2630
62.0       4465
63.0       5841
64.0       6444
65.0       6671
66.0       5570
67.0       5319
68.0       3147
69.0       2331
70.0       1250
71.0        503
72.0        289
73.0         56
74.0         29
75.0          6
76.0          9
77.0          3
79.0          3
80.0          1
81.0          2
82.0          1
84.0          2
96.0          1
110.0         1
114.0         1
118.0         1
128.0         1
150.0         1
153.0         1
154.0         1
156.0         5
157.0         7
158.0         2
159.0         2
160.0        10
161.0         6
162.0         5
163.0         6
164.0        10
165.0         7
166.0         3
167.0         7
168.0         7
169.0         3
170.0         9
171.0         1
172.0         2
173.0         2
174.0         3
175.0         5
177.0         1
178.0         2
180.0         1
189.0         1
203.0         1
214.0         1
220.0         1
411.0         2
415.0         1
420.0         1
444.0         2
504.0         2
510.0         1
600.0         1
630.0         2
638.0         1
650.0         2
654.0         1
661.0         1
665.0         1
669.0         1
709.0         1
1956.0        1
6024.0        1
6181.0        1
25801.0       1
Name: count, dtype: int64

In [197]:
# Replace values less than 48 or greater than 77 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Height (in)'] < 48) | (Women_Clean_Me['Height (in)'] > 77), 'Height (in)'] = pd.NaT

In [198]:
Women_Clean_Me['Age'].unique()

array([35., 47., 42., 41., 49., 43., 31., 38., 45., 44., 33., 32., 52.,
       48., 37., 40., 39., 54., 34., 46., 50., 51., 36., 27., 53., 30.,
       19., 28., 29., 26., 25., nan, 22., 24., 23., 17., 21., 20., 16.,
       18.])

In [199]:
# Replace values less than 50 or greater than 450 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Weight (lbs)'] < 50) | (Women_Clean_Me['Weight (lbs)'] > 450), 'Weight (lbs)'] = pd.NaT

In [200]:
# Count the occurrences of each unique value in the 'col1' column
weight_value_counts = Women_Clean_Me['Weight (lbs)'].value_counts()

# Sort the value counts in descending order
sorted_value_counts = weight_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(sorted_value_counts)

Weight (lbs)
50.0        1
51.0        2
52.0        5
53.0        5
54.0       10
55.0       12
56.0        5
57.0       26
58.0        9
59.0        5
60.0       32
61.0        8
62.0       14
63.0       17
64.0       13
65.0       13
66.0        7
67.0       11
68.0       16
69.0        8
70.0       14
71.0        7
72.0        4
73.0        6
74.0        1
75.0        4
77.0        3
78.0        2
79.0        1
80.0        5
83.0        1
85.0        2
86.0        1
87.0        2
88.0        6
90.0        5
93.0        2
94.0        1
95.0       24
96.0        1
97.0       18
98.0       11
99.0       32
100.0      46
101.0      32
102.0      16
103.0      17
104.0      82
105.0     119
106.0     107
107.0      47
108.0     131
109.0      18
110.0     474
111.0      19
112.0     274
113.0      69
114.0      83
115.0     827
116.0     103
117.0     544
118.0     215
119.0     502
120.0     794
121.0     764
122.0     182
123.0     792
124.0     143
125.0    1168
126.0     809
127.0     307
128.0    1246
129.0     155
130.0    2097
131.0     126
132.0    1711
133.0     278
134.0     760
135.0    2011
136.0     243
137.0    1164
138.0     532
139.0    1042
140.0    1829
141.0     776
142.0     347
143.0    1379
144.0     207
145.0    1682
146.0     639
147.0     223
148.0     954
149.0     151
150.0    2360
151.0      86
152.0     591
153.0     196
154.0     987
155.0    1264
156.0     119
157.0     377
158.0     212
159.0     470
160.0     922
161.0     348
162.0     117
163.0     318
164.0      65
165.0    1122
166.0      57
167.0      67
168.0     252
169.0      54
170.0     622
171.0      33
172.0     211
173.0      61
174.0     112
175.0     410
176.0     203
177.0      36
178.0      55
179.0      74
180.0     304
181.0      81
182.0      41
183.0      84
184.0      20
185.0     230
186.0      15
187.0     104
188.0      32
189.0      22
190.0     179
191.0      14
192.0      43
193.0      14
194.0      45
195.0      83
196.0      27
197.0      17
198.0      74
199.0      10
200.0     107
201.0      15
202.0      11
203.0      26
204.0      11
205.0      51
206.0       9
207.0      12
208.0       8
209.0      35
210.0      42
211.0       8
212.0      21
213.0       5
214.0       7
215.0      38
216.0      13
217.0       7
218.0      13
219.0       6
220.0      46
221.0       6
223.0       3
224.0       9
225.0      19
226.0       3
227.0      10
228.0       6
229.0       5
230.0      23
231.0       8
232.0       2
233.0       2
234.0       4
235.0       8
236.0       3
237.0       5
238.0       4
239.0       2
240.0      24
241.0       2
242.0       2
243.0       6
245.0      14
246.0       2
247.0       2
248.0       4
249.0       2
250.0      23
251.0       3
252.0       3
253.0       1
254.0       5
255.0       4
256.0       1
258.0       1
260.0       3
261.0       2
262.0       1
263.0       2
265.0       4
267.0       3
270.0      12
273.0       1
275.0       3
278.0       2
279.0       1
280.0       2
281.0       1
288.0       2
290.0       2
292.0       1
300.0       4
302.0       1
306.0       2
310.0       2
316.0       1
320.0       1
322.0       1
325.0       1
326.0       1
330.0       1
331.0       1
345.0       1
346.0       1
351.0       1
355.0       1
360.0       1
369.0       1
400.0       1
408.0       1
Name: count, dtype: int64

In [201]:
Women_Clean_Me['Overall Rank'].unique()

array([  6060.,  70388.,  37421., ...,  81345., 134650., 114884.])

In [202]:
Women_Clean_Me['24.3 Rank'].unique()

array([  4587.,  46306.,  23411., ..., 114963.,  73040.,  75335.])

In [203]:
# Replace values less than 45 or greater than 600 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Back Squat (lbs)'] < 45) | (Women_Clean_Me['Back Squat (lbs)'] > 600), 'Back Squat (lbs)'] = pd.NaT

In [204]:
# Count the occurrences of each unique value in the 'col1' column
BS_value_counts = Women_Clean_Me['Back Squat (lbs)'].value_counts()

# Sort the value counts in descending order
BS_sorted_value_counts = BS_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(BS_sorted_value_counts)

Back Squat (lbs)
45.0                    2
50.0                    3
52.0                    1
53.0                    1
55.0                    7
55.1155                 3
57.0                    1
58.0                    1
61.0                    1
61.72935999999999       2
65.0                   12
66.1386                 9
67.0                    1
69.0                    2
70.0                   10
70.54784                4
72.0                    1
72.75246                1
73.0                    1
74.95707999999999       1
75.0                   14
77.0                    2
77.1617                28
80.0                    9
81.57094                2
82.0                    1
83.77556                6
85.0                   17
85.98017999999999       1
88.0                    1
88.1848                38
90.0                   14
90.38942                3
91.0                    1
92.59404               12
93.0                    1
94.79866                6
95.0                   23
96.0                    1
97.0                    1
98.0                    1
99.0                    1
99.2079                58
100.0                  35
101.41252               2
103.0                   3
103.61714              11
104.0                   1
105.0                  64
105.82175999999998     10
106.0                   1
108.0                   1
108.02638               3
110.0                  38
110.231                88
112.0                   3
112.43562               3
114.64024              19
115.0                  79
116.84485999999998     16
117.0                   1
119.04948               7
120.0                  46
121.0                   3
121.2541              117
122.0                   1
123.0                   2
123.45872               5
124.0                   1
125.0                 125
125.66334              27
126.0                   2
127.0                   3
127.86795999999998     19
128.0                   1
129.0                   1
130.0                  69
130.07258               8
132.0                   1
132.2772              213
133.0                   4
134.48182              10
135.0                 182
136.68643999999998     49
137.0                   9
138.0                   4
138.89105999999998     43
140.0                 101
141.0                   1
141.09568              10
142.0                   2
143.0                   8
143.3003              246
144.0                   2
145.0                 220
145.50492               9
146.0                   4
147.0                   4
147.70953999999998     41
148.0                   5
149.91415999999998     47
150.0                 179
151.0                   3
152.0                   3
152.11878               7
153.0                   9
154.0                   4
154.3234              339
155.0                 312
156.0                   5
156.52802              20
157.0                   6
158.0                   2
158.73263999999998    122
160.0                 226
160.93725999999998     50
161.0                   1
162.0                   5
163.0                   9
163.14188              16
164.0                   2
165.0                 499
165.3465              404
166.0                   3
167.0                   1
167.55112              26
168.0                   7
169.0                   1
169.75573999999995     63
170.0                 279
171.0                   1
171.96035999999998     73
172.0                   6
173.0                  13
174.16498              21
175.0                 544
176.0                  11
176.3696              573
177.0                  10
178.0                   5
178.57422              41
179.0                   2
180.0                 337
180.77884             128
181.0                   3
182.0                  10
182.98346              90
183.0                  11
185.0                 652
185.18808              32
186.0                   8
187.0                  21
187.3927              531
188.0                   3
189.0                   5
189.59732              43
190.0                 376
191.0                   4
191.80194              85
192.0                  11
193.0                  10
194.0                   2
194.00656              81
195.0                 503
196.0                   3
196.21118              20
197.0                   7
198.0                  11
198.4158              624
200.0                 776
200.62042              35
201.0                  14
202.0                  18
202.82504             134
203.0                  18
204.0                   3
205.0                 902
205.02966             101
206.0                  10
207.0                  15
207.23428              20
208.0                   6
209.0                   9
209.4389              426
210.0                 521
211.0                   8
211.64352              36
212.0                  13
213.0                  14
213.84814              66
214.0                   4
215.0                 796
216.0                   5
216.05276              58
217.0                  25
218.0                  12
218.25738               6
219.0                   1
220.0                 439
220.462               766
221.0                   3
222.0                  12
222.66662              58
223.0                   8
224.0                   3
224.87124              96
225.0                 928
226.0                   5
227.0                  13
227.07586              77
228.0                   5
229.0                   2
229.28048              17
230.0                 407
231.0                  14
231.4851              435
232.0                  11
233.0                  13
233.68972              24
234.0                   2
235.0                 669
235.89434              81
236.0                   9
237.0                  14
238.0                   5
238.09896              49
239.0                   1
240.0                 388
240.30358              10
241.0                   3
242.0                  21
242.5082              396
243.0                  10
244.0                   3
244.71282              23
245.0                 575
246.0                   3
246.91744              83
247.0                   9
248.0                   5
249.0                   1
249.12206              35
250.0                 452
251.0                   3
251.32668               5
252.0                   9
253.0                  11
253.5313              296
254.0                   3
255.0                 524
255.73592              13
256.0                   3
257.0                   9
257.94054              39
258.0                   4
259.0                   7
260.0                 262
260.14516              37
261.0                   3
262.0                  11
262.34977999999995      4
263.0                   5
264.0                   7
264.5544              263
265.0                 510
266.0                   7
266.75902              13
267.0                  12
268.0                   6
268.96364              30
269.0                   2
270.0                 207
271.0                   3
271.16826              22
272.0                  12
273.0                   5
273.37287999999995      5
274.0                   1
275.0                 389
275.5775              170
276.0                   3
277.0                   5
277.78212              14
278.0                   3
279.98674              21
280.0                 173
281.0                   1
282.0                   9
282.19136              10
283.0                   4
284.39597999999995      2
285.0                 258
286.0                   7
286.6006              142
287.0                   4
288.0                   2
288.80522               7
290.0                  86
291.00984              16
292.0                   5
293.0                   1
293.21446              14
295.0                 124
295.41907999999995      4
296.0                   1
297.0                   1
297.6237               77
298.0                   4
299.82832               5
300.0                 234
301.0                   3
302.0                   2
302.03294               7
303.0                  12
304.0                   3
304.23756               7
305.0                 146
306.0                   4
306.44217999999995      3
307.0                   5
308.0                   9
308.6468               72
309.0                   2
310.0                  72
310.85142               6
311.0                   1
313.0                   2
313.05604               8
314.0                   3
315.0                 106
315.26066               8
316.0                   1
317.0                   3
317.46527999999995      2
318.0                   2
319.0                   5
319.6699               24
320.0                  53
321.0                   1
321.87452               5
324.07914               2
325.0                  69
326.0                   1
326.28376               1
327.0                   1
328.0                   2
330.0                  28
330.693                28
332.0                   1
332.89762               1
334.0                   1
335.0                  26
335.10224               3
336.0                   1
337.0                   1
337.30686               3
340.0                  18
341.0                   2
341.7161               11
343.92072               2
345.0                  16
347.0                   1
348.0                   1
350.0                  27
350.53457999999995      1
352.0                   5
352.7392               15
353.0                   2
355.0                   7
359.35306               1
360.0                   4
363.7623                1
365.0                  14
370.0                   4
374.7854                1
375.0                   3
376.0                   1
383.60388               1
385.0                   4
385.8085                2
390.0                   2
390.21774               1
396.0                   1
396.8316                3
400.0                   4
405.0                   3
410.0                   2
413.0                   1
415.0                   1
435.0                   1
440.924                 1
500.0                   1
515.0                   1
Name: count, dtype: int64

In [205]:
# Count the occurrences of each unique value in the 'col1' column
DL_value_counts = Women_Clean_Me['Deadlift (lbs)'].value_counts()

# Sort the value counts in descending order
DL_sorted_value_counts = DL_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(DL_sorted_value_counts)

Deadlift (lbs)
1.00000         5
2.00000         2
2.20462        12
3.00000         3
4.40924         1
7.00000         2
8.00000         1
8.81848         1
11.02310        1
25.00000        1
37.47854        1
43.00000        2
44.09240        1
50.00000        3
55.00000        1
55.11550        3
65.00000        4
70.00000        3
74.00000        1
74.95708        1
75.00000        2
78.00000        1
80.00000        5
81.57094        1
83.77556        1
85.00000        6
88.18480        4
90.00000        8
90.38942        1
92.00000        1
92.59404        2
94.00000        1
94.79866       17
95.00000       25
99.20790       16
100.00000       8
102.00000       3
103.00000       1
103.61714       2
105.00000      23
105.82176       2
107.00000       1
110.00000      11
110.23100      24
112.00000       1
112.43562       1
114.64024       4
115.00000      20
116.84486       4
117.00000       2
118.00000       1
120.00000      15
121.25410      35
123.45872      10
124.00000       1
125.00000      35
125.66334       2
127.00000       1
127.86796       3
130.00000      10
132.00000       1
132.27720      35
133.00000       1
134.00000       1
134.48182       3
135.00000      68
136.00000       2
136.68644       6
137.00000       1
138.89106       4
140.00000      20
141.09568       4
143.00000       2
143.30030      63
145.00000      42
145.50492       3
147.70954      11
148.00000       2
149.91416       5
150.00000      29
152.00000       1
154.00000       2
154.32340     108
155.00000     109
156.00000       1
156.52802       2
158.00000       1
158.73264      23
160.00000      27
160.93726       6
161.00000       1
163.00000       1
163.14188       4
165.00000     109
165.34650     125
167.00000       2
167.55112       1
168.00000       1
169.00000       1
169.75574      19
170.00000      54
171.96036      14
172.00000       1
173.00000       2
174.00000       1
174.16498       6
175.00000     133
176.00000       1
176.36960     183
177.00000       2
178.00000       1
178.57422       5
179.00000       2
180.00000      68
180.77884      45
182.00000       3
182.98346      20
183.00000       6
185.00000     201
185.18808      12
186.00000       3
187.00000       5
187.39270     195
188.00000       5
189.00000       2
189.59732      10
190.00000      78
191.00000       1
191.80194      26
192.00000       3
193.00000       4
194.00656      28
195.00000     159
196.00000       2
196.21118       5
197.00000       3
198.00000       6
198.41580     301
199.00000       2
200.00000     342
200.62042      18
201.00000      10
202.00000       8
202.82504      68
203.00000      10
204.00000       1
205.00000     476
205.02966      41
206.00000       2
207.00000       9
207.23428      12
208.00000       6
209.00000       6
209.43890     316
210.00000     250
211.64352      13
212.00000       3
213.00000       9
213.84814      36
214.00000       3
215.00000     490
216.00000       1
216.05276      30
217.00000       5
218.00000       7
218.25738       5
220.00000     271
220.46200     668
221.00000       4
222.00000       2
222.66662      50
223.00000       5
224.87124     128
225.00000     759
226.00000       6
227.00000       9
227.07586      67
228.00000      16
229.00000       1
229.28048      17
230.00000     307
231.00000      10
231.48510     600
232.00000       9
233.00000       7
233.68972      25
235.00000     650
235.89434     104
236.00000       6
237.00000      10
238.00000       4
238.09896      67
240.00000     313
240.30358      10
241.00000       6
242.00000      13
242.50820     598
243.00000      20
244.00000       1
244.71282      35
245.00000     734
246.00000       5
246.91744     108
247.00000      12
248.00000       8
249.00000       2
249.12206      55
250.00000     463
251.00000       4
251.32668      11
252.00000       5
253.00000      14
253.53130     600
254.00000       2
255.00000     675
255.73592      25
256.00000       7
257.00000      10
257.94054      75
258.00000       9
259.00000       1
260.00000     379
260.14516      68
262.00000       9
262.34978      11
263.00000       6
264.00000       4
264.55440     717
265.00000     897
266.00000       4
266.75902      32
267.00000      10
268.00000       6
268.96364     100
270.00000     294
271.00000       1
271.16826      64
272.00000       6
273.00000       8
273.37288      18
274.00000       1
275.00000     876
275.57750     571
276.00000       9
277.00000      11
277.78212      26
278.00000      11
279.00000       2
279.98674      65
280.00000     313
281.00000       1
282.00000       3
282.19136      40
283.00000      12
284.00000       1
284.39598       5
285.00000     728
286.00000      16
286.60060     574
287.00000      20
288.00000       3
288.80522      35
289.00000       3
290.00000     226
291.00000       2
291.00984      70
292.00000       8
293.00000       3
293.21446      40
295.00000     364
295.41908      12
296.00000       5
297.00000      14
297.62370     416
298.00000       7
299.82832      32
300.00000     825
301.00000       9
302.00000      16
302.03294      32
303.00000      28
304.00000       2
304.23756      25
305.00000     693
306.00000       6
306.44218       4
307.00000      16
308.00000      11
308.64680     368
309.00000       2
310.00000     271
310.85142      16
311.00000       6
312.00000       1
313.00000       8
313.05604      39
314.00000       1
315.00000     663
315.26066      24
316.00000       4
317.00000      13
317.46528       4
318.00000       2
319.00000       3
319.66990     251
320.00000     215
321.00000       4
321.87452      10
322.00000       3
323.00000       7
324.00000       1
324.07914      19
325.00000     413
326.00000       5
326.28376      18
327.00000       8
328.00000       3
328.48838       3
329.00000       1
330.00000     189
330.69300     232
331.00000       3
332.00000       3
332.89762      14
333.00000       3
335.00000     305
335.10224      15
336.00000       8
337.00000       9
337.30686       6
338.00000       3
339.00000       1
339.51148       1
340.00000     140
341.00000       7
341.71610     119
342.00000       5
343.00000       3
343.92072       4
345.00000     187
346.00000       1
346.12534      12
347.00000      12
348.00000       1
348.32996       7
350.00000     118
351.00000       1
352.00000       7
352.73920     121
353.00000       4
354.94382       8
355.00000     140
356.00000       3
357.00000       2
357.14844       4
358.00000       2
359.35306       5
360.00000      48
361.55768       1
362.00000       4
363.00000       6
363.76230      60
364.00000       1
365.00000     145
365.96692       4
366.00000       1
368.17154       6
369.00000       3
370.00000      30
370.37616       5
371.00000       1
374.00000       3
374.78540      43
375.00000      67
376.00000       1
376.99002       5
378.00000       1
379.19464       6
380.00000      22
381.39926       5
382.00000       2
383.00000       1
383.60388       1
385.00000      54
385.80850      12
386.00000       2
387.00000       1
390.00000      14
390.21774       1
391.00000       1
392.00000       1
392.42236       2
395.00000       9
396.00000       1
396.83160      19
400.00000      41
401.00000       1
402.00000       2
403.00000       2
403.44546       2
405.00000      45
405.65008       2
407.85470       9
408.00000       1
410.00000       6
412.00000       1
412.26394       1
413.00000       1
414.46856       1
415.00000      14
418.87780       2
420.00000       7
422.00000       1
424.00000       1
425.00000      10
425.49166       1
430.00000       2
432.00000       1
433.00000       1
435.00000       1
440.92400       6
441.00000       1
445.00000       1
450.00000       1
452.00000       1
455.00000       1
456.35634       2
463.00000       1
470.00000       1
475.00000       2
485.00000       2
500.00000       1
518.08570       1
1322.77200      1
2653.00000      1
Name: count, dtype: int64

In [206]:
# Replace values less than 44 or greater than 500 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Clean and Jerk (lbs)'] < 44) | (Women_Clean_Me['Clean and Jerk (lbs)'] > 500), 'Clean and Jerk (lbs)'] = pd.NaT

In [207]:
# Count the occurrences of each unique value in the 'col1' column
CJ_value_counts = Women_Clean_Me['Clean and Jerk (lbs)'].value_counts()

# Sort the value counts in descending order
CJ_sorted_value_counts = CJ_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(CJ_sorted_value_counts)

Clean and Jerk (lbs)
44.0924                 10
45.0                    13
46.0                     2
46.29702                 1
47.0                     3
48.50164                 3
50.0                     7
50.70625999999999        3
52.0                     2
52.91087999999999        2
53.0                     4
55.0                    28
55.1155                 21
57.32012                 1
58.0                     2
59.0                     1
59.52474                 9
60.0                    16
61.72935999999999        5
62.0                     3
63.93397999999999        6
65.0                    46
66.0                     1
66.1386                 63
67.0                     1
68.0                     5
68.34321999999999        5
70.0                    40
70.54784                25
72.0                     6
72.75246                15
73.0                     1
74.95707999999999        3
75.0                    77
76.0                     1
77.1617                106
78.0                     4
79.36631999999999        8
80.0                    63
81.0                     1
81.57094                25
83.0                     6
83.77556                31
85.0                   128
85.98017999999999       13
87.0                     7
88.0                     5
88.1848                198
89.0                     2
90.0                   116
90.38942                14
91.0                     5
92.0                     4
92.59404                83
93.0                     6
94.0                     1
94.79866                66
95.0                   282
96.0                     2
97.0                     7
97.00328                12
98.0                     3
99.0                     5
99.2079                301
100.0                  188
101.0                    6
101.41252               24
102.0                    8
103.0                   11
103.61714               98
104.0                    2
105.0                  402
105.82175999999998      94
106.0                    4
107.0                    7
108.0                    7
108.02638               20
109.0                    1
110.0                  276
110.231                449
111.0                    2
112.0                    5
112.43562               43
113.0                    8
114.64024              227
115.0                  629
116.0                    8
116.84485999999998     113
117.0                   14
118.0                   16
119.0                    2
119.04948               28
120.0                  390
121.0                   12
121.2541               531
122.0                   11
123.0                   21
123.45872               47
125.0                  837
125.66334              137
126.0                   10
127.0                   17
127.86795999999998     151
128.0                   17
130.0                  486
130.07258               23
131.0                    4
132.0                   28
132.2772               630
133.0                   20
134.0                    2
134.48182               55
135.0                  983
136.0                    9
136.68643999999998     199
137.0                   26
138.0                   13
138.89105999999998     172
139.0                    1
140.0                  563
141.0                    6
141.09568               39
142.0                   18
143.0                   23
143.3003               647
144.0                    1
145.0                 1027
145.50492               35
146.0                    6
147.0                   22
147.70953999999998     164
148.0                   16
149.0                    3
149.91415999999998     152
150.0                  582
151.0                    7
152.0                   25
152.11878               36
153.0                   21
154.0                    9
154.3234               556
155.0                 1029
156.0                    7
156.52802               47
157.0                   23
158.0                   18
158.73263999999998     144
160.0                  511
160.93725999999998     104
161.0                   10
162.0                   11
163.0                   12
163.14188               29
164.0                    2
165.0                  958
165.3465               495
166.0                    4
167.0                   17
167.55112               40
168.0                   16
169.0                    2
169.75573999999995      92
170.0                  468
171.0                   11
171.96035999999998      82
172.0                   19
173.0                   10
174.0                    2
174.16498               17
175.0                  735
176.0                   21
176.3696               337
177.0                   17
178.0                   15
178.57422               27
179.0                    1
180.0                  341
180.77884               66
181.0                    2
182.0                   15
182.98346               91
183.0                   16
184.0                    1
185.0                  594
185.18808               20
186.0                    4
187.0                   33
187.3927               229
188.0                    7
189.0                    7
189.59732               23
190.0                  279
191.0                    5
191.80194               52
192.0                    6
193.0                   11
194.0                    6
194.00656               41
195.0                  298
196.0                    5
196.21118               17
197.0                    4
198.0                   10
198.4158               151
199.0                    1
200.0                  319
200.62042               13
201.0                    3
202.0                    8
202.82504               31
203.0                    5
205.0                  320
205.02966               35
206.0                    4
207.0                    6
207.23428               13
208.0                    5
209.0                    2
209.4389                88
210.0                  156
211.0                    3
211.64352               12
212.0                    2
213.0                   11
213.84814               21
214.0                    1
215.0                  184
216.0                    3
216.05276                8
217.0                    1
218.0                    3
219.0                    2
220.0                  101
220.462                 84
222.0                    5
222.66662               11
223.0                    2
224.0                    1
224.87124                9
225.0                  110
226.0                    1
227.0                    5
227.07586                5
228.0                    1
229.28048                5
230.0                   50
231.0                    3
231.4851                37
232.0                    2
233.0                    2
233.68972               10
235.0                   69
235.89434                8
237.0                    3
238.0                    5
238.09896                9
240.0                   28
240.30358                2
242.0                    3
242.5082                13
243.0                    1
244.71282                7
245.0                   30
246.0                    2
246.91744                5
247.0                    1
250.0                   23
251.32668                2
252.0                    2
253.0                    2
253.5313                 8
255.0                   14
255.73592                1
257.0                    2
258.0                    1
260.0                    6
260.14516                1
264.5544                 4
265.0                    8
268.0                    1
269.0                    1
270.0                    1
272.0                    1
273.37287999999995       1
275.0                    2
275.5775                 1
277.78212                1
280.0                    1
285.0                    1
297.6237                 1
300.0                    1
310.0                    1
332.0                    1
352.0                    1
352.7392                 1
370.37616                1
420.0                    1
450.0                    1
500.0                    1
Name: count, dtype: int64

In [208]:
# Replace values less than 44 or greater than 450 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Snatch (lbs)'] < 44) | (Women_Clean_Me['Snatch (lbs)'] > 450), 'Snatch (lbs)'] = pd.NaT

In [209]:
# Count the occurrences of each unique value in the 'col1' column
SN_value_counts = Women_Clean_Me['Snatch (lbs)'].value_counts()

# Sort the value counts in descending order
SN_sorted_value_counts = SN_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(SN_sorted_value_counts)

Snatch (lbs)
44.0                     1
44.0924                 38
45.0                    59
46.0                     1
46.29702                 4
47.0                     1
48.0                     3
48.50164                16
49.0                     1
50.0                    33
50.70625999999999       14
51.0                     1
52.0                     5
52.91087999999999        3
53.0                     4
54.0                     1
55.0                   115
55.1155                121
56.0                     1
57.0                     6
57.32012                11
58.0                     3
59.0                     1
59.52474                41
60.0                    57
61.0                     2
61.72935999999999       32
62.0                     4
63.0                     7
63.93397999999999       29
64.0                     1
65.0                   270
66.0                     5
66.1386                255
67.0                     8
68.0                     3
68.34321999999999       37
70.0                   188
70.54784               114
71.0                     2
72.0                    13
72.75246                81
73.0                    10
74.0                     2
74.95707999999999       36
75.0                   404
76.0                     4
77.0                    16
77.1617                459
78.0                    13
79.36631999999999       50
80.0                   319
81.0                     5
81.57094               153
82.0                    16
83.0                    19
83.77556               157
84.0                     3
85.0                   703
85.98017999999999       35
86.0                     5
87.0                    28
88.0                    21
88.1848                553
89.0                     2
90.0                   505
90.38942                75
91.0                     7
92.0                    20
92.59404               238
93.0                    24
94.0                     2
94.79866               213
95.0                   918
96.0                     9
97.0                    28
97.00328                54
98.0                    23
99.0                    11
99.2079                602
100.0                  794
101.0                   11
101.41252               68
102.0                   37
103.0                   26
103.61714              218
104.0                    2
105.0                  994
105.82175999999998     177
106.0                   13
107.0                   34
108.0                   24
108.02638               49
109.0                    3
110.0                  680
110.231                559
111.0                    8
112.0                   25
112.43562               78
113.0                   19
114.0                    4
114.64024              211
115.0                 1013
116.0                   14
116.84485999999998     176
117.0                   40
118.0                   20
119.0                    8
119.04948               49
120.0                  665
121.0                   21
121.2541               395
122.0                   28
123.0                   30
123.45872               54
124.0                    2
125.0                  859
125.66334              116
126.0                   15
127.0                   25
127.86795999999998     106
128.0                   17
130.0                  547
130.07258               18
131.0                    2
132.0                   35
132.2772               357
133.0                   14
134.0                    2
134.48182               65
135.0                  735
136.0                    7
136.68643999999998     110
137.0                   29
138.0                   14
138.89105999999998     100
139.0                    1
140.0                  449
141.0                   10
141.09568               27
142.0                   26
143.0                   21
143.3003               254
144.0                    2
145.0                  468
145.50492               24
146.0                    6
147.0                   18
147.70953999999998      77
148.0                    6
149.0                    4
149.91415999999998      61
150.0                  330
151.0                    5
152.0                   21
152.11878               13
153.0                   10
154.0                    3
154.3234               164
155.0                  342
156.0                    8
156.52802               30
157.0                    8
158.0                    9
158.73263999999998      44
159.0                    3
160.0                  234
160.93725999999998      43
161.0                    2
162.0                   13
163.0                   10
163.14188               13
165.0                  222
165.3465                98
166.0                    5
167.0                   12
167.55112               11
168.0                    4
169.0                    2
169.75573999999995      27
170.0                  129
171.0                    1
171.96035999999998      21
172.0                    9
173.0                    4
174.0                    3
174.16498                4
175.0                  147
176.0                    7
176.3696                59
177.0                    2
178.0                    7
178.57422               15
179.0                    2
180.0                   91
180.77884               12
181.0                    1
182.0                    7
182.98346               19
183.0                    3
185.0                   86
185.18808                8
186.0                    1
187.0                    4
187.3927                29
188.0                    1
189.0                    1
189.59732                6
190.0                   41
191.0                    3
191.80194                8
192.0                    5
193.0                    2
194.00656               11
195.0                   20
196.0                    1
196.21118                2
197.0                    1
198.0                    4
198.4158                15
200.0                   31
200.62042                3
202.0                    3
202.82504                2
205.0                   17
205.02966                1
207.0                    4
207.23428                1
209.4389                 5
210.0                    5
211.64352                1
213.0                    1
215.0                    6
216.05276                1
218.25738                1
220.0                    3
220.462                  2
224.87124                2
225.0                    2
231.4851                 2
286.6006                 1
330.693                  1
350.0                    1
Name: count, dtype: int64

In [210]:
# Replace values greater than 550 with NaN
Women_Clean_Me.loc[(Women_Clean_Me['Fight Gone Bad'] > 450), 'Fight Gone Bad'] = pd.NaT

In [211]:
# Count the occurrences of each unique value in the 'col1' column
FGB_value_counts = Women_Clean_Me['Fight Gone Bad'].value_counts()

# Sort the value counts in descending order
FGB_sorted_value_counts = FGB_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(FGB_sorted_value_counts)

Fight Gone Bad
1.0       6
2.0       2
3.0       1
4.0       1
5.0       2
6.0       1
10.0      1
25.0      1
73.0      1
98.0      1
100.0     3
105.0     1
108.0     1
115.0     1
118.0     1
125.0     3
132.0     2
136.0     1
139.0     1
141.0     1
143.0     1
144.0     2
145.0     1
146.0     1
147.0     2
148.0     2
149.0     1
150.0     6
151.0     1
152.0     1
154.0     1
155.0     1
156.0     2
157.0     1
158.0     6
159.0     2
160.0     4
161.0     1
162.0     2
163.0     4
164.0     4
165.0     1
166.0     6
167.0     5
168.0     2
169.0     4
170.0     3
171.0     6
172.0     2
173.0     4
174.0     4
175.0     8
176.0     4
177.0     3
178.0     8
179.0     5
180.0     4
181.0     4
182.0     5
183.0     5
184.0     5
185.0    11
186.0     9
187.0     8
188.0     8
189.0    12
190.0     9
191.0    11
192.0     6
193.0     5
194.0     7
195.0     4
196.0     5
197.0     8
198.0    17
199.0     9
200.0    18
201.0    10
202.0     7
203.0    20
204.0    11
205.0     9
206.0     8
207.0    12
208.0    15
209.0    12
210.0    22
211.0     9
212.0    13
213.0    18
214.0    11
215.0    15
216.0    20
217.0    22
218.0    17
219.0    11
220.0    15
221.0    19
222.0    19
223.0    21
224.0    21
225.0    31
226.0    21
227.0    24
228.0    18
229.0    18
230.0    23
231.0    27
232.0    22
233.0    16
234.0    23
235.0    22
236.0    29
237.0    25
238.0    30
239.0    27
240.0    35
241.0    27
242.0    26
243.0    25
244.0    24
245.0    32
246.0    33
247.0    30
248.0    26
249.0    21
250.0    27
251.0    30
252.0    26
253.0    35
254.0    25
255.0    32
256.0    25
257.0    35
258.0    33
259.0    33
260.0    26
261.0    23
262.0    21
263.0    34
264.0    44
265.0    23
266.0    33
267.0    34
268.0    24
269.0    34
270.0    30
271.0    28
272.0    32
273.0    30
274.0    30
275.0    30
276.0    29
277.0    25
278.0    24
279.0    33
280.0    25
281.0    16
282.0    28
283.0    28
284.0    34
285.0    34
286.0    31
287.0    25
288.0    20
289.0    24
290.0    29
291.0    19
292.0    20
293.0    21
294.0    32
295.0    22
296.0    31
297.0    32
298.0    32
299.0    23
300.0    45
301.0    31
302.0    39
303.0    27
304.0    30
305.0    24
306.0    39
307.0    32
308.0    30
309.0    25
310.0    31
311.0    26
312.0    29
313.0    28
314.0    27
315.0    28
316.0    28
317.0    24
318.0    28
319.0    18
320.0    31
321.0    34
322.0    22
323.0    19
324.0    26
325.0    21
326.0    20
327.0    24
328.0    23
329.0    20
330.0    25
331.0    25
332.0    15
333.0    18
334.0     8
335.0    21
336.0    17
337.0    14
338.0    18
339.0    12
340.0    19
341.0    16
342.0    17
343.0    10
344.0     9
345.0    15
346.0    17
347.0    10
348.0    10
349.0    13
350.0    18
351.0    21
352.0    11
353.0     6
354.0    12
355.0    14
356.0    11
357.0     9
358.0     5
359.0    10
360.0     6
361.0    10
362.0     8
363.0    12
364.0     6
365.0     5
366.0     7
367.0     8
368.0     8
369.0     9
370.0     3
371.0     8
372.0     3
373.0     6
374.0     7
375.0     4
376.0     4
377.0    11
378.0     9
379.0     5
380.0    10
381.0     5
382.0     4
383.0     8
384.0     7
385.0     2
386.0     6
387.0     7
388.0     2
389.0     3
390.0     2
391.0     3
392.0     2
393.0     1
394.0     6
395.0     4
396.0     3
397.0     3
398.0     4
399.0     3
400.0     8
401.0     6
402.0     5
403.0     3
404.0     4
405.0     1
406.0     2
407.0     4
408.0     2
409.0     3
410.0     7
411.0     3
412.0     7
413.0     2
415.0     6
416.0     1
417.0     1
418.0     1
419.0     1
420.0     4
422.0     2
423.0     1
424.0     1
426.0     2
427.0     1
428.0     2
429.0     1
430.0     5
431.0     1
432.0     1
433.0     1
434.0     4
436.0     1
440.0     1
441.0     1
443.0     1
447.0     1
449.0     1
450.0     1
Name: count, dtype: int64

In [212]:
#Output Crossfit to a CSV file
Women_Clean_Me.to_csv('Pre_DT_Women_Crossfit.csv', index=False)

In [213]:
Pre_DT = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Pre_DT_Women_Crossfit.csv')
Pre_DT.head()

/var/folders/xm/kc32pwjj5fj5xqf43yb4dz340000gn/T/ipykernel_2907/1272570959.py:1: DtypeWarning: Columns (0,36) have mixed types. Specify dtype option on import or set low_memory=False.
  Pre_DT = pd.read_csv('/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Pre_DT_Women_Crossfit.csv')

,Athlete ID,Gender,Competitor Name,Country Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Run 5k,Sprint 400m
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaN,2:37,1:54,10:22,NaN,NaN,NaN
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaN,4:29,2:25,11:09,NaN,25:08,1:20
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaN,3:30,NaN,NaN,NaN,NaN,1:23
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,3:39,1:52,9:11,NaN,NaN,NaN
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaN,2:15,NaN,NaN,NaN,23:51,1:00

In [214]:
# Columns to be converted to datetime
time_columns = ['Filthy 50', 'Fran', 'Grace', 'Helen', 'L1 Benchmark', 'Run 5k', 'Sprint 400m']

# Function to convert mm:ss format to total seconds
def convert_to_seconds(value):
    if pd.isnull(value):
        return pd.NaT
    else:
        minutes, seconds = map(int, value.split(':'))
        return minutes * 60 + seconds

# Apply conversion to each column and add new columns with total seconds
for col in time_columns:
    Pre_DT[col + '_total_seconds'] = Pre_DT[col].apply(convert_to_seconds)

In [215]:
desired_columns_order = [
    "Athlete ID",
    "Gender",
    "Competitor Name",
    "Country Name",
    "Region Name",
    "Affiliate Name",
    "Height (in)",
    "Age",
    "Weight (lbs)",
    "Overall Rank",
    "24.1 Rank",
    "24.2 Rank",
    "24.3 Rank",
    "2024 Rank",
    "2023 Rank",
    "2022 Rank",
    "2021 Rank",
    "2020 Rank",
    "2019 Rank",
    "2018 Rank",
    "2017 Rank",
    "2016 Rank",
    "2015 Rank",
    "2014 Rank",
    "2013 Rank",
    "2012 Rank",
    "2011 Rank",
    "Back Squat (lbs)",
    "Deadlift (lbs)",
    "Clean and Jerk (lbs)",
    "Snatch (lbs)",
    "Fight Gone Bad",
    "Filthy 50",
    "Filthy 50_total_seconds",
    "Fran",
    "Fran_total_seconds",
    "Grace",
    "Grace_total_seconds",
    "Helen",
    "Helen_total_seconds",
    "L1 Benchmark",
    "L1 Benchmark_total_seconds",
    "Run 5k",
    "Run 5k_total_seconds",
    "Sprint 400m",
    "Sprint 400m_total_seconds"

]

# Reorder the columns
Pre_DT = Pre_DT[desired_columns_order]

In [216]:
Pre_DT.head()

,Athlete ID,Gender,Competitor Name,Country Name,Region Name,Affiliate Name,Height (in),Age,Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad,Filthy 50,Filthy 50_total_seconds,Fran,Fran_total_seconds,Grace,Grace_total_seconds,Helen,Helen_total_seconds,L1 Benchmark,L1 Benchmark_total_seconds,Run 5k,Run 5k_total_seconds,Sprint 400m,Sprint 400m_total_seconds
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaN,NaT,2:37,157,1:54,114,10:22,622,NaN,NaT,NaN,NaT,NaN,NaT
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaN,NaT,4:29,269,2:25,145,11:09,669,NaN,NaT,25:08,1508,1:20,80
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaN,NaT,3:30,210,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,1:23,83
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,1374,3:39,219,1:52,112,9:11,551,NaN,NaT,NaN,NaT,NaN,NaT
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaN,NaT,2:15,135,NaN,NaT,NaN,NaT,NaN,NaT,23:51,1431,1:00,60

In [217]:
# Rename Column
Pre_DT.rename(columns={'Filthy 50': 'Filthy 50 (time)', 'Filthy 50_total_seconds':'Filthy 50 (sec)', 'Fran':'Fran (time)', 'Fran_total_seconds':'Fran (sec)', 'Grace':'Grace (time)', 'Grace_total_seconds': 'Grace (sec)', 'Helen': 'Helen (time)', 'Helen_total_seconds':'Helen (sec)', 'Helen_total_seconds': 'Helen (sec)', 'L1 Benchmark': 'L1 Benchmark (time)', 'L1 Benchmark_total_seconds':'L1 Benchmark (sec)', 'Run 5k': 'Run 5k (time)', 'Run 5k_total_seconds':'Run 5k (sec)', 'Sprint 400m': 'Sprint 400m (time)', 'Sprint 400m_total_seconds':'Sprint 400m (sec)', 'Age':'Age (Years)', 'Fight Gone Bad':'Fight Gone Bad (# reps)'}, inplace=True)

In [218]:
Pre_DT.head()

,Athlete ID,Gender,Competitor Name,Country Name,Region Name,Affiliate Name,Height (in),Age (Years),Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad (# reps),Filthy 50 (time),Filthy 50 (sec),Fran (time),Fran (sec),Grace (time),Grace (sec),Helen (time),Helen (sec),L1 Benchmark (time),L1 Benchmark (sec),Run 5k (time),Run 5k (sec),Sprint 400m (time),Sprint 400m (sec)
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaN,NaT,2:37,157,1:54,114,10:22,622,NaN,NaT,NaN,NaT,NaN,NaT
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaN,NaT,4:29,269,2:25,145,11:09,669,NaN,NaT,25:08,1508,1:20,80
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaN,NaT,3:30,210,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,1:23,83
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,1374,3:39,219,1:52,112,9:11,551,NaN,NaT,NaN,NaT,NaN,NaT
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaN,NaT,2:15,135,NaN,NaT,NaN,NaT,NaN,NaT,23:51,1431,1:00,60

In [219]:
# Replace values less than 300 or greater than 3600 with NaN
Pre_DT.loc[(Pre_DT['Filthy 50 (sec)'] < 300) | (Pre_DT['Filthy 50 (sec)'] > 3600), 'Filthy 50 (sec)'] = pd.NaT

# Set 'Filthy 50 (time)' to NaN for rows where 'Filthy 50 (sec)' is NaN
Pre_DT.loc[Pre_DT['Filthy 50 (sec)'].isna(), 'Filthy 50 (time)'] = pd.NaT

In [220]:
# Count the occurrences of each unique value in the 'col1' column
F50_value_counts = Pre_DT['Filthy 50 (time)'].value_counts()

# Sort the value counts in descending order
F50_sorted_value_counts = F50_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(F50_sorted_value_counts)

Filthy 50 (time)
10:00     1
12:00     2
12:08     1
12:30     1
13:59     1
14:16     1
14:41     1
14:52     1
15:04     1
15:07     1
15:08     1
15:14     1
15:16     1
15:34     1
15:35     1
15:47     1
15:57     1
16:00     1
16:02     1
16:05     1
16:11     1
16:12     1
16:16     1
16:27     1
16:33     1
16:40     1
16:45     1
16:47     1
16:49     1
16:56     1
16:57     1
17:00     1
17:04     1
17:09     1
17:14     1
17:17     1
17:18     1
17:21     2
17:23     1
17:28     1
17:30     1
17:33     1
17:34     1
17:36     2
17:37     1
17:38     1
17:44     2
17:45     1
17:46     3
17:47     1
17:50     3
17:53     1
17:55     1
18:00     3
18:03     2
18:04     1
18:06     1
18:08     4
18:12     1
18:15     1
18:16     2
18:17     3
18:18     1
18:19     3
18:20     2
18:25     1
18:26     1
18:31     2
18:33     2
18:35     1
18:36     4
18:37     1
18:39     1
18:41     1
18:45     2
18:46     2
18:47     2
18:48     1
18:50     1
18:51     2
18:52     2
18:53     1
18:54     3
18:55     2
18:56     2
18:57     4
18:58     2
18:59     1
19:00     2
19:01     1
19:03     1
19:04     1
19:05     1
19:06     2
19:08     2
19:09     1
19:11     1
19:12     1
19:13     2
19:14     1
19:15     1
19:18     1
19:19     1
19:20     3
19:22     1
19:23     2
19:24     2
19:25     1
19:26     2
19:28     2
19:29     1
19:30     3
19:31     1
19:32     2
19:33     2
19:34     5
19:35     1
19:38     4
19:40     1
19:41     2
19:42     3
19:43     3
19:44     1
19:45     3
19:46     2
19:47     3
19:49     3
19:50     2
19:51     3
19:52     1
19:53     1
19:55     4
19:56     4
19:58     3
19:59     3
20:00     6
20:01     1
20:03     3
20:05     2
20:06     1
20:07     2
20:08     2
20:09     1
20:11     1
20:13     1
20:14     1
20:15     1
20:16     2
20:17     1
20:20     3
20:21     2
20:22     2
20:23     2
20:24     1
20:27     2
20:28     2
20:30     1
20:31     4
20:33     1
20:35     2
20:37     2
20:38     1
20:40     2
20:41     3
20:42     1
20:43     3
20:44     1
20:45     2
20:47     2
20:48     1
20:49     4
20:50     2
20:51     1
20:52     1
20:53     1
20:54     2
20:56     2
20:58     1
21:00     5
21:01     2
21:02     1
21:03     3
21:04     1
21:05     2
21:06     1
21:07     4
21:08     2
21:09     1
21:10     2
21:11     2
21:12     5
21:13     2
21:14     4
21:15     1
21:16     2
21:17     2
21:18     2
21:19     1
21:20     6
21:21     2
21:22     4
21:23     4
21:24     2
21:25     3
21:26     1
21:27     2
21:29     3
21:30     4
21:31     1
21:32     3
21:33     1
21:34     3
21:36     2
21:37     4
21:38     3
21:39     2
21:40     7
21:41     1
21:42     2
21:43     2
21:44     1
21:45     1
21:46     3
21:47     5
21:48     1
21:49     1
21:50     6
21:51     4
21:52     2
21:53     1
21:54     2
21:55     2
21:56     3
21:57     1
21:58     1
21:59     2
22:00     6
22:01     1
22:02     2
22:03     2
22:04     4
22:05     2
22:06     2
22:07     4
22:09     1
22:10     3
22:12     3
22:13     2
22:15     4
22:16     3
22:17     2
22:18     2
22:19     2
22:20     2
22:21     1
22:22     2
22:23     2
22:24     2
22:25     5
22:26     1
22:27     1
22:30     8
22:31     1
22:32     2
22:33     1
22:34     1
22:35     3
22:38     4
22:39     1
22:40     3
22:41     1
22:42     1
22:43     2
22:44     2
22:45     6
22:46     3
22:47     1
22:48     4
22:49     2
22:50     4
22:51     3
22:52     2
22:53     2
22:54     2
22:55     2
22:56     2
22:57     1
23:00     5
23:01     2
23:02     1
23:03     2
23:04     4
23:05     2
23:07     5
23:08     1
23:09     1
23:10     3
23:11     2
23:12     2
23:13     3
23:14     4
23:15     3
23:16     1
23:17     3
23:18     4
23:19     1
23:20     2
23:21     1
23:22     1
23:23     1
23:24     1
23:25     4
23:26     2
23:27     4
23:28     1
23:29     3
23:30     2
23:31     1
23:33     2
23:34     3
23:35     4
23:36     8
23:37     4
23:38     1
23:39     2
23:40     2
23:41     1
23:42     2
23:43     2
23:44     4
23:45     6
23:46     1
23:47     1
23:48     4
23:49     4
23:50     4
23:51     1
23:52     2
23:53     2
23:54     7
23:55     2
23:56     5
23:58     4
23:59     7
24:00     4
24:01     1
24:02     3
24:03     2
24:04     4
24:05     6
24:06     1
24:07     4
24:08     3
24:09     1
24:10     1
24:11     1
24:12     4
24:14     5
24:15     2
24:16     3
24:17     3
24:18     1
24:19     2
24:20     3
24:21     4
24:22     1
24:23     5
24:24     5
24:25     5
24:26     3
24:27     5
24:28     2
24:30     3
24:31     2
24:33     4
24:34     3
24:35     1
24:36     3
24:37     1
24:38     1
24:39     4
24:40     4
24:41     4
24:42     3
24:43     3
24:44     4
24:45     4
24:46     1
24:47     1
24:48     1
24:49     6
24:50     4
24:51     5
24:52     2
24:53     1
24:54     2
24:55     5
24:57     3
24:58     2
24:59     1
25:00    24
25:01     1
25:02     3
25:03     1
25:04     2
25:05     2
25:06     1
25:07     1
25:08     1
25:09     3
25:11     3
25:12     2
25:13     2
25:14     1
25:15     7
25:16     1
25:17     2
25:18     5
25:20     6
25:22     2
25:23     2
25:24     1
25:25     5
25:26     2
25:27     5
25:28     1
25:29     4
25:30     3
25:31     6
25:32     4
25:33     4
25:34     3
25:35     3
25:36     1
25:37     1
25:38     8
25:39     1
25:40     5
25:41     2
25:42     2
25:43     5
25:44     2
25:45     2
25:46     2
25:47     2
25:48     2
25:49     2
25:50     6
25:51     1
25:52     2
25:53     2
25:54     7
25:55     4
25:56     4
25:57     2
25:58     1
25:59     1
26:00     7
26:01     1
26:02     2
26:03     2
26:04     5
26:05     2
26:07     4
26:08     2
26:10     8
26:11     3
26:13     2
26:14     6
26:15     1
26:16     1
26:17     3
26:18     2
26:20     2
26:22     4
26:23     3
26:24     5
26:25     4
26:26     2
26:27     2
26:28     1
26:29     2
26:30     6
26:31     1
26:32     1
26:33     3
26:34     4
26:35     2
26:36     2
26:37     2
26:38     3
26:40     6
26:41     2
26:42     2
26:43     4
26:44     1
26:45     2
26:46     2
26:47     3
26:48     3
26:50     3
26:51     2
26:52     3
26:53     2
26:54     2
26:55     3
26:56     3
26:57     5
26:58     2
27:00     5
27:01     3
27:02     1
27:03     2
27:04     2
27:06     3
27:07     1
27:08     4
27:09     2
27:10    10
27:11     1
27:12     4
27:13     3
27:14     2
27:15     2
27:16     2
27:18     2
27:19     4
27:20     4
27:21     2
27:22     5
27:23     2
27:24     2
27:25     2
27:26     6
27:29     3
27:30     5
27:31     3
27:32     2
27:33     1
27:34     1
27:35     3
27:36     3
27:37     6
27:38     7
27:39     1
27:40     3
27:41     3
27:42     4
27:43     1
27:44     3
27:45     3
27:46     1
27:47     1
27:48     3
27:49     2
27:50     4
27:51     1
27:52     2
27:53     3
27:54     1
27:55     2
27:56     1
27:57     4
27:58     3
28:00     9
28:01     2
28:02     3
28:03     1
28:04     2
28:05     4
28:06     1
28:07     2
28:08     2
28:10     2
28:11     5
28:12     1
28:13     2
28:14     1
28:15     3
28:16     2
28:17     2
28:18     2
28:20     3
28:21     1
28:22     3
28:23     3
28:24     3
28:25     2
28:26     2
28:27     2
28:28     8
28:29     2
28:30    10
28:31     2
28:33     2
28:34     5
28:35     4
28:37     4
28:38     2
28:39     1
28:40     6
28:41     2
28:42     1
28:43     4
28:44     2
28:45     6
28:46     2
28:47     2
28:48     1
28:49     3
28:51     1
28:52     2
28:53     1
28:54     1
28:55     1
28:56     1
28:57     2
28:58     4
28:59     1
29:00     9
29:02     1
29:03     3
29:04     3
29:05     4
29:06     3
29:07     3
29:09     2
29:10     2
29:11     2
29:12     3
29:13     3
29:14     1
29:15     3
29:16     1
29:17     2
29:18     4
29:19     1
29:20     7
29:21     3
29:22     1
29:23     2
29:24     4
29:25     1
29:26     2
29:28     3
29:29     5
29:30     3
29:31     5
29:33     2
29:34     1
29:35     3
29:36     6
29:37     1
29:38     3
29:39     6
29:40     4
29:41     1
29:42     1
29:44     4
29:45     2
29:46     6
29:47     3
29:49     3
29:50     4
29:51     2
29:52     1
29:53     2
29:54     2
29:55     3
29:56     4
29:57     2
29:58     6
29:59     2
30:00    24
30:01     2
30:03     4
30:05     1
30:06     2
30:07     2
30:08     1
30:10     7
30:12     1
30:14     1
30:15     5
30:17     2
30:18     1
30:19     2
30:20     1
30:21     1
30:22     1
30:23     1
30:24     1
30:25     1
30:26     3
30:27     2
30:28     3
30:29     3
30:30     2
30:31     1
30:33     1
30:34     1
30:35     1
30:37     2
30:38     1
30:39     1
30:40     1
30:41     2
30:42     2
30:43     3
30:44     1
30:45     1
30:46     2
30:47     3
30:48     1
30:49     1
30:50     4
30:51     1
30:54     1
30:55     1
30:56     3
30:57     2
30:58     1
30:59     2
31:00     4
31:02     1
31:03     1
31:05     1
31:06     2
31:07     3
31:09     1
31:10     1
31:11     1
31:12     3
31:15     2
31:16     3
31:17     1
31:18     1
31:20     1
31:21     3
31:22     1
31:23     1
31:25     1
31:27     1
31:28     7
31:29     1
31:30     2
31:31     1
31:32     3
31:33     1
31:34     1
31:35     1
31:36     1
31:37     2
31:40     1
31:43     1
31:45     1
31:46     1
31:49     1
31:50     2
31:51     1
31:52     3
31:53     2
31:54     1
31:55     2
31:56     1
31:58     2
31:59     1
32:00     7
32:01     2
32:02     2
32:04     2
32:05     2
32:07     1
32:09     1
32:10     1
32:12     1
32:13     1
32:14     1
32:17     2
32:18     2
32:19     1
32:20     2
32:22     1
32:23     1
32:26     1
32:27     1
32:30     1
32:32     2
32:34     2
32:35     1
32:38     1
32:39     3
32:40     2
32:41     3
32:43     1
32:44     2
32:45     2
32:46     1
32:47     1
32:48     4
32:50     3
32:54     1
32:55     2
32:56     2
32:58     2
32:59     1
33:00     7
33:02     1
33:03     1
33:04     2
33:05     1
33:07     2
33:08     1
33:09     1
33:10     1
33:11     4
33:13     1
33:14     1
33:15     1
33:16     1
33:18     2
33:20     1
33:23     1
33:25     4
33:28     1
33:30     3
33:31     1
33:32     1
33:34     3
33:35     1
33:36     1
33:38     1
33:39     3
33:40     2
33:41     1
33:42     1
33:45     1
33:46     1
33:49     1
33:50     3
33:51     2
33:52     2
33:53     1
33:54     1
33:57     2
33:58     1
34:00     2
34:03     1
34:08     1
34:10     2
34:11     1
34:13     2
34:14     1
34:17     2
34:18     1
34:20     1
34:22     1
34:24     2
34:25     3
34:27     1
34:28     3
34:30     2
34:34     2
34:35     2
34:37     1
34:38     1
34:40     1
34:44     1
34:45     1
34:54     1
34:55     1
34:57     1
34:58     3
35:00     6
35:01     1
35:02     1
35:03     2
35:05     1
35:06     1
35:07     1
35:08     1
35:10     1
35:12     3
35:16     2
35:18     1
35:20     1
35:21     2
35:28     2
35:29     1
35:30     1
35:31     1
35:34     1
35:35     1
35:36     3
35:38     1
35:40     3
35:44     1
35:47     1
35:50     2
35:51     1
36:00     1
36:03     3
36:06     2
36:14     1
36:15     1
36:16     1
36:18     1
36:23     1
36:24     1
36:26     1
36:27     1
36:29     1
36:30     3
36:31     1
36:34     1
36:35     2
36:37     1
36:39     1
36:46     1
36:48     1
36:50     2
36:55     1
36:56     1
36:58     1
37:00     2
37:01     1
37:05     3
37:07     1
37:15     1
37:28     1
37:29     1
37:31     1
37:34     1
37:35     2
37:36     1
37:38     2
37:44     2
37:45     1
37:46     2
37:48     1
37:49     1
37:57     2
38:00     1
38:02     1
38:03     1
38:06     1
38:07     1
38:10     1
38:13     1
38:14     1
38:17     1
38:20     1
38:25     1
38:26     1
38:30     2
38:31     1
38:36     1
38:38     1
38:39     1
38:41     1
38:45     3
38:47     1
38:48     1
38:55     3
38:57     1
39:02     1
39:03     1
39:09     1
39:11     1
39:28     1
39:30     2
39:39     1
39:40     1
39:42     1
39:45     1
39:49     1
39:50     2
39:53     1
39:55     1
39:57     1
39:58     1
40:00     2
40:05     1
40:33     1
40:41     1
40:46     1
40:56     1
41:00     2
41:10     2
41:24     1
41:26     2
41:33     1
41:41     1
41:42     1
41:57     1
42:00     1
42:03     1
42:06     1
42:16     1
42:21     1
42:58     1
43:00     1
43:10     1
43:15     1
43:24     1
43:39     1
43:45     2
44:00     1
44:53     1
44:59     1
45:00     1
45:32     1
45:34     1
46:33     1
46:58     1
47:04     1
47:11     1
47:37     1
47:55     1
47:58     1
48:00     1
48:11     1
49:08     1
49:59     1
50:00     1
50:20     1
50:40     1
50:48     1
51:00     1
52:00     1
52:21     1
53:58     1
55:25     1
60:00     1
6:08      1
9:21      1
Name: count, dtype: int64

In [221]:
# Replace values less than 105 or greater than 900 with NaN
Pre_DT.loc[(Pre_DT['Fran (sec)'] < 105) | (Pre_DT['Fran (sec)'] > 900), 'Fran (sec)'] = pd.NaT

# Set 'Fran (time)' to NaN for rows where 'Fran (sec)' is NaN
Pre_DT.loc[Pre_DT['Fran (sec)'].isna(), 'Fran (time)'] = pd.NaT

In [222]:
# Count the occurrences of each unique value in the 'col1' column
Fran_value_counts = Pre_DT['Fran (time)'].value_counts()

# Sort the value counts in descending order
Fran_sorted_value_counts = Fran_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(Fran_sorted_value_counts)

Fran (time)
10:00    21
10:01     3
10:02     1
10:03     3
10:04     1
10:05     3
10:07     2
10:08     3
10:09     1
10:10     2
10:11     1
10:12     2
10:13     5
10:14     4
10:15     3
10:16     1
10:17     1
10:18     3
10:19     1
10:20     1
10:22     1
10:23     1
10:24     1
10:25     4
10:26     1
10:28     1
10:29     3
10:30     2
10:32     3
10:33     4
10:34     3
10:35     3
10:37     1
10:38     3
10:39     2
10:40     2
10:44     1
10:45     2
10:46     1
10:47     2
10:49     1
10:50     1
10:51     1
10:54     1
10:57     2
10:58     2
11:00     6
11:01     1
11:02     1
11:04     2
11:06     1
11:07     2
11:08     2
11:11     4
11:13     3
11:15     2
11:16     1
11:17     2
11:19     3
11:20     2
11:22     1
11:23     2
11:24     2
11:28     1
11:35     2
11:36     1
11:37     2
11:38     1
11:39     2
11:40     2
11:41     1
11:43     1
11:45     3
11:46     1
11:47     2
11:48     1
11:49     1
11:50     1
11:51     1
11:52     1
11:53     1
11:54     1
11:55     1
11:59     3
12:00     3
12:01     1
12:02     1
12:05     1
12:06     1
12:08     1
12:09     2
12:13     1
12:15     1
12:16     3
12:17     1
12:18     1
12:19     1
12:20     1
12:24     1
12:26     1
12:28     1
12:30     2
12:32     1
12:35     1
12:39     1
12:43     1
12:44     2
12:48     1
13:00     3
13:06     1
13:12     1
13:13     1
13:15     2
13:18     1
13:19     1
13:20     1
13:23     1
13:29     2
13:31     1
13:44     1
13:54     1
14:01     1
14:14     1
14:18     1
14:27     1
14:32     1
14:39     1
14:40     1
14:44     1
14:45     1
14:46     1
14:47     1
14:48     1
14:50     1
15:00     1
1:53      1
1:54      1
1:55      1
1:56      1
1:57      1
1:58      5
1:59      5
2:00      3
2:01      2
2:02      4
2:03      3
2:04      5
2:05      5
2:06      2
2:07      4
2:08      8
2:09      7
2:10      8
2:11      5
2:12     10
2:13     10
2:14     16
2:15     12
2:16      8
2:17     14
2:18      9
2:19     12
2:20     11
2:21     12
2:22     13
2:23     10
2:24     11
2:25      8
2:26     12
2:27     11
2:28     15
2:29     12
2:30     20
2:31     14
2:32     17
2:33     15
2:34     11
2:35     11
2:36     11
2:37     14
2:38     13
2:39     15
2:40     21
2:41     11
2:42     14
2:43     17
2:44     16
2:45     20
2:46     16
2:47     14
2:48     27
2:49     14
2:50     22
2:51     10
2:52     15
2:53     20
2:54     21
2:55     13
2:56     19
2:57     19
2:58     26
2:59     42
3:00     27
3:01     16
3:02     18
3:03     15
3:04     13
3:05     32
3:06     10
3:07     12
3:08     20
3:09     13
3:10     21
3:11     15
3:12     29
3:13     18
3:14     22
3:15     29
3:16     18
3:17     16
3:18     21
3:19     16
3:20     21
3:21     18
3:22     17
3:23     18
3:24     17
3:25     15
3:26     30
3:27     22
3:28     20
3:29     26
3:30     44
3:31     18
3:32     19
3:33     29
3:34     30
3:35     19
3:36     21
3:37     30
3:38     20
3:39     21
3:40     38
3:41     20
3:42     18
3:43     23
3:44     22
3:45     41
3:46     32
3:47     28
3:48     32
3:49     27
3:50     37
3:51     20
3:52     24
3:53     27
3:54     36
3:55     28
3:56     23
3:57     25
3:58     31
3:59     32
4:00     46
4:01     15
4:02     30
4:03     24
4:04     28
4:05      9
4:06     16
4:07     22
4:08     17
4:09     16
4:10     26
4:11     26
4:12     33
4:13     27
4:14     26
4:15     28
4:16     18
4:17     34
4:18     23
4:19     33
4:20     38
4:21     25
4:22     13
4:23     25
4:24     35
4:25     21
4:26     37
4:27     25
4:28     38
4:29     23
4:30     49
4:31     22
4:32     26
4:33     27
4:34     31
4:35     31
4:36     24
4:37     23
4:38     34
4:39     24
4:40     28
4:41     19
4:42     29
4:43     27
4:44     26
4:45     38
4:46     22
4:47     25
4:48     25
4:49     24
4:50     46
4:51     27
4:52     31
4:53     23
4:54     36
4:55     36
4:56     30
4:57     36
4:58     38
4:59     33
5:00     39
5:01     24
5:02     21
5:03     26
5:04     29
5:05     29
5:06     22
5:07     17
5:08     29
5:09     34
5:10     27
5:11     18
5:12     21
5:13     26
5:14     24
5:15     38
5:16     24
5:17     32
5:18     29
5:19     27
5:20     32
5:21     24
5:22     22
5:23     30
5:24     37
5:25     29
5:26     17
5:27     20
5:28     23
5:29     28
5:30     29
5:31     15
5:32     31
5:33     21
5:34     29
5:35     40
5:36     29
5:37     21
5:38     19
5:39     19
5:40     37
5:41     26
5:42     26
5:43     22
5:44     24
5:45     37
5:46     26
5:47     17
5:48     20
5:49     23
5:50     23
5:51     27
5:52     28
5:53     31
5:54     32
5:55     27
5:56     27
5:57     23
5:58     27
5:59     26
6:00     43
6:01     16
6:02     20
6:03     22
6:04     21
6:05     15
6:06     19
6:07     17
6:08     19
6:09     13
6:10     20
6:11     20
6:12     21
6:13     13
6:14     21
6:15     22
6:16     20
6:17     18
6:18     20
6:19     23
6:20     43
6:21     23
6:22     27
6:23     22
6:24     14
6:25     13
6:26     16
6:27     18
6:28     23
6:29     19
6:30     36
6:31     20
6:32     15
6:33     14
6:34     22
6:35     22
6:36     22
6:37     15
6:38     18
6:39     18
6:40     27
6:41     14
6:42     23
6:43     24
6:44     13
6:45     19
6:46     17
6:47     15
6:48     19
6:49     14
6:50     27
6:51     15
6:52     16
6:53     20
6:54     14
6:55     20
6:56     16
6:57     12
6:58     20
6:59     20
7:00     40
7:01     15
7:02     18
7:03     11
7:04     14
7:05     14
7:06     15
7:07     20
7:08     19
7:09     14
7:10     22
7:11     11
7:12     12
7:13     15
7:14     21
7:15     12
7:16     10
7:17     16
7:18     10
7:19     11
7:20     22
7:21     17
7:22     16
7:23     16
7:24     14
7:25     11
7:26     10
7:27     11
7:28     12
7:29      9
7:30     31
7:31     10
7:32     13
7:33     13
7:34      9
7:35     21
7:36     12
7:37     10
7:38      9
7:39     13
7:40     20
7:41     15
7:42     14
7:43     11
7:44      5
7:45     12
7:46     10
7:47     12
7:48     14
7:49     13
7:50     21
7:51     12
7:52     11
7:53      7
7:54      9
7:55     12
7:56      7
7:57     10
7:58     11
7:59      8
8:00     43
8:01      5
8:02     10
8:03     14
8:04     10
8:05     15
8:06      6
8:07      7
8:08      9
8:09      6
8:10     11
8:11      8
8:12      6
8:13      7
8:14      7
8:15     10
8:16      8
8:17      6
8:18     11
8:19      8
8:20     11
8:21      2
8:22      4
8:23      6
8:24     14
8:25     12
8:26      8
8:27      2
8:28      4
8:29      9
8:30     17
8:31      7
8:32      8
8:33      2
8:34      7
8:35      9
8:36      9
8:37      4
8:38      5
8:39      7
8:40     13
8:41      6
8:42      8
8:43     12
8:44      3
8:45     15
8:46      6
8:47      4
8:48      5
8:49      7
8:50     10
8:51      6
8:52      5
8:53     10
8:54      5
8:55     14
8:56      5
8:57      7
8:58      9
8:59      5
9:00     11
9:01      3
9:02      4
9:03      8
9:04      5
9:05      8
9:06      5
9:07      4
9:08      5
9:09      3
9:10      7
9:11      2
9:12      8
9:13      3
9:14      4
9:15      6
9:17      6
9:18      5
9:19      3
9:20      4
9:21      1
9:22      8
9:23      4
9:24      4
9:25      2
9:26      6
9:27      8
9:28      5
9:29      3
9:30     12
9:31      3
9:32      2
9:33      1
9:34      1
9:35      2
9:36      5
9:37      8
9:38      5
9:39      5
9:40     13
9:41      2
9:42      2
9:44      2
9:45      9
9:46      4
9:47      4
9:48      4
9:49      1
9:50      5
9:51      2
9:52      3
9:53      4
9:55      4
9:56      1
9:57      5
9:58      5
9:59      1
Name: count, dtype: int64

In [223]:
# Replace values less than 59 or greater than 1800 with NaN
Pre_DT.loc[(Pre_DT['Grace (sec)'] < 59) | (Pre_DT['Grace (sec)'] > 1800), 'Grace (sec)'] = pd.NaT

# Set 'Grace (time)' to NaN for rows where 'Grace (sec)' is NaN
Pre_DT.loc[Pre_DT['Grace (sec)'].isna(), 'Grace (time)'] = pd.NaT

In [224]:
# Count the occurrences of each unique value in the 'col1' column
Grace_value_counts = Pre_DT['Grace (time)'].value_counts()

# Sort the value counts in descending order
Grace_sorted_value_counts = Grace_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(Grace_sorted_value_counts)

Grace (time)
0:59      1
10:00     2
10:04     2
10:12     1
10:28     1
10:34     1
10:36     1
10:38     1
10:45     2
10:52     1
10:58     1
11:00     1
11:02     1
11:08     1
11:11     1
11:28     1
11:37     1
11:40     1
11:57     1
12:00     2
12:04     1
12:28     1
12:38     1
12:45     1
12:55     2
13:00     1
13:15     1
13:53     2
14:08     1
14:52     1
15:07     1
15:22     1
15:41     1
18:59     1
19:23     1
1:00      1
1:02      1
1:03      1
1:04      1
1:07      1
1:09      2
1:10      2
1:11      1
1:12      2
1:13      2
1:14      1
1:15      2
1:16      4
1:17      7
1:18      7
1:19      3
1:20      4
1:21      9
1:22      4
1:23      1
1:24      7
1:25      3
1:26      5
1:27      6
1:28      8
1:29     12
1:30      5
1:31      7
1:32      9
1:33     12
1:34      9
1:35      9
1:36     11
1:37      7
1:38     11
1:39     14
1:40     13
1:41      9
1:42     17
1:43     23
1:44     12
1:45     21
1:46     15
1:47     23
1:48     32
1:49     18
1:50     29
1:51     22
1:52     33
1:53     24
1:54     26
1:55     26
1:56     35
1:57     51
1:58     42
1:59     35
20:15     1
21:06     1
24:00     1
2:00     37
2:01     26
2:02     27
2:03     40
2:04     37
2:05     26
2:06     24
2:07     30
2:08     39
2:09     31
2:10     42
2:11     36
2:12     48
2:13     37
2:14     46
2:15     43
2:16     27
2:17     41
2:18     48
2:19     37
2:20     65
2:21     38
2:22     37
2:23     30
2:24     45
2:25     31
2:26     52
2:27     36
2:28     45
2:29     45
2:30     81
2:31     41
2:32     44
2:33     35
2:34     42
2:35     33
2:36     48
2:37     61
2:38     52
2:39     44
2:40     59
2:41     39
2:42     46
2:43     42
2:44     46
2:45     77
2:46     35
2:47     40
2:48     50
2:49     55
2:50     63
2:51     53
2:52     47
2:53     47
2:54     44
2:55     36
2:56     46
2:57     67
2:58     73
2:59     62
30:00     2
3:00     63
3:01     33
3:02     32
3:03     57
3:04     42
3:05     32
3:06     36
3:07     27
3:08     36
3:09     28
3:10     60
3:11     39
3:12     36
3:13     44
3:14     26
3:15     45
3:16     31
3:17     34
3:18     35
3:19     32
3:20     53
3:21     39
3:22     24
3:23     44
3:24     34
3:25     46
3:26     34
3:27     29
3:28     39
3:29     28
3:30     67
3:31     43
3:32     39
3:33     31
3:34     35
3:35     34
3:36     48
3:37     26
3:38     46
3:39     34
3:40     50
3:41     18
3:42     41
3:43     31
3:44     36
3:45     34
3:46     19
3:47     30
3:48     39
3:49     26
3:50     44
3:51     26
3:52     31
3:53     29
3:54     27
3:55     38
3:56     23
3:57     23
3:58     45
3:59     27
4:00     36
4:01     29
4:02     25
4:03     19
4:04     24
4:05     24
4:06     13
4:07     30
4:08     32
4:09     21
4:10     34
4:11     28
4:12     25
4:13     17
4:14     19
4:15     32
4:16     24
4:17     22
4:18     22
4:19     12
4:20     21
4:21     15
4:22     18
4:23     33
4:24     22
4:25     21
4:26     21
4:27     21
4:28     20
4:29     20
4:30     20
4:31     14
4:32     16
4:33     20
4:34     26
4:35     13
4:36     19
4:37     17
4:38     23
4:39     13
4:40     15
4:41     19
4:42     13
4:43     21
4:44     21
4:45     23
4:46     18
4:47     21
4:48     17
4:49     16
4:50     20
4:51     10
4:52     15
4:53     12
4:54     20
4:55     12
4:56     17
4:57     20
4:58     25
4:59     11
5:00     27
5:01     10
5:02     13
5:03     16
5:04      9
5:05     18
5:06      8
5:07      7
5:08     15
5:09     12
5:10     14
5:11      9
5:12      9
5:13     12
5:14     14
5:15     18
5:16      9
5:17     10
5:18      9
5:19      7
5:20     16
5:21     12
5:22     13
5:23     15
5:24     10
5:25     20
5:26     10
5:27     13
5:28     12
5:29      6
5:30     17
5:31      6
5:32      8
5:33      8
5:34      6
5:35      9
5:36      4
5:37     11
5:38      7
5:39      1
5:40     10
5:41      7
5:42     10
5:43      9
5:44     10
5:45     15
5:46      7
5:47      9
5:48      8
5:49      9
5:50      9
5:51      9
5:52      7
5:53      7
5:54      5
5:55      8
5:56     11
5:57      6
5:58     14
5:59      4
6:00     21
6:01      5
6:02      6
6:03      3
6:04      8
6:05      3
6:06      1
6:07      1
6:08      5
6:09      3
6:10      6
6:11      8
6:12      4
6:13      8
6:14      3
6:15      7
6:16      5
6:17      2
6:18      4
6:19      6
6:20      6
6:21      5
6:22      3
6:23      5
6:24      1
6:25      2
6:26      3
6:27      7
6:28      7
6:29      4
6:30      5
6:31      2
6:32      3
6:33      4
6:34      4
6:35      5
6:36      4
6:37      5
6:38      5
6:39      3
6:40      4
6:41      4
6:42      2
6:43      5
6:44      3
6:45      5
6:46      2
6:47      2
6:48      6
6:49      3
6:50      4
6:51      5
6:52      3
6:53      4
6:54      2
6:55      1
6:56      3
6:57      5
6:58      3
6:59      3
7:00      8
7:01      1
7:02      4
7:03      2
7:04      5
7:05      1
7:06      1
7:07      1
7:09      2
7:10      2
7:11      7
7:12      2
7:13      2
7:14      2
7:15      3
7:16      1
7:19      1
7:20      2
7:21      4
7:22      3
7:23      3
7:24      1
7:25      2
7:26      1
7:27      2
7:29      1
7:30      6
7:31      2
7:32      5
7:34      2
7:35      4
7:36      2
7:37      1
7:38      1
7:39      1
7:40      2
7:41      1
7:43      3
7:44      1
7:45      1
7:46      1
7:47      1
7:48      3
7:50      1
7:51      1
7:53      1
7:54      3
7:55      1
7:56      1
7:58      1
7:59      2
8:00      2
8:01      1
8:02      1
8:04      1
8:05      1
8:06      1
8:08      1
8:13      1
8:15      1
8:16      1
8:17      1
8:19      3
8:20      1
8:22      2
8:23      2
8:25      1
8:27      1
8:30      1
8:33      1
8:34      1
8:35      2
8:36      1
8:39      1
8:41      2
8:42      2
8:43      2
8:44      3
8:45      3
8:46      1
8:49      1
8:50      1
8:53      3
8:55      3
8:56      1
9:00      2
9:02      1
9:03      2
9:04      2
9:05      1
9:07      2
9:08      1
9:10      2
9:13      1
9:14      1
9:16      2
9:20      1
9:21      1
9:22      1
9:27      1
9:31      1
9:32      1
9:35      1
9:44      1
9:52      1
9:55      1
9:56      1
9:59      1
Name: count, dtype: int64

In [225]:
# Replace values less than 300 or greater than 1800 with NaN
Pre_DT.loc[(Pre_DT['Helen (sec)'] < 300) | (Pre_DT['Helen (sec)'] > 1800), 'Helen (sec)'] = pd.NaT

# Set 'Helen (time)' to NaN for rows where 'Helen (sec)' is NaN
Pre_DT.loc[Pre_DT['Helen (sec)'].isna(), 'Helen (time)'] = pd.NaT

In [226]:
# Count the occurrences of each unique value in the 'col1' column
Helen_value_counts = Pre_DT['Helen (time)'].value_counts()

# Sort the value counts in descending order
Helen_sorted_value_counts = Helen_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(Helen_sorted_value_counts)

Helen (time)
10:00    24
10:01    11
10:02    20
10:03    17
10:04    16
10:05    16
10:06    15
10:07    19
10:08    21
10:09     9
10:10    22
10:11    13
10:12    11
10:13    20
10:14    11
10:15    27
10:16    20
10:17    20
10:18    16
10:19    18
10:20    16
10:21    22
10:22    19
10:23    16
10:24    20
10:25    16
10:26    20
10:27    22
10:28    12
10:29    15
10:30    31
10:31    16
10:32    23
10:33    16
10:34    19
10:35    19
10:36    17
10:37    21
10:38    24
10:39    16
10:40    18
10:41    15
10:42    13
10:43    20
10:44    17
10:45    18
10:46    19
10:47     9
10:48    27
10:49     9
10:50    25
10:51    20
10:52    21
10:53    20
10:54    23
10:55    24
10:56    30
10:57    15
10:58    17
10:59    19
11:00    35
11:01     8
11:02    15
11:03    18
11:04    14
11:05    19
11:06    16
11:07    27
11:08    21
11:09    18
11:10    16
11:11    14
11:12    12
11:13    13
11:14    16
11:15    20
11:16    21
11:17    19
11:18    18
11:19    16
11:20    21
11:21    16
11:22    19
11:23    17
11:24    15
11:25    14
11:26    22
11:27    22
11:28    14
11:29    13
11:30    31
11:31    13
11:32    16
11:33    13
11:34    13
11:35    15
11:36    21
11:37    13
11:38    19
11:39    18
11:40    30
11:41    10
11:42    24
11:43    18
11:44    20
11:45    18
11:46    19
11:47    15
11:48    10
11:49    13
11:50    18
11:51    13
11:52    17
11:53    23
11:54    19
11:55    15
11:56    13
11:57    21
11:58    21
11:59    22
12:00    42
12:01    18
12:02    16
12:03    14
12:04    11
12:05    11
12:06    11
12:07    11
12:08    16
12:09    13
12:10    12
12:11    16
12:12    22
12:13    14
12:14     9
12:15    21
12:16    14
12:17     5
12:18    16
12:19    18
12:20    23
12:21    12
12:22    13
12:23    15
12:24    10
12:25     6
12:26    12
12:27    11
12:28    14
12:29    10
12:30     9
12:31     8
12:32    12
12:33    14
12:34    11
12:35    12
12:36    11
12:37    22
12:38    13
12:39    11
12:40    19
12:41    11
12:42     9
12:43    15
12:44     6
12:45    15
12:46    15
12:47     9
12:48     6
12:49     8
12:50    23
12:51     7
12:52     7
12:53     9
12:54    12
12:55    14
12:56    10
12:57    11
12:58    15
12:59     7
13:00    13
13:01     7
13:02    11
13:03    12
13:04     5
13:05     7
13:06    12
13:07    12
13:08    13
13:09    10
13:10    10
13:11    10
13:12    14
13:13    11
13:14     5
13:15     8
13:16     6
13:17     9
13:18    10
13:19     9
13:20     6
13:21     7
13:22     8
13:23     9
13:24     6
13:25     3
13:26     7
13:27     3
13:28     7
13:29     5
13:30    20
13:31     7
13:32     4
13:33    10
13:34    11
13:35    10
13:36     4
13:37     5
13:38     7
13:39     8
13:40    11
13:41     7
13:42     7
13:43    14
13:44     7
13:45    11
13:46     8
13:47    11
13:48     7
13:49     6
13:50     9
13:51     8
13:52     4
13:53    12
13:54     5
13:55    15
13:56     7
13:57    11
13:58    10
13:59     5
14:00    12
14:01     6
14:02     9
14:03     4
14:04    10
14:05     8
14:06     4
14:07     5
14:08     4
14:09     6
14:10     9
14:11     6
14:12     5
14:13     6
14:14     6
14:15     7
14:16     4
14:17     5
14:18     2
14:19     3
14:20     7
14:21     6
14:22     7
14:23     4
14:24     6
14:25     4
14:26     5
14:27     1
14:28     6
14:29     1
14:30    15
14:31     4
14:32     5
14:33     4
14:34     5
14:35     9
14:36     5
14:37     4
14:38     2
14:39     2
14:40     7
14:41     5
14:42     5
14:43     3
14:44     4
14:45     8
14:46     5
14:47     7
14:48     7
14:49     6
14:50     8
14:51     2
14:52     7
14:53     4
14:54     7
14:55     3
14:56     3
14:57     4
14:58    10
14:59     3
15:00    20
15:01     5
15:02     2
15:03     5
15:04     2
15:05     2
15:06     3
15:07     2
15:08     4
15:09     2
15:10     6
15:12     4
15:13     1
15:14     4
15:15     3
15:16     1
15:17     3
15:18     3
15:19     2
15:20     3
15:22     1
15:23     1
15:24     2
15:25     3
15:26     2
15:27     1
15:28     3
15:29     1
15:30     5
15:31     1
15:32     1
15:34     3
15:35     3
15:36     3
15:38     1
15:39     3
15:40     3
15:41     5
15:42     2
15:43     1
15:44     4
15:45     3
15:46     2
15:48     4
15:49     2
15:50     1
15:51     1
15:53     2
15:54     1
15:55     5
15:56     1
15:57     1
15:58     1
15:59     1
16:00     4
16:02     4
16:03     1
16:04     1
16:05     6
16:06     1
16:08     3
16:10     4
16:11     1
16:13     2
16:16     1
16:18     2
16:19     2
16:20     3
16:21     1
16:22     1
16:23     1
16:24     3
16:29     2
16:30     1
16:32     2
16:33     3
16:35     2
16:37     1
16:38     2
16:39     1
16:40     2
16:43     1
16:44     2
16:45     2
16:46     1
16:47     1
16:49     1
16:50     1
16:51     1
16:52     1
16:54     2
16:55     2
16:57     2
16:58     1
17:00     1
17:01     1
17:02     1
17:03     1
17:04     1
17:06     1
17:07     1
17:08     1
17:11     1
17:16     1
17:17     1
17:19     1
17:20     1
17:24     2
17:25     1
17:26     1
17:30     2
17:31     1
17:34     1
17:35     1
17:36     2
17:40     1
17:42     1
17:44     1
17:46     2
17:48     2
17:52     2
17:53     2
17:54     3
17:55     2
17:56     1
17:59     2
18:00     1
18:02     1
18:08     1
18:12     1
18:23     2
18:29     1
18:31     1
18:32     1
18:41     1
18:45     1
18:46     1
18:49     2
18:50     1
18:53     1
19:00     1
19:02     1
19:06     1
19:12     1
19:22     1
19:26     1
19:30     1
19:32     1
19:33     1
19:37     1
19:39     1
19:52     1
20:00     2
20:04     1
20:23     1
20:27     1
20:33     1
20:37     1
20:54     1
20:56     1
21:28     1
21:30     1
22:22     1
23:12     1
24:26     1
24:54     2
25:00     2
25:25     1
27:03     1
27:22     1
29:01     1
30:00     1
5:00      2
5:05      1
5:15      1
5:46      1
5:48      1
6:07      1
6:17      1
6:19      1
6:20      1
6:35      1
6:41      1
6:45      2
7:00      1
7:10      1
7:12      1
7:13      1
7:15      1
7:19      1
7:21      3
7:23      1
7:26      1
7:27      1
7:28      1
7:29      2
7:30      3
7:31      1
7:32      4
7:33      1
7:34      1
7:35      1
7:36      1
7:37      4
7:38      2
7:39      1
7:40      1
7:41      4
7:42      1
7:43      1
7:44      1
7:45      1
7:46      1
7:47      4
7:48      3
7:49      3
7:50      6
7:51      3
7:52      2
7:53      4
7:54      1
7:55      5
7:56      3
7:57      1
7:58      6
7:59      4
8:00     11
8:01      5
8:02      5
8:03      2
8:04      9
8:05      2
8:06      2
8:07      6
8:08      3
8:09      4
8:10      4
8:11      5
8:12      8
8:13      4
8:14      6
8:15      6
8:16      3
8:17      5
8:18      5
8:19      5
8:20      2
8:21      7
8:22      3
8:23      2
8:24      9
8:25     10
8:26      9
8:27     11
8:28      7
8:29      6
8:30      9
8:31      9
8:32      9
8:33     12
8:34      9
8:35     12
8:36     11
8:37      7
8:38     12
8:39     10
8:40     10
8:41      8
8:42     11
8:43     13
8:44      7
8:45     12
8:46      9
8:47      7
8:48      9
8:49     14
8:50     13
8:51      8
8:52     12
8:53      7
8:54     15
8:55      5
8:56      9
8:57      9
8:58     18
8:59      9
9:00     12
9:01     13
9:02     16
9:03     14
9:04     11
9:05      9
9:06      9
9:07     18
9:08      7
9:09     14
9:10     16
9:11     15
9:12     14
9:13     13
9:14     17
9:15     15
9:16     13
9:17     12
9:18     18
9:19      6
9:20     17
9:21     21
9:22     14
9:23     12
9:24     18
9:25     11
9:26     28
9:27     19
9:28     15
9:29      7
9:30     18
9:31     13
9:32     20
9:33     12
9:34     16
9:35      8
9:36     25
9:37     12
9:38     21
9:39     14
9:40     14
9:41     24
9:42     23
9:43     26
9:44     18
9:45     20
9:46     24
9:47     19
9:48     29
9:49     11
9:50     16
9:51     17
9:52     22
9:53     18
9:54     28
9:55     21
9:56     19
9:57     21
9:58     28
9:59     21
Name: count, dtype: int64

In [227]:
# Replace values less than 60 or greater than 1800 with NaN
Pre_DT.loc[(Pre_DT['L1 Benchmark (sec)'] < 60) | (Pre_DT['L1 Benchmark (sec)'] > 1800), 'L1 Benchmark (sec)'] = pd.NaT

# Set 'L1 Benchmark (time)' to NaN for rows where 'Helen (sec)' is NaN
Pre_DT.loc[Pre_DT['L1 Benchmark (sec)'].isna(), 'L1 Benchmark (time)'] = pd.NaT

In [228]:
# Count the occurrences of each unique value in the 'col1' column
L1_value_counts = Pre_DT['L1 Benchmark (time)'].value_counts()

# Sort the value counts in descending order
L1_sorted_value_counts = L1_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(L1_sorted_value_counts)

L1 Benchmark (time)
10:40    1
10:48    1
10:52    1
11:00    1
11:17    1
11:30    1
14:39    1
15:00    1
15:48    1
1:00     2
20:00    1
30:00    1
3:38     1
3:39     1
3:46     1
3:47     1
3:48     1
3:49     1
3:52     1
3:56     1
3:59     1
4:04     1
4:10     2
4:11     2
4:12     3
4:13     1
4:15     1
4:20     1
4:21     1
4:23     1
4:24     1
4:26     1
4:27     2
4:28     1
4:33     1
4:34     2
4:37     1
4:39     1
4:40     1
4:43     4
4:44     2
4:45     1
4:48     1
4:50     1
4:51     1
4:52     2
4:53     3
4:54     1
4:55     1
5:00     2
5:02     1
5:03     1
5:04     1
5:05     2
5:06     1
5:07     1
5:10     2
5:12     1
5:14     1
5:15     1
5:17     1
5:18     1
5:20     1
5:23     1
5:25     2
5:26     1
5:28     1
5:30     2
5:31     2
5:34     1
5:35     1
5:36     1
5:37     1
5:46     1
5:50     2
5:53     3
5:55     2
5:56     3
5:57     1
5:58     2
5:59     1
6:00     2
6:01     1
6:03     3
6:08     1
6:09     1
6:10     1
6:12     2
6:14     1
6:15     2
6:16     1
6:17     2
6:19     2
6:20     1
6:22     1
6:23     1
6:30     4
6:36     1
6:37     1
6:43     2
6:51     1
6:53     2
6:55     1
6:56     1
7:00     1
7:01     1
7:07     1
7:12     1
7:24     1
7:26     2
7:30     1
7:42     2
7:43     1
7:45     1
7:48     1
7:49     1
7:58     1
8:01     1
8:20     1
8:30     1
8:36     2
8:40     1
9:01     1
9:18     1
9:50     1
9:54     1
9:57     1
Name: count, dtype: int64

In [229]:
# Replace values less than 600 or greater than 1800 with NaN
Pre_DT.loc[(Pre_DT['Run 5k (sec)'] < 600) | (Pre_DT['Run 5k (sec)'] > 3600), 'Run 5k (sec)'] = pd.NaT

# Set 'L1 Benchmark (time)' to NaN for rows where 'Helen (sec)' is NaN
Pre_DT.loc[Pre_DT['Run 5k (sec)'].isna(), 'Run 5k (time)'] = pd.NaT

In [230]:
# Count the occurrences of each unique value in the 'col1' column
Run5k_value_counts = Pre_DT['Run 5k (time)'].value_counts()

# Sort the value counts in descending order
Run5k_sorted_value_counts = Run5k_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(Run5k_sorted_value_counts)

Run 5k (time)
10:00      1
10:30      1
11:08      1
11:45      1
12:11      1
13:54      1
14:15      1
15:00      1
15:05      1
15:32      1
15:40      1
16:23      1
16:32      1
16:59      1
17:00      2
17:17      1
17:26      1
17:30      4
17:38      1
17:41      1
17:43      1
17:45      2
17:47      1
17:49      1
17:53      1
17:56      1
17:59      1
18:00      6
18:02      2
18:03      1
18:04      1
18:07      1
18:09      1
18:10      1
18:11      1
18:13      1
18:15      2
18:16      2
18:20      2
18:22      1
18:23      1
18:24      1
18:26      1
18:30      5
18:31      1
18:32      2
18:33      2
18:34      1
18:36      1
18:38      1
18:40      1
18:45      2
18:46      1
18:47      2
18:48      2
18:49      2
18:50      3
18:51      2
18:52      1
18:53      1
18:55      1
18:56      1
18:57      1
18:58      1
19:00     10
19:02      1
19:03      2
19:05      2
19:06      2
19:07      1
19:08      4
19:09      1
19:11      3
19:12      1
19:15      1
19:17      2
19:18      1
19:19      1
19:20      5
19:21      7
19:22      2
19:23      3
19:25      3
19:26      2
19:27      2
19:28      1
19:29      1
19:30     12
19:32      3
19:33      3
19:34      4
19:35      4
19:36      2
19:37      1
19:38      1
19:40      4
19:42      2
19:43      2
19:44      1
19:45      2
19:46      3
19:47      2
19:48      5
19:49      2
19:50      4
19:51      3
19:52      3
19:53      3
19:54      1
19:55      1
19:56      2
19:57      5
19:58      7
19:59      2
20:00     32
20:01      2
20:02      2
20:03      3
20:04      1
20:05      5
20:06      6
20:07      2
20:08      4
20:09      1
20:10      6
20:11      2
20:13      6
20:14      4
20:15      7
20:16      2
20:17      5
20:18      4
20:19      6
20:20      4
20:21      7
20:22      5
20:23      7
20:24      6
20:25      3
20:26      2
20:27      3
20:28      1
20:29      5
20:30     10
20:31      1
20:35      2
20:36      2
20:37      3
20:38      3
20:39      2
20:40      8
20:41      4
20:42      4
20:44      3
20:45     10
20:46      2
20:47      2
20:48      5
20:49      4
20:50     11
20:51      2
20:52      6
20:53      4
20:54      4
20:55      2
20:56      1
20:57      4
20:58      5
20:59      7
21:00     56
21:01      4
21:02      6
21:03      6
21:04      3
21:05      5
21:06      3
21:07      8
21:08      3
21:09      2
21:10      7
21:11      3
21:12      6
21:13      5
21:14      5
21:15      5
21:16      4
21:17      8
21:18      4
21:19      7
21:20     16
21:21      5
21:22      8
21:23      4
21:24      3
21:25      5
21:26      2
21:27      5
21:28      3
21:30     37
21:31      4
21:32      5
21:33      6
21:34      9
21:35      7
21:36      5
21:37      7
21:38      8
21:39      4
21:40      5
21:41      3
21:42      8
21:43      5
21:44      4
21:45     12
21:46      5
21:47      7
21:48      7
21:49      3
21:50     12
21:51      3
21:52      5
21:53      3
21:54      3
21:55      6
21:56      5
21:57      4
21:58      6
21:59      4
22:00     69
22:01      5
22:02      8
22:03      2
22:04      9
22:05      7
22:06      5
22:07      6
22:08      6
22:09      7
22:10     16
22:11      3
22:12      5
22:13      8
22:14      6
22:15     10
22:16      8
22:17      5
22:18      4
22:19      7
22:20      9
22:21      4
22:22     11
22:23      8
22:24      6
22:25      5
22:26      3
22:27      5
22:28      4
22:29      6
22:30     39
22:31      5
22:32     12
22:33      9
22:34      6
22:35      5
22:36      9
22:37      8
22:38      4
22:39      3
22:40     11
22:41      4
22:42      7
22:43      5
22:44      5
22:45      6
22:46      6
22:47      8
22:48      9
22:49      6
22:50     16
22:51      8
22:52      2
22:53      7
22:54      6
22:55      4
22:56      7
22:57      9
22:58      6
22:59      5
23:00     92
23:01      7
23:02      6
23:03     11
23:04      3
23:05      6
23:06      3
23:07      7
23:08      9
23:09      5
23:10     11
23:11      6
23:12     13
23:13      8
23:14      3
23:15     19
23:16     11
23:17      6
23:18      7
23:19      8
23:20     17
23:21     10
23:22     12
23:23      6
23:24     15
23:25     10
23:26      7
23:27      9
23:28      8
23:29      6
23:30     43
23:31      4
23:32      6
23:33      8
23:34     10
23:35      9
23:36     12
23:37      7
23:38     10
23:39      3
23:40     25
23:41     11
23:42      8
23:43      8
23:44      9
23:45     22
23:46      5
23:47     11
23:48     10
23:49      6
23:50     21
23:51      7
23:52     14
23:53      3
23:54     12
23:55      9
23:56      4
23:57     10
23:58     10
23:59      5
24:00    111
24:01     13
24:02      9
24:03      8
24:04      8
24:05     16
24:06      9
24:07      7
24:08     12
24:09      5
24:10     19
24:11      5
24:12     14
24:13      4
24:14      8
24:15     15
24:16      8
24:17      7
24:18     10
24:19      8
24:20     17
24:21      3
24:22     10
24:23     12
24:24      9
24:25     16
24:26     10
24:27     15
24:28     14
24:29      7
24:30     46
24:31      1
24:32     14
24:33      9
24:34      4
24:35     13
24:36      7
24:37      8
24:38     13
24:39      6
24:40     17
24:41      6
24:42      6
24:43      3
24:44      6
24:45     16
24:46      8
24:47      9
24:48     15
24:49     10
24:50     21
24:51      4
24:52      9
24:53     12
24:54     12
24:55     12
24:56     14
24:57      8
24:58     15
24:59     12
25:00    207
25:01     12
25:02     17
25:03     10
25:04      9
25:05     15
25:06      6
25:07     10
25:08     12
25:09      5
25:10     11
25:11      5
25:12      9
25:13      9
25:14     11
25:15     30
25:16      5
25:17      9
25:18      9
25:19      8
25:20     11
25:21      4
25:22     10
25:23      8
25:24     10
25:25     15
25:26     10
25:27     10
25:28      3
25:29      8
25:30     34
25:31      4
25:32     13
25:33     10
25:34     13
25:35     18
25:36     10
25:37     15
25:38     14
25:39      8
25:40     19
25:41      6
25:42     15
25:43      9
25:44      7
25:45     11
25:46      9
25:47     13
25:48     14
25:49      6
25:50     17
25:51      4
25:52      5
25:53      7
25:54      6
25:55     12
25:56      9
25:57      4
25:58     13
25:59     10
26:00     98
26:01      6
26:02     11
26:03      9
26:04     10
26:05      7
26:06      8
26:07      8
26:08      7
26:09     13
26:10      9
26:11      6
26:12     11
26:13     13
26:14      8
26:15     12
26:16     11
26:17     10
26:18     14
26:19      4
26:20     13
26:21      8
26:22      4
26:23     12
26:24     11
26:25      7
26:26     13
26:27     11
26:28     12
26:29      7
26:30     37
26:31     14
26:32     20
26:33     12
26:34      9
26:35     19
26:36      6
26:37      8
26:38      6
26:39     10
26:40     18
26:41      8
26:42     14
26:43     13
26:44      1
26:45     12
26:46      8
26:47      8
26:48     12
26:49      6
26:50     20
26:51      7
26:52     14
26:53      9
26:54      9
26:55      6
26:56     13
26:57     13
26:58      8
26:59      9
27:00    167
27:01      5
27:02      7
27:03      6
27:04      6
27:05      9
27:06      9
27:07      1
27:08      8
27:09      5
27:10     21
27:11      4
27:12     15
27:13     10
27:14      9
27:15     18
27:16      8
27:17      8
27:18      8
27:19     11
27:20     11
27:21     11
27:22      8
27:23     15
27:24      9
27:25     11
27:26     10
27:27     13
27:28     10
27:29     10
27:30     59
27:31     13
27:32     19
27:33      9
27:34     10
27:35     13
27:36      9
27:37     10
27:38     16
27:39      7
27:40     11
27:41      8
27:42     11
27:43      8
27:44      5
27:45     19
27:46      7
27:47     10
27:48      9
27:49      8
27:50     18
27:51      5
27:52      6
27:53      9
27:54     13
27:55     14
27:56      5
27:57      9
27:58     18
27:59      7
28:00    172
28:01      7
28:02     10
28:03      8
28:04      9
28:05     12
28:06      3
28:07      5
28:08     10
28:09      6
28:10     17
28:11     10
28:12     10
28:13     10
28:14     10
28:15     14
28:16      9
28:17      3
28:18      8
28:19      5
28:20     11
28:21      4
28:22      6
28:23      7
28:24      5
28:25      4
28:26      6
28:27      6
28:28     11
28:29     13
28:30     49
28:31     10
28:32     21
28:33     16
28:34     10
28:35     11
28:36     10
28:37      8
28:38     13
28:39     11
28:40     15
28:41      4
28:42     10
28:43      2
28:44      6
28:45     13
28:46      5
28:47      9
28:48     12
28:49      6
28:50     14
28:51      6
28:52     10
28:53      7
28:54      2
28:55      9
28:56      8
28:57      8
28:58      9
28:59      6
29:00     83
29:01     11
29:02      6
29:03      9
29:04      8
29:05      3
29:06      4
29:07      4
29:08      6
29:09      8
29:10     11
29:11      4
29:12      5
29:13      4
29:14      3
29:15     10
29:16      7
29:17      8
29:18      2
29:19      5
29:20     16
29:21      5
29:22      7
29:23      5
29:24      8
29:25      6
29:26      5
29:27      4
29:28     10
29:29     10
29:30     39
29:31      7
29:32      6
29:33      5
29:34     10
29:35     14
29:36      7
29:37      5
29:38     18
29:39      7
29:40     18
29:41      3
29:42      6
29:43      3
29:44      7
29:45      9
29:46      6
29:47      6
29:48      5
29:49      5
29:50     14
29:51      8
29:52      6
29:53      6
29:54      8
29:55      6
29:56      9
29:57      7
29:58     18
29:59     12
30:00    216
30:01      4
30:02      9
30:03      5
30:04      2
30:05      9
30:06      3
30:07      2
30:08      4
30:09      6
30:10      9
30:11      7
30:12      2
30:13      3
30:14      8
30:15     11
30:16      5
30:17      5
30:18      1
30:19      5
30:20      7
30:21      5
30:22      2
30:23      1
30:24      4
30:25      7
30:26      5
30:27      2
30:28      7
30:29      4
30:30     19
30:31      8
30:32      4
30:33      8
30:34      6
30:35      2
30:36      2
30:37      2
30:38      2
30:39      5
30:40      6
30:41      5
30:42      3
30:43      7
30:44      7
30:45      8
30:46      2
30:47      2
30:48      2
30:49      2
30:50     10
30:51      2
30:52      6
30:53      2
30:54      3
30:55      2
30:56      2
30:57      6
30:58      4
30:59      2
31:00     69
31:01      4
31:02      8
31:03      6
31:04      2
31:05      6
31:06      4
31:07      3
31:08      3
31:09      4
31:10      8
31:11      2
31:12      5
31:13      3
31:14      4
31:15      9
31:16      3
31:17      1
31:18      3
31:19      6
31:20      7
31:21      2
31:22      5
31:23      3
31:24      6
31:25      5
31:26      3
31:27      4
31:28      2
31:29      2
31:30     15
31:31      5
31:33      5
31:34      2
31:35      4
31:37      3
31:38      4
31:40      7
31:41      4
31:42      4
31:43      3
31:44      2
31:45      8
31:46      4
31:47      1
31:48      3
31:49      2
31:50      7
31:51      2
31:52      1
31:53      2
31:54      1
31:55      2
31:56      1
31:57      3
31:58      6
31:59      5
32:00     87
32:01      6
32:02      5
32:03      2
32:04      4
32:05      5
32:06      4
32:07      4
32:08      2
32:09      1
32:10      8
32:11      8
32:12      2
32:14      4
32:15     11
32:16      3
32:17      3
32:18      5
32:19      3
32:20      3
32:21      5
32:22      4
32:23      2
32:24      4
32:25      2
32:26      3
32:27      3
32:28      8
32:29      4
32:30     10
32:31      4
32:32      5
32:33      3
32:34      3
32:35      5
32:36      2
32:37      3
32:38      1
32:39      2
32:40      5
32:41      4
32:42      3
32:43      1
32:44      1
32:45      5
32:46      3
32:47      1
32:48     10
32:49      2
32:50      2
32:51      3
32:52      2
32:53      1
32:55      1
32:56      1
32:57      1
32:58      2
32:59      2
33:00     62
33:01      1
33:02      4
33:03      4
33:04      2
33:05      2
33:06      5
33:07      1
33:08      1
33:09      3
33:10     10
33:11      2
33:12      1
33:13      1
33:14      3
33:15      2
33:16      5
33:17      9
33:18      3
33:20      6
33:21      4
33:23      1
33:24      5
33:25      1
33:27      1
33:28      2
33:29      2
33:30      4
33:31      2
33:32      1
33:33      2
33:34      2
33:36      2
33:38      4
33:39      1
33:40      5
33:41      1
33:42      1
33:43      1
33:44      2
33:45      2
33:46      3
33:47      4
33:48      3
33:49      3
33:50      4
33:51      1
33:52      3
33:53      1
33:54      1
33:55      3
33:56      1
33:57      7
33:58      2
33:59      1
34:00     29
34:01      1
34:02      4
34:04      3
34:05      2
34:06      2
34:07      1
34:08      1
34:09      2
34:10      4
34:14      5
34:15      1
34:16      1
34:17      2
34:18      1
34:19      1
34:20     10
34:21      2
34:22      2
34:23      1
34:24      5
34:25      3
34:26      2
34:27      3
34:28      1
34:29      4
34:30      6
34:31      1
34:32      2
34:33      1
34:34      1
34:35      1
34:36      3
34:37      2
34:38      1
34:39      2
34:40      7
34:41      2
34:42      1
34:43      1
34:44      1
34:45      5
34:46      1
34:47      2
34:48      1
34:49      1
34:50      2
34:51      3
34:52      1
34:53      2
34:54      1
34:55      3
34:56      2
34:57      1
34:58      5
34:59      2
35:00     91
35:02      3
35:03      1
35:04      2
35:05      3
35:06      2
35:07      1
35:08      3
35:09      1
35:10      3
35:13      3
35:14      4
35:15      2
35:16      1
35:17      3
35:19      2
35:20      4
35:21      1
35:24      1
35:25      1
35:26      3
35:28      5
35:29      2
35:30      7
35:32      3
35:33      4
35:34      3
35:35      4
35:36      3
35:37      2
35:38      2
35:39      1
35:40      4
35:41      1
35:42      2
35:43      1
35:44      1
35:45      5
35:46      1
35:48      1
35:49      2
35:50      1
35:51      1
35:52      2
35:54      1
35:55      4
35:56      2
35:57      3
35:58      3
35:59      1
36:00     29
36:02      1
36:03      1
36:04      1
36:05      3
36:06      3
36:07      2
36:08      1
36:10      1
36:13      2
36:14      3
36:15      1
36:16      2
36:17      1
36:18      1
36:19      2
36:20      2
36:21      1
36:24      2
36:25      2
36:26      2
36:27      2
36:29      1
36:30      2
36:32      1
36:36      2
36:39      2
36:40      4
36:41      1
36:42      3
36:44      1
36:45      1
36:46      2
36:47      2
36:48      3
36:49      2
36:50      2
36:52      1
36:53      2
36:54      2
36:57      2
37:00     17
37:01      1
37:03      1
37:04      2
37:05      5
37:06      1
37:07      2
37:09      1
37:10      2
37:12      2
37:13      2
37:14      1
37:15      4
37:17      2
37:19      2
37:20      2
37:22      2
37:23      2
37:24      1
37:25      1
37:26      1
37:27      1
37:28      1
37:30      6
37:32      2
37:35      2
37:37      1
37:38      2
37:39      2
37:40      1
37:41      3
37:42      2
37:43      2
37:44      1
37:45      3
37:50      1
37:52      1
37:53      1
37:54      1
37:56      1
37:58      1
38:00     26
38:01      3
38:02      2
38:04      1
38:05      2
38:06      3
38:07      2
38:08      2
38:10      2
38:11      2
38:12      1
38:15      3
38:18      1
38:19      2
38:20      2
38:22      2
38:23      2
38:24      1
38:25      2
38:26      2
38:32      1
38:33      3
38:34      1
38:36      1
38:37      2
38:40      5
38:42      3
38:43      2
38:50      3
38:51      1
38:52      2
38:53      1
38:59      1
39:00      8
39:01      1
39:02      2
39:03      1
39:05      2
39:06      1
39:08      1
39:10      1
39:11      1
39:15      2
39:22      4
39:24      1
39:26      1
39:27      2
39:28      2
39:30      1
39:36      1
39:40      2
39:41      1
39:42      1
39:43      2
39:50      3
39:56      1
39:57      2
40:00     19
40:03      1
40:05      1
40:06      1
40:15      2
40:20      1
40:22      1
40:24      1
40:30      2
40:32      1
40:34      1
40:35      1
40:39      1
40:40      3
40:43      1
40:47      1
40:51      1
40:53      1
40:55      3
40:56      1
40:57      1
41:00      8
41:02      1
41:05      1
41:10      1
41:12      1
41:16      1
41:18      1
41:23      1
41:28      2
41:36      1
41:42      1
41:43      1
41:44      1
41:45      1
41:46      1
42:00      8
42:02      1
42:03      1
42:06      1
42:07      1
42:08      2
42:12      1
42:16      1
42:18      2
42:22      1
42:27      1
42:30      1
42:33      1
42:35      1
42:40      1
42:44      2
43:00      1
43:03      1
43:06      3
43:10      1
43:12      3
43:21      2
43:24      1
43:26      1
43:34      1
43:36      2
43:44      1
43:46      1
43:49      2
43:54      1
43:57      1
44:00      7
44:06      1
44:11      1
44:13      2
44:18      1
44:36      2
44:37      1
44:39      2
44:44      1
44:58      2
45:00     16
45:02      1
45:03      1
45:05      1
45:12      1
45:14      1
45:16      1
45:20      1
45:23      1
45:25      1
45:27      1
45:29      1
45:30      1
45:32      1
45:34      1
45:37      1
45:38      1
45:45      1
45:54      1
45:58      1
46:00      3
46:14      1
46:28      1
46:38      1
46:40      1
46:47      1
47:00      3
47:14      1
47:25      1
47:26      1
47:36      1
47:37      1
47:54      1
48:00      1
48:06      1
48:38      1
48:45      1
48:50      1
48:52      1
48:59      1
49:00      2
49:24      1
49:30      2
49:49      1
49:57      1
50:00      1
50:15      1
50:48      1
52:04      1
53:11      1
53:12      1
54:00      4
54:21      1
54:50      1
55:00      1
55:41      1
58:00      1
59:04      1
59:57      1
60:00      2
Name: count, dtype: int64

In [231]:
# Replace values less than 43 or greater than 600 with NaN
Pre_DT.loc[(Pre_DT['Sprint 400m (sec)'] < 43) | (Pre_DT['Sprint 400m (sec)'] > 600), 'Sprint 400m (sec)'] = pd.NaT

# Set 'L1 Benchmark (time)' to NaN for rows where 'Helen (sec)' is NaN
Pre_DT.loc[Pre_DT['Sprint 400m (sec)'].isna(), 'Sprint 400m (time)'] = pd.NaT

In [232]:
# Count the occurrences of each unique value in the 'col1' column
sprint_value_counts = Pre_DT['Sprint 400m (time)'].value_counts()

# Sort the value counts in descending order
sprint_sorted_value_counts = sprint_value_counts.sort_index()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the sorted counts
print(sprint_sorted_value_counts)

Sprint 400m (time)
0:43       2
0:45       4
0:49       1
0:50       3
0:52       5
0:54       3
0:55       5
0:56      13
0:57      17
0:58      23
0:59      23
10:00      1
1:00      44
1:01      19
1:02      39
1:03      26
1:04      38
1:05      46
1:06      34
1:07      43
1:08      24
1:09      45
1:10      71
1:11      21
1:12      55
1:13      27
1:14      58
1:15      91
1:16      49
1:17      62
1:18      70
1:19      64
1:20     112
1:21      53
1:22      57
1:23      59
1:24      47
1:25      86
1:26      50
1:27      55
1:28      77
1:29      46
1:30     146
1:31      53
1:32      62
1:33      48
1:34      47
1:35      97
1:36      43
1:37      50
1:38      47
1:39      37
1:40     112
1:41      32
1:42      36
1:43      38
1:44      19
1:45      98
1:46      32
1:47      34
1:48      26
1:49      16
1:50      61
1:51      16
1:52      17
1:53      28
1:54      18
1:55      26
1:56      22
1:57      19
1:58      22
1:59      17
2:00      91
2:01      10
2:02      13
2:03       8
2:04      10
2:05      17
2:06       8
2:07       8
2:08       9
2:09       8
2:10      17
2:11       5
2:12       4
2:13       6
2:14       3
2:15      10
2:16       2
2:17       5
2:18       9
2:19       4
2:20      14
2:21       1
2:22       3
2:23       4
2:24       2
2:25       6
2:26       4
2:28       2
2:29       4
2:30      19
2:31       2
2:35       6
2:36       3
2:38       3
2:39       2
2:40       6
2:42       1
2:43       1
2:44       1
2:45       7
2:46       1
2:48       1
2:50       3
2:52       1
2:58       1
3:00      15
3:01       1
3:04       1
3:09       1
3:11       1
3:13       1
3:15       1
3:18       1
3:20       1
3:25       1
3:29       1
3:30       4
3:32       1
3:34       1
3:38       1
3:41       1
3:51       1
4:00       5
4:03       1
4:10       1
4:15       2
4:30       2
5:00       1
5:02       1
5:12       1
6:00       1
7:00       1
7:22       1
7:30       1
7:51       1
Name: count, dtype: int64

In [233]:
Pre_DT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124928 entries, 0 to 124927
Data columns (total 46 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Athlete ID               124927 non-null  object
 1   Gender                   124926 non-null  object
 2   Competitor Name          124924 non-null  object
 3   Country Name             124678 non-null  object
 4   Region Name              124926 non-null  object
 5   Affiliate Name           113581 non-null  object
 6   Height (in)              47056 non-null   float64
 7   Age (Years)              124926 non-null  float64
 8   Weight (lbs)             42626 non-null   float64
 9   Overall Rank             124926 non-null  float64
 10  24.1 Rank                124926 non-null  float64
 11  24.2 Rank                124926 non-null  float64
 12  24.3 Rank                124926 non-null  float64
 13  2024 Rank                124928 non-null  float64
 14  2023 Rank                66615 non-null   float64
 15  2022 Rank                49990 non-null   float64
 16  2021 Rank                35211 non-null   float64
 17  2020 Rank                23701 non-null   float64
 18  2019 Rank                26323 non-null   float64
 19  2018 Rank                23609 non-null   float64
 20  2017 Rank                18105 non-null   float64
 21  2016 Rank                9810 non-null    float64
 22  2015 Rank                6575 non-null    float64
 23  2014 Rank                4551 non-null    float64
 24  2013 Rank                2494 non-null    float64
 25  2012 Rank                1157 non-null    float64
 26  2011 Rank                422 non-null     float64
 27  Back Squat (lbs)         25145 non-null   float64
 28  Deadlift (lbs)           26290 non-null   float64
 29  Clean and Jerk (lbs)     23069 non-null   float64
 30  Snatch (lbs)             21084 non-null   float64
 31  Fight Gone Bad (# reps)  4298 non-null    float64
 32  Filthy 50 (time)         2249 non-null    object
 33  Filthy 50 (sec)          2249 non-null    object
 34  Fran (time)              8472 non-null    object
 35  Fran (sec)               8472 non-null    object
 36  Grace (time)             7879 non-null    object
 37  Grace (sec)              7879 non-null    object
 38  Helen (time)             5695 non-null    object
 39  Helen (sec)              5695 non-null    object
 40  L1 Benchmark (time)      169 non-null     object
 41  L1 Benchmark (sec)       169 non-null     object
 42  Run 5k (time)            8653 non-null    object
 43  Run 5k (sec)             8653 non-null    object
 44  Sprint 400m (time)       3385 non-null    object
 45  Sprint 400m (sec)        3385 non-null    object
dtypes: float64(26), object(20)
memory usage: 43.8+ MB

In [234]:
# Filter columns by data type
datetime_columns = Pre_DT.select_dtypes(include=['datetime64']).columns

# Drop the column 'Fran 50 (sec)' if it's in the datetime columns list
if 'Fran 50 (sec)' in datetime_columns:
    Pre_DT.drop(columns=['Fran 50 (sec)'], inplace=True)

In [235]:
Pre_DT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124928 entries, 0 to 124927
Data columns (total 46 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Athlete ID               124927 non-null  object
 1   Gender                   124926 non-null  object
 2   Competitor Name          124924 non-null  object
 3   Country Name             124678 non-null  object
 4   Region Name              124926 non-null  object
 5   Affiliate Name           113581 non-null  object
 6   Height (in)              47056 non-null   float64
 7   Age (Years)              124926 non-null  float64
 8   Weight (lbs)             42626 non-null   float64
 9   Overall Rank             124926 non-null  float64
 10  24.1 Rank                124926 non-null  float64
 11  24.2 Rank                124926 non-null  float64
 12  24.3 Rank                124926 non-null  float64
 13  2024 Rank                124928 non-null  float64
 14  2023 Rank                66615 non-null   float64
 15  2022 Rank                49990 non-null   float64
 16  2021 Rank                35211 non-null   float64
 17  2020 Rank                23701 non-null   float64
 18  2019 Rank                26323 non-null   float64
 19  2018 Rank                23609 non-null   float64
 20  2017 Rank                18105 non-null   float64
 21  2016 Rank                9810 non-null    float64
 22  2015 Rank                6575 non-null    float64
 23  2014 Rank                4551 non-null    float64
 24  2013 Rank                2494 non-null    float64
 25  2012 Rank                1157 non-null    float64
 26  2011 Rank                422 non-null     float64
 27  Back Squat (lbs)         25145 non-null   float64
 28  Deadlift (lbs)           26290 non-null   float64
 29  Clean and Jerk (lbs)     23069 non-null   float64
 30  Snatch (lbs)             21084 non-null   float64
 31  Fight Gone Bad (# reps)  4298 non-null    float64
 32  Filthy 50 (time)         2249 non-null    object
 33  Filthy 50 (sec)          2249 non-null    object
 34  Fran (time)              8472 non-null    object
 35  Fran (sec)               8472 non-null    object
 36  Grace (time)             7879 non-null    object
 37  Grace (sec)              7879 non-null    object
 38  Helen (time)             5695 non-null    object
 39  Helen (sec)              5695 non-null    object
 40  L1 Benchmark (time)      169 non-null     object
 41  L1 Benchmark (sec)       169 non-null     object
 42  Run 5k (time)            8653 non-null    object
 43  Run 5k (sec)             8653 non-null    object
 44  Sprint 400m (time)       3385 non-null    object
 45  Sprint 400m (sec)        3385 non-null    object
dtypes: float64(26), object(20)
memory usage: 43.8+ MB

In [236]:
Pre_DT.head()

,Athlete ID,Gender,Competitor Name,Country Name,Region Name,Affiliate Name,Height (in),Age (Years),Weight (lbs),Overall Rank,24.1 Rank,24.2 Rank,24.3 Rank,2024 Rank,2023 Rank,2022 Rank,2021 Rank,2020 Rank,2019 Rank,2018 Rank,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank,2012 Rank,2011 Rank,Back Squat (lbs),Deadlift (lbs),Clean and Jerk (lbs),Snatch (lbs),Fight Gone Bad (# reps),Filthy 50 (time),Filthy 50 (sec),Fran (time),Fran (sec),Grace (time),Grace (sec),Helen (time),Helen (sec),L1 Benchmark (time),L1 Benchmark (sec),Run 5k (time),Run 5k (sec),Sprint 400m (time),Sprint 400m (sec)
0,1775.0,F,Daniella Verhoest,United States,North America East,CrossFit 908,62.0,35.0,145.0,6060.0,8409.0,11310.0,4587.0,6060.0,1556.0,1921.0,1248.0,978.0,786.0,1203.0,7011.0,NaN,4704.0,4074.0,NaN,7217.0,NaN,303.0000,345.00000,231.00000,190.00000,NaN,NaT,NaT,2:37,157,1:54,114,10:22,622,NaT,NaT,NaT,NaT,NaT,NaT
1,1755.0,F,Robin Warnick,United States,North America East,CrossFit Terminus,66.0,47.0,145.0,70388.0,59325.0,109744.0,46306.0,70388.0,NaN,NaN,NaN,NaN,14769.0,20353.0,14188.0,8850.0,7446.0,8116.0,12165.0,9301.0,NaN,245.0000,265.00000,165.00000,120.00000,293.0,NaT,NaT,4:29,269,2:25,145,11:09,669,NaT,NaT,25:08,1508,1:20,80
2,1802.0,F,Melissa Kiel,United States,North America East,East Ormond Beach CrossFit,69.0,42.0,165.0,37421.0,62869.0,36822.0,23411.0,37421.0,14274.0,82750.0,17629.0,NaN,8785.0,5435.0,8117.0,7161.0,1794.0,5121.0,1126.0,1289.0,1185.0,250.0000,330.00000,200.00000,160.00000,320.0,NaT,NaT,3:30,210,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1:23,83
3,1751.0,F,Philippa Robinson,Australia,Oceania,Ocean Fitness CrossFit,68.0,41.0,216.0,35925.0,60287.0,28032.0,30128.0,35925.0,17813.0,NaN,NaN,NaN,32938.0,53678.0,8417.0,12282.0,NaN,NaN,84.0,712.0,418.0,264.5544,365.96692,213.84814,160.93726,NaN,22:54,1374,3:39,219,1:52,112,9:11,551,NaT,NaT,NaT,NaT,NaT,NaT
4,1659.0,F,Camas Barkemeyer,United States,North America West,CrossFit Kodiak Island,68.0,42.0,150.0,3944.0,11689.0,2850.0,1888.0,3944.0,NaN,1781.0,NaN,NaN,NaN,1628.0,864.0,510.0,582.0,5986.0,1042.0,2213.0,NaN,300.0000,350.00000,235.00000,190.00000,NaN,NaT,NaT,2:15,135,NaT,NaT,NaT,NaT,NaT,NaT,23:51,1431,1:00,60

In [237]:
#Output Crossfit to a CSV file
Pre_DT.to_csv('Crossfit_Women.csv', index=False)

In [238]:
# Assuming Pre_DT is your DataFrame containing the data
# Define the affiliate name
affiliate_name = "CrossFit Y'All"

# Filter out rows with the specific affiliate name
Victory = Pre_DT[Pre_DT["Affiliate Name"] == affiliate_name]

# Print or use the filtered DataFrame
print(Victory)

# Export Victory to Excel
Victory.to_excel("Victory_Data_Women.xlsx", index=False)  # This will export the DataFrame to an Excel file named "Victory_Data.xlsx" without the index column

       Athlete ID Gender  Competitor Name   Country Name         Region Name  \
14703    759524.0      F   Ali Amalfitano  United States  North America East
21267     1011003      F    Hannah Steele  United States  North America East
27483     1259388      F     Tammy Ahlers  United States  North America East
56655     2079506      F  Chloe Parsemain         France              Europe
66070     2209260      F       Eryn Wolfe  United States  North America East
119660    2704018      F       Ana Guzman  United States  North America East

        Affiliate Name  Height (in)  Age (Years)  Weight (lbs)  Overall Rank  \
14703   CrossFit Y'All         61.0         38.0         120.0       10299.0
21267   CrossFit Y'All         64.0         31.0         135.0       93795.0
27483   CrossFit Y'All          NaN         49.0           NaN       78146.0
56655   CrossFit Y'All         63.0         28.0         160.0       38593.0
66070   CrossFit Y'All         68.0         26.0         160.0      104186.0
119660  CrossFit Y'All          NaN         34.0           NaN      135342.0

        24.1 Rank  24.2 Rank  24.3 Rank  2024 Rank  2023 Rank  2022 Rank  \
14703     16066.0    18656.0     4223.0    10299.0     4532.0    18346.0
21267    108572.0   128257.0    39208.0    93795.0        NaN        NaN
27483     89548.0    84850.0    61217.0    78146.0    78965.0    63394.0
56655     44724.0    68916.0    13062.0    38593.0     6844.0    21510.0
66070     55328.0   128257.0   115747.0   104186.0    42877.0   115194.0
119660   128976.0   128257.0   115747.0   135342.0        NaN        NaN

        2021 Rank  2020 Rank  2019 Rank  2018 Rank  2017 Rank  2016 Rank  \
14703      7868.0     4669.0    11515.0    10482.0    25020.0    21510.0
21267         NaN    16727.0    46743.0    34760.0    62336.0        NaN
27483     73009.0    60046.0    83796.0   138742.0        NaN        NaN
56655     47048.0        NaN        NaN        NaN        NaN        NaN
66070         NaN        NaN        NaN        NaN        NaN        NaN
119660        NaN        NaN        NaN        NaN        NaN        NaN

        2015 Rank  2014 Rank  2013 Rank  2012 Rank  2011 Rank  \
14703         NaN        NaN        NaN        NaN        NaN
21267         NaN        NaN        NaN        NaN        NaN
27483         NaN        NaN        NaN        NaN        NaN
56655         NaN        NaN        NaN        NaN        NaN
66070         NaN        NaN        NaN        NaN        NaN
119660        NaN        NaN        NaN        NaN        NaN

        Back Squat (lbs)  Deadlift (lbs)  Clean and Jerk (lbs)  Snatch (lbs)  \
14703              225.0           235.0                 180.0         150.0
21267                NaN             NaN                   NaN           NaN
27483                NaN             NaN                   NaN           NaN
56655              275.0           260.0                 185.0         150.0
66070              255.0           315.0                 185.0           NaN
119660               NaN             NaN                   NaN           NaN

        Fight Gone Bad (# reps) Filthy 50 (time) Filthy 50 (sec) Fran (time)  \
14703                     263.0              NaT             NaT        2:43
21267                       NaN              NaT             NaT         NaT
27483                       NaN              NaT             NaT         NaT
56655                     294.0            26:34            1594        5:01
66070                       NaN              NaT             NaT         NaT
119660                      NaN              NaT             NaT         NaT

       Fran (sec) Grace (time) Grace (sec) Helen (time) Helen (sec)  \
14703         163         2:26         146         8:38         518
21267         NaT          NaT         NaT          NaT         NaT
27483         NaT          NaT         NaT          NaT         NaT
56655         301         2:45         165        11:39         699
66070         NaT          NaT         NaT          NaT         NaT
119660        NaT          NaT         NaT          NaT         NaT

       L1 Benchmark (time) L1 Benchmark (sec) Run 5k (time) Run 5k (sec)  \
14703                  NaT                NaT           NaT          NaT
21267                  NaT                NaT           NaT          NaT
27483                  NaT                NaT           NaT          NaT
56655                  NaT                NaT         26:54         1614
66070                  NaT                NaT           NaT          NaT
119660                 NaT                NaT           NaT          NaT

       Sprint 400m (time) Sprint 400m (sec)
14703                 NaT               NaT
21267                 NaT               NaT
27483                 NaT               NaT
56655                 NaT               NaT
66070                 NaT               NaT
119660                NaT               NaT